<header class="header">
  <div class="black-main-menu white-main-menu">
      <div class="container">
          <div class="row">
              <nav class="navbar-default">
                  <div class="navbar-header">
                      <div class="hidden-lg hidden-md col-sm-2 col-xs-2">
                          <div class="mob-menu-button-block">
                              <button type="button" class="navbar-toggle collapsed">
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                                  <span class="icon-bar"></span>
                              </button>
                          </div>
                      </div>
                      <div class="hidden-lg hidden-md col-sm-8 col-xs-8 text-center">
                          <div class="mob-logo">
                              <a href="/">
                                  <img src="https://niko-m.ru/img/logo.png" alt="Рекламное агенство НИКО-медиа">
                              </a>
                          </div>
                          <a class="choose-city-header" href="#" data-toggle="modal" data-target="#set-city">Выбрать город</a>
                      </div>
                      <div class="hidden-lg hidden-md col-sm-2 col-xs-2 text-right">
                          <div class="mob-tel-portf-block">
                              <div class="mob-tel">
                                  <a href="tel:+78003505792">
                                      <img src="https://niko-m.ru/img/icon-top-tel.png" alt="">
                                  </a>
                              </div>
                          </div>
                      </div>
                  </div>
              </nav>
          </div>
      </div>
  </div>

  <div class="main-slogan-block">
      <div class="container">
          <div class="header-desktop">
              <div class="logo">
                  <a href="/"><img src="https://niko-m.ru/img/logo.png" alt="" width="244" height="40"></a>
              </div>
              <div class="set-city-box">
                  <a data-toggle="modal" data-target="#set-city">Город не выбран</a>
                  <div class="confirm-city">
                      <a class="basket-block-body-dell-item" data-slug="" title="Закрыть"></a>
                      <span class="confirm-city__title">Выберите город, в котором хотите заказать рекламу</span>
                      <div class="confirm-city__block">
                          <button class="confirm-city__btn" data-toggle="modal" data-target="#set-city">
                              Выбрать город
                          </button>
                      </div>
                  </div>
              </div>
              <div class="slogan">
                  <div class="blue-title">Рекламное агентство НИКО-медиа</div>
                  <div class="slogan-box">
                      <span>Честно</span>
                      <span>Эффективно</span>
                      <span>Внимательно!</span>
                  </div>
              </div>
              <div class="phone">
                  <div class="phone-namber">
                      <p><span>+7 800 350-57-92</span></p>
                  </div>
                  <a class="callus-link" href="#callbackwidget">Перезвоните мне</a>
              </div>
              
              <div class="modal fade" id="set-city" tabindex="-1" role="dialog" ria-labelledby="zakaz-zvonka-title" aria-hidden="true" data-back_url="">
                  <div class="modal-dialog" role="document">
                      <div class="modal-content">
                          <div class="modal-header">
                              <div class="row">
                                  <div class="col-md-5 col-xs-12">
                                      <h3 class="modal-title" id="myModalLabel">Выберите свой город</h3>
                                  </div>
                                  <div class="col-md-6 col-xs-12">
                                      <div class="city-search">
                                          <input type="text" id="set-city-search" placeholder="Название города">
                                          <input type="submit" name="submit">
                                      </div>
                                  </div>
                              </div>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                  <span class="close-set-city" aria-hidden="true"></span></button>
                          </div>
                          <div class="modal-body"></div>
                      </div>
                  </div>
              </div>
              <div class="modal fade" id="feedback-form" tabindex="-1" role="dialog" aria-labelledby="feedback-form-title" aria-hidden="true">
                  <div class="modal-dialog">
                      <div class="form-header text-center">
                          <a class="form-close" data-dismiss="modal" aria-hidden="true">
                              <span class="close-one"></span>
                              <span class="close-two"></span>
                          </a>
                          <h4 id="zakaz-zvonka-title">Написать нам</h4>
                      </div>
                      <div class="form-body"></div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <div class="container">
    <div class="new-breadcrumbs-menu-wrapper">
      <div class="breadcrumbs" itemscope="" itemtype="http://schema.org/BreadcrumbList">
        <ul class="breadcrumb">
          <li>
            <a href="/">
              <span itemprop="name">Главная</span>
            </a>
          </li>
          <li class="active" itemprop="itemListElement" itemscope="" itemtype="http://schema.org/ListItem">
            <span>
              <span itemprop="name">ТНТ в Лянторе</span>
              <meta itemprop="position" content="2">
            </span>
          </li>
        </ul>
      </div>
      <div class="new-menu-wrapper">
        <div class="new-menu new-menu--dropdown">
          <span>
            МЕНЮ
            <svg width="20" height="20" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path d="M1.65094 4.19818C0.707547 4.19818 0 3.49063 0 2.54723C0 1.60384 0.707547 0.849121 1.65094 0.849121H18.3019C19.2453 0.849121 20 1.60384 20 2.54723C20 3.49063 19.2453 4.19818 18.3019 4.19818H1.65094Z"/>
              <path d="M18.3019 8.302C19.2453 8.302 20 9.05672 20 10.0001C20 10.9435 19.2453 11.6511 18.3019 11.6511H1.65094C0.707547 11.6511 0 10.9435 0 10.0001C0 9.05672 0.707547 8.302 1.65094 8.302H18.3019Z"/>
              <path d="M18.3019 15.802C19.2453 15.802 20 16.5095 20 17.4529C20 18.3963 19.2453 19.1511 18.3019 19.1511H1.65094C0.707547 19.1511 0 18.3963 0 17.4529C0 16.5095 0.707547 15.802 1.65094 15.802H18.3019Z"/>
            </svg>
          </span>
          <ul class="new-dropdown new-dropdown--main">
            <li><a href="#">Контакты</a></li>
            <li><a href="#">Комплексная реклама</a></li>
            <li><a href="#">О компании</a></li>
            <li><a href="#">Рекламные кейсы</a></li>
            <li><a href="#">Отзывы</a></li>
            <li><a href="#">Примеры наших работ</a></li>
            <li><a href="#">Вопросы и ответы</a></li>
            <li><a href="#">Реклама в городах</a></li>
            <li class="new-menu--dropdown new-menu--dropdown-sub">
              <a href="#">УСЛУГИ</a>
              <ul class="new-dropdown">
                <li>
                  <a href="#">Услуга 1</a>
                </li>
              </ul>
            </li>
          </div>
      </div>
    </div>
    
   
  </div>
</header>