<template>
  <div class="vubor-kanala">
    <div class="section">
      <h2>1. Выберите тип рекламы</h2>
      <Types :types="types" :value="basket.advType.value" @value="changeType" />
    </div>
    <div class="kanal-block section">
      <h2>2. Выберите телеканал в городе</h2>
      <p>Каждый телеканал авторизовал нас на размещение рекламных роликов.</p>
      <div v-if="regions !== null" class="kanal-block__select">
        <p class="cust-select-label"><small>Выберите город:</small></p>
        <div class="cust-select-wrapper">
          <Cities :value="city" :regions="regions" @value="changeCity" />
          <preloader v-if="showCityPreLoader" />
          <!--          <div class="cust-select-notice">-->
          <!--            <svg width="10" height="30" viewBox="0 0 10 30" fill="none" xmlns="http://www.w3.org/2000/svg">-->
          <!--              <path d="M7.72658 22.5001H2.27201C1.90261 22.5001 1.58298 22.6352 1.31298 22.9049C1.0432 23.1748 0.908203 23.4942 0.908203 23.8636V28.6363C0.908203 29.0055 1.0432 29.3252 1.31298 29.5955C1.58321 29.8649 1.90253 30.0001 2.27201 30.0001H7.72703C8.09584 30.0001 8.41562 29.8649 8.68584 29.5955C8.95524 29.3253 9.09032 29.0056 9.09032 28.6363V23.8636C9.09032 23.4943 8.95502 23.1749 8.68532 22.9049C8.41539 22.635 8.09561 22.5001 7.72658 22.5001Z" fill="#34547A"/>-->
          <!--              <path d="M9.3566 0.404778C9.09384 0.135225 8.77787 0 8.40832 0H1.59047C1.22121 0 0.905392 0.135225 0.642481 0.404778C0.379719 0.674705 0.255465 0.994483 0.269644 1.36374L0.866063 17.7269C0.880243 18.0961 1.02569 18.4161 1.30278 18.6856C1.57972 18.9558 1.90286 19.0909 2.27226 19.0909H7.72727C8.09608 19.0909 8.41914 18.9558 8.69675 18.6856C8.97362 18.4162 9.11862 18.0962 9.13347 17.7269L9.72952 1.36374C9.74429 0.994483 9.61944 0.675004 9.3566 0.404778Z" fill="#34547A"/>-->
          <!--            </svg>-->
          <!--            <p><span>Телеканалов “СТС” , “ТНТ”</span> в городе нет </p>-->
          <!--          </div>-->
        </div>
      </div>

      <!--      <p class="kanal-block__text">Реклама на телеканале <span>ТНТ</span> в городе Нефтеюганск Возможна, однако реклама будет показываться также и в городах Сургут, Пыть-Ях</p>-->
      <!--      <p class="kanal-block__text">Реклама на телеканале <span>СТС</span> в городе Нефтеюганск Возможна, однако реклама будет показываться также и в городах Тюмень, Нижневартовск</p>-->

      <offers :offers="offers.items" :basket-items="basket.items" @change="changeOffer" />

      <div v-if="offers.offset !== null" class="text-center all-kanal-link">
        <preloader v-if="showLimitPreLoader" />
        <a v-else href="#" @click.prevent="showMore">Показать еще {{ defaultLimit }} предложений</a>
      </div>
    </div>

    <div class="new-calc">
      <h2>3. Калькулятор стоимости</h2>
      <p>Вы можете пропустить этот шаг, и не заполнять его. Мы свяжемся с вами и обсудим все детали по телефону</p>
      <div class="table-wrapper">
        <table :class="basket.count === 0 ? 'disabled' : ''">
          <thead>
          <tr>
            <td>Телеканал</td>
            <td>Длительность<br> ролика в сек.</td>
            <td>Кол-во прокатов<br> ролика в день</td>
            <td>Кол-во дней<br> проката ролика</td>
            <td>Итого</td>
          </tr>
          </thead>
          <tbody>
          <CalcItem
              v-for="item in items"
              :item="item"
              :mustCalculate="basket.advType.mustCalculate"
              :key="item.offer.id"
              :showPreloader="preLoaders.indexOf(item.offer.id) >= 0"
              @delete="deleteFromBasket"
              @change="updateBasketItem"
          />
          <tr class="new-calc__conclusion">
            <td colspan="4">
              <span v-if="basket.total.price !== null">
                Итог
              </span>
            </td>
            <td>
              <p v-if="basket.total.oldPrice !== null" class="new-calc__old-price"><small>{{ basket.total.oldPrice }} руб.</small></p>
              <p v-if="basket.total.price !== null" class="new-calc__price"><strong>{{ basket.total.price }} руб.</strong></p>
              <p v-if="basket.total.profit !== null" class="new-calc__text">Ваша выгода {{ basket.total.profit }} руб.</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 plan-prokata">
      <div class="basket-link-box">
        <b>Создание плана проката</b>
        <em>Отвечает на вопрос где и когда будет показываться ваша реклама</em>
      </div>
    </div>
    <div v-if="basket.count > 0" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bay-now">
      <a data-toggle="modal" data-target="#order" href="#" class="yellow-btn">Оформить заявку</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a data-toggle="modal" data-target="#feedback-form" href="#" class="yellow-btn">Задать вопрос</a>
    </div>
  </div>
</template>

<script>
import Types from './components/new-tv/Types';
import Cities from './components/tv/Cities';
import Offers from './components/new-tv/Offers';
import CalcItem from './components/new-tv/CalcItem';
import Preloader from './components/new-tv/Preloader';

export default {
  name: "Tv",
  props: ['types', 'regions', 'defaultOffers', 'defaultBasket', 'defaultLimit', 'defaultCityId'],
  components: {Preloader, Types, Cities, Offers, CalcItem},
  data() {
    return {
      city: this.defaultCityId,
      offers: this.defaultOffers,
      offset: 0,
      replaceOffers: false,
      basket: this.defaultBasket,
      preLoaders: [],
      showLimitPreLoader: false,
      showCityPreLoader: false
    };
  },
  computed: {
    items() {
      return this.basket.items;
    },
    totalDuration() {
      if (this.basket.advType.mustCalculate && this.basket.total.duration !== null) {
        if (this.basket.total.duration > 60) {
          let minutes = Math.floor(this.basket.total.duration / 60);
          return minutes + ' мин ' + (this.basket.total.duration - minutes * 60) + ' сек.';
        } else {
          return this.basket.total.duration + ' сек.'
        }
      }
    }
  },
  methods: {
    changeType(value) {
      this.basket.advType = value;
      this.$http.get("/tv/update-basket", {params: {type: value}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    changeCity(value) {
      this.city = value;
      this.offset = 0;
      this.showCityPreLoader = true;
      this.getOffers();
    },
    showMore() {
      this.offset = this.offers.offset;
      this.showLimitPreLoader = true;
      this.getOffers();
    },
    getOffers() {
      this.$http.get("/tv/offers", {params: {cityId: this.city, offset: this.offset}})
          .then((response) => {
            if (this.offset === 0) {
              this.offers = response.data;
            } else {
              this.offers.offset = response.data.offset;
              response.data.items.forEach((offer) => {
                this.offers.items.push(offer);
              })
            }
          })
          .finally(() => {
            this.showLimitPreLoader = false;
            this.showCityPreLoader = false;
          })
      ;
    },
    changeOffer(offer) {
      if (offer.checked) {
        this.addToBasket(offer.value);
      } else {
        this.deleteFromBasket(offer.value);
      }
    },
    addToBasket(offerId) {
      this.$http.get("/tv/add-to-basket", {params: {offer: offerId}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    deleteFromBasket(offerId) {
      this.$http.get("/tv/delete-from-basket", {params: {offer: offerId}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    updateBasketItem: function(data) {
      if (this.preLoaders.indexOf(data.offerId) < 0) {
        this.preLoaders.push(data.offerId);
      }
      this.$http.get("/tv/update-basket-item", {
        params: {
          offer: data.offerId,
          duration: data.duration,
          'views-per-day': data.viewsPerDay,
          days: data.days,
        }
      })
          .then((response) => {
            this.basket = response.data;
          })
          .finally(() => {
            if (this.preLoaders.indexOf(data.offerId) >= 0) {
              this.preLoaders.splice(this.preLoaders.indexOf(data.offerId), 1);
            }
          })
      ;
    }
  }
}
</script>

<style scoped>

</style>
