<template>
  <div class="vubor-kanala">
    <div class="kanal-block section">
      <h2>1. Выберите радиостанцию в городе</h2>
      <div v-if="regions !== null" class="kanal-block__select">
        <p class="cust-select-label"><small>Выберите город:</small></p>
        <div class="cust-select-wrapper">
          <Cities :value="city" :regions="regions" @value="changeCity" />
          <preloader v-if="showCityPreLoader" />
        </div>
      </div>
      <offers :offers="offers.items" :basket-items="basket.items" @change="changeOffer" />

      <div v-if="offers.offset !== null" class="text-center all-kanal-link">
        <preloader v-if="showLimitPreLoader" />
        <a v-else href="#" @click.prevent="showMore">Показать еще {{ defaultLimit }} предложений</a>
      </div>
    </div>

    <div class="section">
      <h2>2. Выберите тип рекламы</h2>
      <Types :types="types" :value="basket.advType.value" @value="changeType" />
    </div>

    <div class="new-calc">
      <h2>3. Калькулятор стоимости</h2>
      <p>Вы можете пропустить этот шаг, и не заполнять его. Мы свяжемся с вами и обсудим все детали по телефону</p>
      <div class="table-wrapper">
        <table :class="basket.count === 0 ? 'disabled' : ''">
          <thead>
          <tr>
            <td>Радиостанция</td>
            <td>Длительность<br> ролика в сек.</td>
            <td>Кол-во прокатов<br> ролика в день</td>
            <td>Кол-во дней<br> проката ролика</td>
            <td>Итого</td>
          </tr>
          </thead>
          <tbody>
          <CalcItem
              v-for="item in items"
              :item="item"
              :mustCalculate="basket.advType.mustCalculate"
              :key="item.offer.id"
              :showPreloader="preLoaders.indexOf(item.offer.id) >= 0"
              @delete="deleteFromBasket"
              @change="updateBasketItem"
          />
          <tr class="new-calc__conclusion">
            <td colspan="4">
              <span v-if="basket.total.price !== null">
                Итог
              </span>
            </td>
            <td>
              <p v-if="basket.total.oldPrice !== null" class="new-calc__old-price"><small>{{ basket.total.oldPrice }} руб.</small></p>
              <p v-if="basket.total.price !== null" class="new-calc__price"><strong>{{ basket.total.price }} руб.</strong></p>
              <p v-if="basket.total.profit !== null" class="new-calc__text">Ваша выгода {{ basket.total.profit }} руб.</p>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 plan-prokata">
      <div class="basket-link-box">
        <b>Создание плана проката</b>
        <em>Отвечает на вопрос где и когда будет показываться ваша реклама</em>
      </div>
    </div>
    <div v-if="basket.count > 0" class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bay-now">
      <a data-toggle="modal" data-target="#order" href="#" class="yellow-btn">Оформить заявку</a>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
      <a data-toggle="modal" data-target="#feedback-form" href="#" class="yellow-btn">Задать вопрос</a>
    </div>
  </div>
</template>

<script>
import Types from './components/new-tv/Types';
import Cities from './components/tv/Cities';
import Offers from './components/new-tv/Offers';
import CalcItem from './components/new-tv/CalcItem';
import Preloader from './components/new-tv/Preloader';

export default {
  name: "Radio",
  props: ['types', 'regions', 'defaultOffers', 'defaultBasket', 'defaultLimit', 'defaultCityId'],
  components: {Preloader, Types, Cities, Offers, CalcItem},
  data() {
    return {
      city: this.defaultCityId,
      offers: this.defaultOffers,
      offset: 0,
      replaceOffers: false,
      basket: this.defaultBasket,
      preLoaders: [],
      showLimitPreLoader: false,
      showCityPreLoader: false
    };
  },
  computed: {
    items() {
      return this.basket.items;
    },
    totalDuration() {
      if (this.basket.advType.mustCalculate && this.basket.total.duration !== null) {
        if (this.basket.total.duration > 60) {
          let minutes = Math.floor(this.basket.total.duration / 60);
          return minutes + ' мин ' + (this.basket.total.duration - minutes * 60) + ' сек.';
        } else {
          return this.basket.total.duration + ' сек.'
        }
      }
    }
  },
  methods: {
    changeType(value) {
      this.basket.advType = value;
      this.$http.get("/radio/update-basket", {params: {type: value}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    changeCity(value) {
      this.city = value;
      this.offset = 0;
      this.showCityPreLoader = true;
      this.getOffers();
    },
    showMore() {
      this.offset = this.offers.offset;
      this.showLimitPreLoader = true;
      this.getOffers();
    },
    getOffers() {
      this.$http.get("/radio/offers", {params: {cityId: this.city, offset: this.offset}})
          .then((response) => {
            if (this.offset === 0) {
              this.offers = response.data;
            } else {
              this.offers.offset = response.data.offset;
              response.data.items.forEach((offer) => {
                this.offers.items.push(offer);
              })
            }
          })
          .finally(() => {
            this.showLimitPreLoader = false;
            this.showCityPreLoader = false;
          })
      ;
    },
    changeOffer(offer) {
      if (offer.checked) {
        this.addToBasket(offer.value);
      } else {
        this.deleteFromBasket(offer.value);
      }
    },
    addToBasket(offerId) {
      this.$http.get("/radio/add-to-basket", {params: {offer: offerId}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    deleteFromBasket(offerId) {
      this.$http.get("/radio/delete-from-basket", {params: {offer: offerId}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    updateBasketItem: function(data) {
      if (this.preLoaders.indexOf(data.offerId) < 0) {
        this.preLoaders.push(data.offerId);
      }
      this.$http.get("/radio/update-basket-item", {
        params: {
          offer: data.offerId,
          duration: data.duration,
          'views-per-day': data.viewsPerDay,
          days: data.days,
        }
      })
          .then((response) => {
            this.basket = response.data;
          })
          .finally(() => {
            if (this.preLoaders.indexOf(data.offerId) >= 0) {
              this.preLoaders.splice(this.preLoaders.indexOf(data.offerId), 1);
            }
          })
      ;
    }
  }
}
</script>

<style scoped>

</style>
