<template>
  <div id="map-search-radius">
    <div class="map-radius">
      <div class="field-outdoorsearchtable-city map-radius__section">
        <label class="control-label">Город</label>
        <app-cities @select="citySelect"></app-cities>
      </div>
      <div class="field-outdoorsearchtable-address map-radius__section">
        <label class="control-label">Местоположение</label>
        <app-address :city="city" @input="inputAddress" :value="address"></app-address>
        <div class="map-radius__error" v-if="$v.city.$error || $v.address.$error">Укажите город и адрес</div>
        <div class="map-radius__error" v-else-if="$v.lat.$error || $v.lon.$error">Адрес не найден</div>
      </div>
      <div class="field-outdoorsearchtable-radius map-radius__section">
        <label class="control-label">Радиус</label>
        <app-radius :disabled="!citySelected" v-model="radius"></app-radius>
        <div class="map-radius__error" v-if="$v.radius.$error">
          <span v-if="!$v.radius.required">Укажите радиус</span>
          <span v-else-if="!$v.radius.between">Может быть от 50м до 100км</span>
        </div>
      </div>
      <div class="field-outdoorsearchtable-submit map-radius__section">
        <a @click.prevent="addSearchItem" class="yellow-btn map-radius__submit" href="#">Выбрать точку на карте</a>
      </div>
      <div class="map-radius__added map-radius__section" v-show="searchItems.length - 1 > 0">
        <div class="map-radius__added-header">
          Добавленные местоположения <span>({{ searchItems.length - 1 }})</span>
        </div>
        <div class="map-radius__added-body">
          <ul>
            <li v-for="(item, i) in searchItems" v-if="i !== currentIndex">
              <p>В радиусе {{ item.radius }} м от {{ item.address }}</p>
              <button @click.prevent="editSearchItem($event, i)" aria-label="редактировать радиус" class="map-radius__edit-btn"></button>
              <button @click.prevent="deleteSearchItem(i)" aria-label="удалить элемент" class="map-radius__delete-btn"></button>
              <div class="map-radius__error" v-if="showFirstHint">здесь вы можете изменить значение радиуса или удалить поверхность</div>
            </li>
          </ul>
          <add-edit-radius :show="showEditForm" @close="closeEditRadiusForm" v-model="editRadius" @save="saveEditRadius"></add-edit-radius>
        </div>
      </div>
    </div>
    <div class="map-radius__map map-radius__section">
      <app-map :center="center" :zoom="zoom" :circles="searchItems" @add-circle="addFromPoint"></app-map>
    </div>
  </div>
</template>

<script>
  import _ from 'lodash'
  import AppMap from './components/Map';
  import AppCities from './components/Cities';
  import AppAddress from './components/Address';
  import AppRadius from './components/Radius';
  import AddEditRadius from './components/EditRadius';
  import {between, required} from 'vuelidate/lib/validators'
  import {daData} from './mixins/dadata';

  const newItem = {
    address: null,
    radius: null,
    lat: null,
    lon: null,
  };

  export default {
    name: 'app',
    components: {AppMap, AppCities, AppAddress, AppRadius, AddEditRadius},
    mixins: [daData],
    validations: {
      city: {required},
      address: {required},
      lat: {required},
      lon: {required},
      radius: {
        required,
        between: between(50, 100000)
      }
    },
    data() {
      return {
        region: null,
        city: null,
        address: null,
        lat: null,
        lon: null,
        searchItems: [newItem],
        radius: null,
        editRadius: null,
        showEditForm: false,
        hintShowed: false,
        center: [62.644410, 99.719336],
        zoom: 3
      }
    },
    computed: {
      /**
       * Выбрали ли город
       * @returns {boolean}
       */
      citySelected() {
        return this.city !== null && this.city.length > 0;
      },
      /**
       * Полный введенный адрес
       */
      fullAddress() {
        var parts = [];
        if (this.region !== null && this.region.length > 0) {
          parts.push(this.region);
          if (this.city !== null && this.city.length > 0) {
            parts.push(this.city);
            if (this.address !== null && this.address.length > 0) {
              parts.push(this.address);
            }
          }
        }
        return parts.join(', ');
      },
      currentIndex() {
        return this.searchItems.length - 1;
      },
      showFirstHint: function() {
        if (!this.hintShowed && this.searchItems.length === 2) {
          var self = this;
          setTimeout(function() {
            self.hintShowed = true
          }, 3000);
          return true;
        }
        return false;
      }
    },
    watch: {
      lat() {this.updateSearchItem();},
      lon() {this.updateSearchItem();},
      radius() {this.updateSearchItem();}
    },
    methods: {
      setCenter() {
        this.center = [this.lat, this.lon];
      },
      getCoords: _.debounce(function(setCenter, zoom) {
        var self = this;
        this.lat = null;
        this.lon = null;
        this.search(this.fullAddress, 1, function(response) {
          if (0 in response.data.suggestions) {
            var data = response.data.suggestions[0].data;
            self.lat = data.geo_lat;
            self.lon = data.geo_lon;
            if (setCenter) {
              self.setCenter();
            }
            self.zoom = zoom;
          }
        });
      }, 400),
      citySelect(city) {
        this.region = city.region;
        this.city = city.city;
        this.getCoords(true, 10);
      },
      inputAddress(val) {
        this.address = val;
        this.getCoords(true, 15);
      },
      addFromPoint(item) {
        this.searchItems.unshift(item);
        this.zoom = 14;
      },
      addSearchItem() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.searchItems.push(newItem);
          this.radius = null;
          this.address = null;
          this.$v.$reset();
        }
      },
      updateSearchItem: _.debounce(function() {
        this.$set(this.searchItems, this.currentIndex, {
          address: this.fullAddress,
          radius: this.radius,
          lat: this.lat,
          lon: this.lon
        });
      }, 300),
      deleteSearchItem(i) {
        this.searchItems.splice(i, 1);
      },
      editSearchItem(e, i) {
        this.showEditForm = true;
        this.editSearchItemKey = i;
        this.editRadius = this.searchItems[i].radius;
      },
      closeEditRadiusForm() {
        this.showEditForm = false;
        this.editSearchItemKey = null;
        this.editRadius = '';
      },
      saveEditRadius(val) {
        let obj = this.searchItems[this.editSearchItemKey];
        obj.radius = val;
        this.$set(this.searchItems, this.editSearchItemKey, obj);
      },
    }
  }
</script>

<style>

</style>
