<template>
  <div>
    <div class="kanal-block">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>1. Выберите тип рекламы</h2>
      </div>
      <div class="form-group">
        <Types :types="types" :value="basket.adv_type" @value="changeType" />
      </div>
    </div>
    <div class="kanal-block">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>2. Выберите телеканал в городе</h2>
        <p>Каждый телеканал авторизовал нас на размещение рекламных роликов.</p>
        <Cities :value="city" :regions="regions" @value="changeCity" />
      </div>
      <div class="kanal-all-item">
        <offers :offers="offers.offers" :basket-items="basket.items" @change="changeOffer" />
      </div>
      <div v-if="offers.total > offers.count" class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center all-kanal-link">
        <a href="#" @click.prevent="limit = null">Смотреть список всех телеканалов</a>
      </div>
    </div>
    <div class="kanal-block">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <h2>3. Калькулятор стоимости</h2>
        <p style="font-size: 20px"><strong>Вы можете пропустить этот шаг, и не заполнять его. Мы свяжемся с вами и
          обсудим все детали по телефону.</strong></p>
      </div>
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 kalk-table-list">
        <div class="kalk-block">
          <table>
            <thead>
            <tr class="kalk-item">
              <th class="header-kalk">
                <div class="hint-box" title="Выбран Вами «галочкой» выше">Телеканал</div>
              </th>
              <th>
                <div class="hint-box" title="Укажите в поле ниже длительность / хронометраж Вашего ролика">
                  Длительность ролика в сек.
                </div>
              </th>
              <th>
                <div class="hint-box" title="Укажите желаемое кол-во показа / прокатов Вашего ролика в день">Кол-во
                  прокатов ролика в день
                </div>
              </th>
              <th>
                <div class="hint-box" title="Укажите кол-во дней, которое хотите показывать / транслировать Ваш ролик">
                  Кол-во дней проката ролика
                </div>
              </th>
              <th class="footer-kalk">
                <div class="hint-box" title="Итоговая усредненная цена проката Вашего ролика. Составлена по принципу 60/40 прайм/офф тайм">
                  Итого
                </div>
              </th>
            </tr>
            </thead>
            <tbody v-if="basket.count > 0">
            <tr v-for="item in basket.items" :key="item.offer.id" class="kalk-item">
              <td class="header-kalk" data-label="Телеканал">
                <div class="td">{{ item.offer.name }}</div>
              </td>
              <td v-if="!item.offer.has_price_per_sec || !basket.must_calculate" colspan="4" class="tv-empty-td">
                <div class="td">Стоимость будет известна после уточнения всех деталей</div>
              </td>
              <td v-if="item.offer.has_price_per_sec && basket.must_calculate" data-label="Длительность ролика в сек.">
                <div class="td"><input min="0" v-model="item.duration" placeholder="15 сек." type="number"></div>
              </td>
              <td v-if="item.offer.has_price_per_sec && basket.must_calculate" data-label="Кол-во прокатов ролика в день">
                <div class="td"><input min="0" v-model="item.views_per_day" placeholder="5 раз" type="number"></div>
              </td>
              <td v-if="item.offer.has_price_per_sec && basket.must_calculate" data-label="Кол-во дней проката ролика">
                <div class="td"><input min="0" v-model="item.days" placeholder="10 дней" type="number"></div>
              </td>
              <td v-if="item.offer.has_price_per_sec && basket.must_calculate" class="footer-kalk" data-label="Итого">
                <div class="td"><span v-if="item.price !== null">{{ item.price }} руб.</span></div>
                <button type="button" @click.prevent="deleteFromBasket(item.offer.id)">×</button>
              </td>
            </tr>
            </tbody>
            <tbody v-else>
              <tr>
                <td colspan="5">
                  <div class="td">Вы не выбрали каналы</div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div v-if="basket.count > 0">
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 plan-prokata">
          <div class="basket-link-box">
            <b>Создание плана проката</b>
            <em>Отвечает на вопрос где и когда будет показываться ваша реклама</em>
          </div>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 bay-now">
          <a class="yellow-btn" data-target="#order" data-toggle="modal" href="#">Оформить заявку</a>
        </div>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
          <a class="yellow-btn" data-target="#feedback-form" data-toggle="modal" href="#">Задать вопрос</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import Types from './components/tv/Types';
import Cities from './components/tv/Cities';
import Offers from './components/tv/Offers';
export default {
  name: "Tv",
  props: ['types', 'regions', 'defaultOffers', 'defaultBasket', 'defaultLimit'],
  components: {Types, Cities, Offers},
  data() {
    return {
      city: '',
      limit: this.defaultLimit,
      offers: this.defaultOffers,
      basket: this.defaultBasket
    };
  },
  methods: {
    changeType(value) {
      this.basket.adv_type = value;
      this.$http.get("update-basket", {params: {type: value}})
          .then((response) => {
            this.basket = response.data;
          });
    },
    changeCity(value) {
      this.city = value;
      this.limit = this.defaultLimit;
    },
    getOffers() {
      this.$http.get("offers", {params: {city: this.city, limit: this.limit}})
          .then((response) => {
            this.offers = response.data;
          });
    },
    changeOffer(value) {
      if (value.checked) {
        this.addToBasket(value.value);
      } else {
        this.deleteFromBasket(value.value);
      }
    },
    addToBasket(offerId) {
      if (!this.hasBasketItem(offerId)) {
        this.$http.get("add-to-basket", {params: {offer: offerId}})
            .then((response) => {
              this.basket = response.data;
            });
      }
    },
    deleteFromBasket(offerId) {
      if (this.hasBasketItem(offerId)) {
        this.$http.get("delete-from-basket", {params: {offer: offerId}})
            .then((response) => {
              this.basket = response.data;
            });
      }
    },
    hasBasketItem(offerId) {
      let values = []
      this.basket.items.map(item => {
        values.push(item.offer.id)
      })
      return values.indexOf(offerId) >= 0;
    }
  },
  watch: {
    city() {
      this.getOffers();
    },
    limit() {
      this.getOffers();
    }
  }
}
</script>

<style scoped>

</style>
