<h1 class="new-service__heading">Рекламная кампания для бизнеса по продаже лодочных моторов</h1>

<div class="new-service__intro">
    <img src="/img/niko-intro2.png" alt="" class="new-service__intro-picture">
    <div class="new-service__intro-info">
        <div class="new-service__intro-block">
            <p class="new-service__intro-num">x2,45</p>
            <p class="new-service__intro-text">Уменьшение стоимости рекламы</p>
        </div>
        <div class="new-service__intro-block">
            <p class="new-service__intro-num">x2,18</p>
            <p class="new-service__intro-text">Увеличение количества переходов на сайт</p>
        </div>
    </div>
</div>

<div class="new-service__content new-service-info">
    <h2 class="new-service__subheading">Информация о проекте</h2>
    <div class="new-service-info__block">
        <div class="new-service-info__column">
            <p class="new-service-info__label">Тип услуги:</p>
            <p class="new-service-info__text">Контекстная реклама</p>
        </div>
        <div class="new-service-info__column">
            <p class="new-service-info__label">Регион:</p>
            <p class="new-service-info__text">Ханты-Мансийский АО</p>
        </div>
    </div>
    <p>Зимой 2019 года компания «Фарватер» обратилась к нам для разработки контекстной рекламы в достаточно конкурентной нише. В момент обращения, у рекламодателя были запущены рекламные кампании в Яндекс.Директ и Google.AdWords.</p>
    <p>Основная причина обращения — клиента не устраивала стоимость перехода на сайт и малое кол-во заявок. Необходимо было успеть настроить и протестировать рекламу к началу сезона.</p>
</div>

<div class="new-service__content new-service-problems">
    <h2 class="new-service__subheading">Проблемы проекта</h2>
    <div class="new-services-problems__items">
        <div class="new-services-problems__item">
            <div class="new-services-problems__icon"></div>
            <p class="new-services-problems__subtitle">Рекламная кампания давала мало заявок</p>
            <p class="new-services-problems__text">Опыт ведения рекламы в предыдущем
                сезоне клиент посчитал неудовлетворительным. Несмотря
                на высокую стоимость, количество переходов на сайт было минимальным.</p>
        </div>
        <div class="new-services-problems__item">
            <div class="new-services-problems__icon"></div>
            <p class="new-services-problems__subtitle">Отсутствовала система аналитики</p>
            <p class="new-services-problems__text">Так-как на сайте  отсутствовали системы аналитики, и другие источники отслеживания заявок - невозможно было отследить эффективность рекламы.</p>
        </div>
        <div class="new-services-problems__item">
            <div class="new-services-problems__icon"></div>
            <p class="new-services-problems__subtitle">Высокая стоимость переходов</p>
            <p class="new-services-problems__text">Стоимость клика была высокая, более 100 руб за один клик.</p>
        </div>
    </div>
</div>

<div class="new-service__content new-service-steps">
    <h2 class="new-service__subheading">Что мы сделали</h2>
    <div class="new-service-steps__layout">
        <div class="new-service-steps__left">
            <p>Необходимо было понять, почему рекламная кампания была неэффективна, и найти точки роста для новой рекламной кампании.</p>
            <ul class="new-service-steps__big-list">
                <li>
                    <h3 class="new-service-steps__subtitle">Провели аудит действующей рекламной<br> кампании по 47 пунктам</h3>
                    <p>Любая работа должна строиться после тщательного анализа текущей ситуации, иначе велик риск пойти по ложному направлению, либо испортить то, что уже работает в данный момент. Подходить к решению задачи взвешенно - наш главный принцип. Именно поэтому аудит рекламных кампаний состоит из таблицы с 47 пунктами, в которые мы выписываем все ошибки рекламной кампании, или возможности ее улучшения.</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Выявили слабые места действующей<br> РК и нашли точки роста</h3>
                    <p>Слабая проработка целевых запросов и низкое качество объявлений. Большинство заголовков объявлений не были релевантны используемой фразе. Отсутствовали уточнения объявлений
                        и отображаемая ссылка. Сами объявления не содержали никакой выгоды клиента и не призывали
                        к решению его проблем. Как результат — низкий CTR и высокая стоимость перехода.</p>
                    <p>Отсутствие кластеризации запросов по посадочным страницам (ссылки объявлений вели на нецелевую страницу сайта)</p>
                    <p>Отсутствие на сайте настроенных систем аналитики, которые позволят отследить эффективность рекламных каналов.</p>
                    <p>Ряд недочетов на сайте</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Сбор семантического ядра</h3>
                    <p>Исходя из перечня услуг нашего клиента, мы проработали базовые запросы и собрали семантику.</p>
                    <p>Полностью проработали все брендовые запросы по моторам, например “купить лодочный мотор Yamaha”, “лодочный мотор Suzuki”, и распределили их по отдельным группам для составления релевантных объявлений.</p>
                    <p>Запросы с указанием конкретной модели мотора, например “Лодочный мотор F5AMHS” - были также объединены в отдельные группы с шаблоном, чтобы в заголовок объявления выводилась именно та модель, которую запросил пользователь.</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Установка и настройка<br> на сайте систем аналитики</h3>
                    <p>На сайт были установлены Яндекс Метрика и Google Analytics. Настроены цели, для отслеживания целевых действий пользователя на сайте, а именно на отправку форм, и заказа обратного звонка.
                        По нашей рекомендации заказчик также согласился на установку скрипта подмены номеров,
                        для отслеживания кол-ва звонков с рекламной кампании.</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Рекомендации по доработке сайта</h3>
                    <p>Для успеха рекламной кампании - недостаточно, чтобы только рекламная кампания была настроена качественно. Необходимо еще сделать так, чтобы на сайте, куда мы приводим клиента - все было максимально удобно для клиента, чтобы пользователь мог оставить заявку, чтобы сайт внушал доверие. Поэтому мы составили перечень рекомендаций по улучшению работы сайта, среди которых были такие рекомендации как:</p>
                    <ul>
                        <li>
                            <p>Уменьшение кол-ва полей в форме заказа</p>
                            <p>Чем больше полей, тем выше шанс, что пользователь не станет заполнять форму</p>
                        </li>
                        <li>
                            <p>Доработка процесса оформления заказа</p>
                            <p>Главная идея которой заключалась в максимальном упрощении</p>
                        </li>
                        <li>
                            <p>Увеличение скорости загрузки и работы</p>
                            <p>Чем дольше загружается сайт, тем выше вероятность того, что пользователь уйдёт с сайта</p>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="new-service-steps__right">
            <ul class="new-service-steps__small-list">
                <li>
                    <p class="new-service-steps__num">47</p>
                    <p class="new-service-steps__text">Пунктов для подробного анализа РК.</p>
                </li>
                <li>
                    <p class="new-service-steps__num">0</p>
                    <p class="new-service-steps__text">Отстутствие настроенных систем аналитики на сайте</p>
                </li>
                <li>
                    <p class="new-service-steps__num">5.55%</p>
                    <p class="new-service-steps__text">Очень низкий CTR (показатель кликабельности) для спецразмещения</p>
                </li>
                <li>
                    <p class="new-service-steps__num">2785</p>
                    <p class="new-service-steps__text">Целевых ключевых
                        слов подобрали для показов объявлений</p>
                </li>
                <li>
                    <p class="new-service-steps__num">38</p>
                    <p class="new-service-steps__text">Подробных рекомендаций по улучшению конверсии сайта</p>
                </li>
                <li>
                    <p class="new-service-steps__num">x2,3</p>
                    <p class="new-service-steps__text">В два раза увеличили скорость загрузки сайта, удалив лишние скрипты и оптимизировав изображения</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="new-service__content new-service-results">
    <h2 class="new-service__subheading">Итог работы:</h2>
    <p>Так-как помимо рекламной кампании мы настраивали системы аналитики, подключали скрипт отслеживания звонков, и дорабатывали сайт - у нас получился целый комплекс работ. Но основная задача, с которой к нам обратился клиент - переработка рекламной кампании - была выполнена в срок. Мы выполнили поставленные цели: уменьшили стоимость клика, и увеличил количество заявок. Более того, теперь рекламная кампания не работала “вслепую”, а все заявки мы отслеживали с помощью систем аналитики. То есть наша работа, а главное эффективность рекламной кампании было для заказчика абсолютно прозрачной и понятной.</p>
    <div class="new-service-diagrams">
        <div class="new-service-diagram">
            <div class="new-service-diagram__columns">
                <div class="new-service-diagram__column new-service-diagram__column--before">
                    <p>376</p>
                    <div style="height:100px"></div>
                </div>
                <div class="new-service-diagram__column new-service-diagram__column--after">
                    <p>823</p>
                    <div style="height:250px"></div>
                </div>
            </div>
            <div class="new-service-diagram__info">
                <div class="new-service-diagram__num">х2,18</div>
                <p>Увеличение количества переходов на сайт</p>
            </div>
        </div>
        <div class="new-service-diagram">
            <div class="new-service-diagram__columns">
                <div class="new-service-diagram__column new-service-diagram__column--before">
                    <p>118,17 ₽</p>
                    <div style="height:235px"></div>
                </div>
                <div class="new-service-diagram__column new-service-diagram__column--after">
                    <p>48,87 ₽</p>
                    <div style="height:75px"></div>
                </div>
            </div>
            <div class="new-service-diagram__info">
                <div class="new-service-diagram__num">х2,45</div>
                <p>Уменьшение стоимости рекламы</p>
            </div>
        </div>
    </div>
    <p>Так-как помимо рекламной кампании мы настраивали системы аналитики, подключали скрипт отслеживания звонков, и дорабатывали сайт - у нас получился целый комплекс работ. Но основная задача, с которой к нам обратился клиент - переработка рекламной кампании - была выполнена в срок. Мы выполнили поставленные цели: уменьшили стоимость клика, и увеличил количество заявок. Более того, теперь рекламная кампания не работала “вслепую”, а все заявки мы отслеживали с помощью систем аналитики. То есть наша работа, а главное эффективность рекламной кампании было для заказчика абсолютно прозрачной и понятной.</p>
</div>

<div class="new-service__content new-service-total">
    <h2 class="new-service__subheading">Рост позиций сайта по ключевым запросам</h2>
    <div class="table-wrapper">
        <table class="marketing-table">
            <tr>
                <td></td>
                <td>Показы</td>
                <td>Клики</td>
                <td>CTR</td>
                <td>Расход всего</td>
                <td>Средняя стоимость клика</td>
            </tr>
            <tr>
                <td style="font-weight:bold;vertical-align: top;text-align: left">Было</td>
                <td>6780</td>
                <td>376</td>
                <td>5.55%</td>
                <td>44 431.32</td>
                <td>118.17</td>
            </tr>
            <tr>
                <td style="font-weight:bold;vertical-align: top;text-align: left">Стало</td>
                <td>5779</td>
                <td>823</td>
                <td>14.24%</td>
                <td>40 220.01</td>
                <td>948.87</td>
            </tr>

        </table>
    </div>
</div>