.new-service {
    display: block;
}

.new-service__heading {
    margin-bottom: 30px;
    text-transform: initial;
    font-weight: bold;
}
.new-service__intro-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}
.new-service__intro-num {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #dd4034;
}
.new-service__intro-text {
    font-weight: bold;
}
.new-service__subheading {
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    color: #34547a;
}
.new-service__content {
    margin-bottom: 30px;
}
.new-service-info__label {
    margin-bottom: 10px;
    color: #a0a0a0;
    font-size: 14px;
    line-height: 1;
}
.new-service-info__block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.new-service-info__block:last-child {
    margin-bottom: 0;
}

.new-service-info__column {
    width: 50%;
}
.new-service__intro-text {
    margin-bottom: 0;
}
.new-service-info__text {
    margin-bottom: 0;
}
.new-services-problems__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.new-services-problems__subtitle {
    margin-bottom: 15px;
    font-weight: bold;
}
.new-services-problems__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #f5d94e;
}
.new-services-problems__item:first-child .new-services-problems__icon {
    background-image: url(/img/new-service-icon1.png);
}
.new-services-problems__item:nth-child(2) .new-services-problems__icon{
    background-image: url(/img/new-service-icon2.png);
}
.new-services-problems__item:last-child .new-services-problems__icon{
    background-image: url(/img/new-service-icon3.png);
}
.new-service-steps__num {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    color: #34547a;
}

.new-service-steps__big-list {
    margin-bottom: 0;
    padding: 20px 0 0 0;
    list-style: none;
    counter-reset: steps;
}
.new-service-steps__subtitle {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    text-transform: initial;
}
.new-service-steps__subtitle br {
    display: none;
}
.new-service-steps__subtitle::before {
    counter-increment: steps;
    content: counter(steps);
    margin-right: 10px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    color: #ffef9e;
}
.new-service-steps__big-list ul {
    padding: 0;
    list-style: none;
}
.new-service-steps__big-list ul li {
    margin-bottom: 10px;
}
.new-service-steps__big-list ul p {
    margin-bottom: 0
}

.new-service-steps__big-list ul p:last-child {
    color: #a0a0a0;
}
.table-wrapper {
    width: 100%;
    overflow: auto;
}
.seo-table {
    width: 100%;
    min-width: 720px;
}

.seo-table thead tr {
    font-weight: bold;
}

.seo-table thead tr:first-child {
    text-transform: uppercase;
}



.seo-table td {
    width: 19%;
    text-align: center;
    padding: 15px 0;
}

.seo-table tbody td {
    background-color: #f7f7f7;
    border: 8px solid #fff;
}

.seo-table tbody td:first-child {
    width: 24%;
    padding-right: 30px;
    text-align: left;
    background-color: #fff;
    font-weight: bold;
}

.new-service-diagram__columns {
    border-bottom: 1px solid #cecece;
}

.new-service-diagram {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid #faedac
}
.new-service-diagram__num {
    font-size: 30px;
    font-weight: bold;
    color: #dd4034;
}

.new-service-diagram__columns {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 300px;
    margin-bottom: 20px;
}

.new-service-diagram__column div {
    width: 80px;
    transition: height 0.25s ease-in;

}

.new-service-diagram__column--before {
    margin-right: 25px;
}

.new-service-diagram__column--before div {
    background-color: #c6c6c6;
}

.new-service-diagram__column--after div {
    background-color: #34547a;
}

.new-service-diagram__info p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}
.marketing-table {
    width: 100%;
    min-width: 720px;
}

.marketing-table tr {
    font-weight: bold;
    background-color: #f7f7f7;
}
.marketing-table tr:first-child {
    font-weight: initial;
    background-color: #fff;
}

.marketing-table td {
    width: calc(100% / 6);
    padding: 15px 10px;
    min-height: 60px;
    text-align: center;
    border-bottom: 6px solid #fff;
}
.new-service__graph--desktop {
    display: none;
}
.new-service__graph {
    position: relative;
    overflow: hidden;
}

.new-service__graph-layout {
    position: relative;
    z-index: 6;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;

}
.new-service__graph--type1 .new-service__graph-layout {
    height: 390px;
    background-image: url(/img/graph-bg.png);
}

.new-service__graph--type2 .new-service__graph-layout {
    height: 500px;
    background-image: url(/img/graph-type-2_bg.png);
}
.scale-type2 {
    z-index: 3;
    position: absolute;
    bottom: 13px;
    left: 20px;
    width: 100%;
}
.new-service__graph-moving-layout {
    z-index: 5;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.graph-1,
.graph-3{
    width: 50%;
}
.graph-1 {
    z-index: 3;
    position: absolute;
    bottom: 17px;
    left: 20px;
    width: calc(51% + 5px);
}

.graph-3 {
    z-index: 1;
    position: absolute;
    bottom: 17px;
    left: 51%;
    width: 49%;
}

.scale-type2 {
    position: absolute;
    z-index: 3;
    left: 20px;
    bottom: 13px;
    width: 100%;
    height: 460px;
}

.graph-logo {
    z-index: 7;
    position: absolute;
    transform: translateX(-50%);
}
.new-service__graph--type1 .graph-logo {
    left: calc(53% + 3px);
    bottom: 77px;

}

.new-service__graph--type2 .graph-logo {
    left: calc(32% + 9px);
    bottom: 108px;
}

.divider {
    z-index: 7;
    position: absolute;
    width: 2px;
    height: 80px;
    margin-left: 1px;
    background-color: #f5d94e;
}

.new-service__graph--type1 .divider {
    bottom: 77px;
    left: 53%;
}

.new-service__graph--type2 .divider {
    bottom: 108px;
    left: calc(32% + 6px);
}

.new-service-steps__small-list {
    padding: 30px 0 0 0;
    list-style: none;
}


.new-service-steps__small-list li {
    margin-bottom: 20px;
}
.new-service__intro-block {
    margin-bottom: 30px;
}
.new-service__graph--mobile img {
    display: block;
    width: 100%;
}
@media screen and (min-width: 400px) {
    .new-service__intro-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -15px;
    }

    .new-service__intro-block {
        width: 50%;
        padding: 0 15px;
    }

}
@media screen and (min-width: 550px) {
    .new-service-steps__small-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .new-service-steps__small-list li {
        width: 45%;
    }

}

@media screen and (min-width: 768px) {


    .new-service__intro-num {
        font-size: 40px;
    }

    .new-service-info__block {
        justify-content: flex-start;
    }

    .new-service-info__column {
        width: initial;
        margin-right: 120px;
    }
    .new-service-info__column:last-child {
        margin-right: 0;
    }

    .new-service__subheading {
        margin-bottom: 25px;
    }
    .new-service__content {
        margin-bottom: 45px;
    }
    .new-services-problems__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .new-services-problems__item {
        width: calc(45%);
        margin-right: 5%;
        min-height: 375px;
    }
    .new-service-steps__subtitle::before {
        font-size: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .new-service__heading {
        margin-bottom: 60px;
    }

    .new-service__intro-picture {
        margin-bottom: 0;
    }

    .new-service__intro {
        margin-bottom: 55px;
    }

    .new-service__subheading {
        margin-bottom: 35px;
    }
    .new-service__content {
        margin-bottom: 55px;
    }

    .new-service__intro {
        display: flex;
    }

    .new-service-steps__small-list {
        display: block;
        padding: 0;
    }

    .new-service-steps__small-list li {
        width: initial;
    }

    .new-service-steps__small-list li {
        margin-bottom: 90px;
    }

    .new-service__intro-info {
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    .new-service__intro-block {
        width: initial;
        padding: initial;
        margin-bottom: 15px;
    }

    .new-service__intro-block:last-child {
        margin-bottom: 0;
    }

    .new-service__intro-picture {
        width: calc(75% - 90px);
        height: auto;
        margin-right: 90px;
    }
    .new-service-steps__layout {
        display: flex;
    }

    .new-service-steps__left {
        width: 75%;
        padding-right: 60px;
    }

    .new-service-steps__right {
        width: 25%;
    }



    .new-service-steps__num {
        font-size: 40px;
    }
    .table-wrapper {
        width: initial;
        overflow: initial;
    }

    .new-service-diagrams {
        display: flex;
        justify-content: space-between;
    }

    .new-service-diagram {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 48.5%;
        padding: 65px 20px;
        text-align: left;
    }


    .new-service-diagram__columns {
        padding: 0 50px;
        margin-right: 5px;
        text-align: center;
    }


    .new-service-diagram__num {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {

    .new-service__graph--desktop {
        display: block;
    }

    .new-service__graph--mobile {
        display: none;
    }
    .new-service__intro-picture {
        width: 775px;
        height: 325px;
        margin-right: 135px;
    }

    .new-service__intro-num {
        font-size: 56px;
    }
    .new-service__intro-text {
        line-height: 1.4;

    }

    .new-service__intro-block {
        margin-bottom: 40px;
    }

    .new-services-problems__item {
        width: calc(30%);
        margin-right: 3.33333%;
        padding: 30px 20px;
    }
    .new-service-steps__left {
        width: 77%;
        padding-right: 120px;
    }
    .new-service-steps__right {
        width: 23%;
    }
    .new-service-steps__num {
        font-size: 56px;
    }
    .new-service-steps__small-list li {
        margin-bottom: 150px;
    }
    .new-service-steps__subtitle {
        margin-bottom: -15px;
        line-height: 1.4;
    }
    .new-service-steps__subtitle br {
        display: block;
    }
    .new-service-steps__subtitle::before {
        margin-right: 25px;
        font-size: 120px;
    }

    .new-service-diagram__num {
        font-size: 56px;
    }

    .new-service-diagram__column div {
        width: 100px;
    }

}
