<h1 class="new-service__heading">Рекламная кампания для бизнеса по прокату автомобилей.</h1>

<div class="new-service__intro">
    <img src="/img/marketing1-intro.png" alt="" class="new-service__intro-picture">
    <div class="new-service__intro-info">
        <div class="new-service__intro-block">
            <p class="new-service__intro-num">x1,4</p>
            <p class="new-service__intro-text">Уменьшение стоимости рекламы</p>
        </div>
        <div class="new-service__intro-block">
            <p class="new-service__intro-num">x2,23</p>
            <p class="new-service__intro-text">Увеличение количества переходов на сайт</p>
        </div>
    </div>
</div>

<div class="new-service__content new-service-info">
    <h2 class="new-service__subheading">Информация о проекте</h2>
    <div class="new-service-info__block">
        <div class="new-service-info__column">
            <p class="new-service-info__label">Тип услуги:</p>
            <p class="new-service-info__text">Контекстная реклама</p>
        </div>
        <div class="new-service-info__column">
            <p class="new-service-info__label">Регион:</p>
            <p class="new-service-info__text">Краснодарский край</p>
        </div>
    </div>
    <p>
        Компания ООО «Форсаж» - предоставляет услуги частным и юридическим лицам по прокату автомобилей. Среди клиентов - крупные фирмы округа, арендующие авто на длительный срок.
    </p>
    <p>До нас клиент работал с другим подрядчиком, результат работы рекламы - не устраивал, реклама работала в минус. Было много нецелевых переходов на сайт, при достаточно высокой стоимости клика.</p>
</div>

<div class="new-service__content new-service-problems">
    <h2 class="new-service__subheading">Цели проекта</h2>
    <div class="new-services-problems__items">
        <div class="new-services-problems__item">
            <div class="new-services-problems__icon"></div>
            <p class="new-services-problems__subtitle">Уменьшить стоимость перехода на сайт</p>
            <p class="new-services-problems__text">Стоимость перехода на сайт по рекламе была высокой, рентабельность низкая.</p>
        </div>
        <div class="new-services-problems__item">
            <div class="new-services-problems__icon"></div>
            <p class="new-services-problems__subtitle"> Увеличить кол-во целевых кликов</p>
            <p class="new-services-problems__text">За счет уменьшения стоимости клика по рекламе планировалось увеличить кол-во клиентов, в рамках того же бюджета.</p>
        </div>
        <div class="new-services-problems__item">
            <div class="new-services-problems__icon"></div>
            <p class="new-services-problems__subtitle">Свести к минимуму нецелевое расходование бюджета</p>
            <p class="new-services-problems__text">Реклама показывалась по ряду нецелевых запросов, которые нужно было свести к минимуму. </p>
        </div>
    </div>
</div>

<div class="new-service__content new-service-steps">
    <h2 class="new-service__subheading">Что мы сделали</h2>
    <div class="new-service-steps__layout">
        <div class="new-service-steps__left">
            <p>Поскольку рекламная кампания, с которой пришел к нам клиент уже работала на протяжении полугода - мы могли провести тщательный анализ ее работы, и выявить слабые места, чтобы принять взвешенное решение о ее точечной доработке, либо полной переделке.</p>
            <ul class="new-service-steps__big-list">
                <li>
                    <h3 class="new-service-steps__subtitle">Провели аудит действующей рекламной<br> кампании по 47 пунктам</h3>
                    <p>Любая работа должна строиться после тщательного анализа текущей ситуации, иначе велик риск пойти по ложному направлению, либо испортить то, что уже работает в данный момент. Подходить к решению задачи взвешенно - наш главный принцип. Именно поэтому аудит рекламных кампаний состоит из таблицы с 47 пунктами, в которые мы выписываем все ошибки рекламной кампании, или возможности ее улучшения.</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Выявили слабые места действующей<br> РК и нашли точки роста</h3>
                    <p>Недостаточная проработка минус-слов в действующей рекламной кампании, из-за чего объявления показывались по нецелевым запросам (например, “авто под такси”, “каршеринг”, “сдам авто напрокат” и т.д.). Изучив статистику, мы подсчитали, что около 25% бюджета рекламной кампании расходуется именно на такие, ненужные, запросы.</p>
                    <p>Не проработаны тексты объявлений. А именно, было составлено всего несколько объявлений с шаблонным текстом, в которые были добавлены все ключевые слова рекламной кампании, что понижало релевантность ключевого слова объявлению, уменьшало CTR объявлений, а значит и увеличивало стоимость клика.</p>
                    <p>В рекламной кампании никак не проводилась работа по конкурентам. То есть объявления по брендовым запросам конкурентов - не показывались. Значит, часть потенциальных клиентов было упущено.</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Сбор семантического ядра</h3>
                    <p>На основе проведенного аудита, было решено полностью пересобрать семантическое ядро рекламной кампании. Качественная проработка списка запросов - основа рекламной кампании. Именно на данном этапе мы исправляем сразу несколько ключевых ошибок старой рекламной кампании: прорабатываем список минус-слов, чтобы исключить нецелевые показы рекламы, собираем все ключевые запросы, чтобы выделить в отдельную рекламную кампанию - показы по конкурентам.</p>
                    <p>Для сбора семантического ядра мы используем в своей работе профессиональные инструменты (KeyCollector и др. парсеры), что позволяет нам проработать запросы максимально подробно.</p>
                    <p>Как итог: вместо предыдущих 70 ключевых слов, по которым показывалась реклама, мы собрали 450 целевых, полностью рабочих ключевиков. То есть почти в 6 раз больше, чем было!</p>
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Составление релевантных обьявлений</h3>
                    <p>Даже в старой рекламной кампании, когда количество ключевых слов было меньше в 6 раз, объявления не были полностью релевантны ключевым словам. А с учетом расширения семантики, встал вопрос о полной переработке текстов объявлений. Например, по запросу “прокат авто аэропорт” ранее объявления выглядело так:</p>
                    <img src="/img/marketing-img1.png" alt="">
                    <p>Мы переписали текст, чтобы он был более релевантен ключевому слову и отвечал на запросы пользователя:</p>
                    <img src="/img/marketing-img2.png" alt="">
                </li>
                <li>
                    <h3 class="new-service-steps__subtitle">Отдельная рекламная кампания по конкурентам</h3>
                    <p>На основе полученного семантического ядра - создали отдельную рекламную кампанию по конкурентам. В текстах объявлений постарались выделить те ключевые моменты, в которых наши условия по аренде авто - выгоднее. За счет этого мы планировали забрать часть аудитории у конкурентов, и переманить их к себе.</p>
                </li>
            </ul>
        </div>
        <div class="new-service-steps__right">
            <ul class="new-service-steps__small-list">
                <li>
                    <p class="new-service-steps__num">47</p>
                    <p class="new-service-steps__text">Пунктов для подробного анализа РК.</p>
                </li>
                <li>
                    <p class="new-service-steps__num">25%</p>
                    <p class="new-service-steps__text">Бюджета рекламы расходовалось на нецелевые запросы</p>
                </li>
                <li>
                    <p class="new-service-steps__num">98₽</p>
                    <p class="new-service-steps__text">Завышенная стоимость клика в рекламе из-за низкой проработки</p>
                </li>
                <li>
                    <p class="new-service-steps__num">x6</p>
                    <p class="new-service-steps__text">В шесть раз увеличили семантическое ядро рекламной кампании (в 6 раз больше запросов)</p>
                </li>
                <li>
                    <p class="new-service-steps__num">12</p>
                    <p class="new-service-steps__text">Отдельных объявлений по конкурентам</p>
                </li>
            </ul>
        </div>
    </div>
</div>

<div class="new-service__content new-service-results">
    <h2 class="new-service__subheading">Итог работы:</h2>
    <p>Уже в первую неделю после запуска рекламной кампании - мы увидели рост трафика с рекламы, а начиная со второй недели, когда новая рекламная кампания набрала статистику, уменьшение стоимости клика. Как итог - клиент получил большее количество заказов. Общая стоимость привлечения заказа - снизилась. Основные статистические данные для сравнения:</p>
    <div class="new-service-diagrams">
        <div class="new-service-diagram">
            <div class="new-service-diagram__columns">
                <div class="new-service-diagram__column new-service-diagram__column--before">
                    <p>210</p>
                    <div style="height:100px"></div>
                </div>
                <div class="new-service-diagram__column new-service-diagram__column--after">
                    <p>470</p>
                    <div style="height:250px"></div>
                </div>
            </div>
            <div class="new-service-diagram__info">
                <div class="new-service-diagram__num">х2,23</div>
                <p>Увеличение количества переходов на сайт</p>
            </div>
        </div>
        <div class="new-service-diagram">
            <div class="new-service-diagram__columns">
                <div class="new-service-diagram__column new-service-diagram__column--before">
                    <p>98,25 ₽</p>
                    <div style="height:235px"></div>
                </div>
                <div class="new-service-diagram__column new-service-diagram__column--after">
                    <p>69,51 ₽</p>
                    <div style="height:75px"></div>
                </div>
            </div>
            <div class="new-service-diagram__info">
                <div class="new-service-diagram__num">х1,4</div>
                <p>Уменьшение стоимости рекламы</p>
            </div>
        </div>
    </div>
    <p>Так-как помимо рекламной кампании мы настраивали системы аналитики, подключали скрипт отслеживания звонков, и дорабатывали сайт - у нас получился целый комплекс работ. Но основная задача, с которой к нам обратился клиент - переработка рекламной кампании - была выполнена в срок. Мы выполнили поставленные цели: уменьшили стоимость клика, и увеличил количество заявок. Более того, теперь рекламная кампания не работала “вслепую”, а все заявки мы отслеживали с помощью систем аналитики. То есть наша работа, а главное эффективность рекламной кампании было для заказчика абсолютно прозрачной и понятной.</p>
</div>

<div class="new-service__content new-service-total">
    <h2 class="new-service__subheading">Рост позиций сайта по ключевым запросам</h2>
    <div class="table-wrapper">
        <table class="marketing-table">
            <tr>
                <td></td>
                <td>Показы</td>
                <td>Клики</td>
                <td>CTR</td>
                <td>Расход всего</td>
                <td>Средняя стоимость клика</td>
            </tr>
            <tr>
                <td style="font-weight:bold;vertical-align: top;text-align: left">Было</td>
                <td>2800</td>
                <td>470</td>
                <td>17.3%</td>
                <td>32 669.70</td>
                <td>69.51</td>
            </tr>
            <tr>
                <td style="font-weight:bold;vertical-align: top;text-align: left">Стало</td>
                <td>2717</td>
                <td>210</td>
                <td>7.5%</td>
                <td>20 632.50</td>
                <td>98.25</td>
            </tr>

        </table>
    </div>
</div>