.banner {
  position: relative;
  line-height: 1.2;
}
.banner__top {
  display: block;
  width: 100%;
  margin: 0 auto;
  height: auto;
}
.banner__red {
  color: #FE0000;
}
.banner__city {
  margin-bottom: 30px;
  font-family: 'Rubik', sans-serif;
  font-size: 30px;
  line-height: 1;
  font-weight: bold;
  text-align: center;
}
.banner__heading {
  margin-top: 0;
  margin-bottom: 30px;
}
.banner__subheading {
  margin-bottom: 15px;
  font-size: 14px;
  line-height: inherit;
  text-decoration: underline;
}
.banner__info {
  margin-bottom: 30px;
  padding-left: 30px;
  font-family: 'Rubik', sans-serif;
}
.banner__info--red {
  border-left: 5px solid #FE0000;
}
.banner__info--blue {
  border-left: 5px solid #0757A8;
}
.banner__info--yellow {
  border-left: 5px solid #FFBE53;
}
.banner__info--orange {
  border-left: 5px solid #F64000;
}
.banner__text {
  margin-bottom: 10px;
  font-size: 16px;
  line-height: inherit;
}
.banner__text:last-child {
  margin-bottom: 0;
}
.banner__block {
  margin-bottom: 30px;
}
.banner__block:last-child {
  margin-bottom: 0;
}
.banner__gradient {
  font-size: 24px;
  font-weight: bold;
  
} 
.banner__gradient--gold {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, #AE7653 0%, #DEBC7F 21.9%, #EFD9A0 35.83%, #E7CA90 51.94%, #C99C65 78.22%, #E2C287 100%);
}
.banner__gradient--blue {
  color: #0757A8;
}
.banner__gradient--yellow {
  color: #FFBE53;
}
.banner__gradient--red {
  color: #C40000;
}
.banner__gradient--orange {
  color: #F64000;
}
.banner__columns {
  margin-bottom: 30px;
} 
.banner__map img {
  position: relative;
  z-index: 2;
  display: block;
  max-width: 100%;
  height: auto
}
.banner__map {
  position: relative;
}
.banner__image {
  margin-bottom: 40px;
}
.banner__image img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.new-menu-wrapper {
  position: relative;
  display: none;
  margin-right: -15px;
}
.new-menu span {
  display: inline-flex;
  align-items: center;
  padding: 15px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  color: #DC2D22; 
  cursor: pointer; 
}
.new-menu span svg {
  display: block;
  width: 20px;
  height: 20px;
  margin-left: 5px;
  fill: currentColor;
}
.new-menu:hover span {
  color: #fff;
  background-color: #00497B;
}
.new-dropdown {
  text-transform: uppercase;
}
.new-dropdown a {
  display: block;
  width: 100%;
  padding: 15px 55px;
  font-weight: 700;
  text-decoration: none;
  color: #fff;
}
.new-dropdown a:hover {
  background-color: #06385A;
}
.new-dropdown {
  z-index: 100;
  display: none;
  padding: 0;
  list-style: none;
}
.new-dropdown li:last-child {
  margin-bottom: 0;
}
.new-dropdown--main {
  position: absolute;
  right: 0;
  padding: 15px 0;
  background-color: #00497B;
}
.new-menu--dropdown-sub > a {
  display: inline-flex;
  align-items: center;
}
.new-menu--dropdown-sub > a::after {
  content: '';
  display: block;
  width: 10px;
  height: 7px;
  margin-left: 7px;
  background-image: url(img/chevrone.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.new-menu--dropdown:hover > .new-dropdown {
  display: block;
} 

@media screen and (min-width: 768px) {
  .banner__columns {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .banner__info {
    width: 50%;
    flex-shrink: 0;
  }
  .banner__gradient {
    font-size: 35px;
  }
  .banner__block {
    margin-bottom: 50px
  }
}
@media screen and (min-width: 992px) {
  .new-menu-wrapper {
    display: flex;
    justify-content: flex-end;
    flex-grow: 1;
  }
  .breadcrumbs {
    margin: 0;
  }
  .new-breadcrumbs-menu-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
@media screen and (min-width: 1200px) {
  .new-menu-wrapper {
    margin-right: -20px;
  }
  .new-menu span {
    padding: 20px;
  }
  .banner__city {
    font-size: 50px;
  }
  .banner__image {
    margin-bottom: 100px;
  }
  .banner__heading {
    margin-bottom: 55px;
    font-size: 36px;
  }
 .banner__gradient {
   font-size: 60px;
 }
 .banner__text {
   font-size: 30px;
 }
 .banner__subheading {
   margin-bottom: 30px;
   font-size: 20px;
 }
 .banner__block {
   margin-bottom: 80px;
 }
 .banner__columns {
   margin-bottom: 80px;
 }
 .banner__footer {
   max-width: 80%;
 }
}