<template>
  <tr>
    <td>{{ item.offer.name }}</td>
    <td v-if="!mustCalculate || !item.offer.hasPricePerSec" style="font-size: 14px;padding: 30px " colspan="3">Стоимость будет известна после уточнения всех деталей</td>
    <td v-if="mustCalculate && item.offer.hasPricePerSec">
      <input-num v-model="duration" @input="input" />
    </td>
    <td v-if="mustCalculate && item.offer.hasPricePerSec">
      <input-num v-model="viewsPerDay" @input="input" />
    </td>
    <td v-if="mustCalculate && item.offer.hasPricePerSec">
      <input-num v-model="days" @input="input" />
    </td>
    <td>
      <Preloader v-if="showPreloader" />
      <div v-else>
        <p v-if="hasOldPrice" class="new-calc__old-price"><small>{{ oldPrice }} руб.</small></p>
        <p v-if="hasPrice" class="new-calc__price"><strong>{{ price }} руб.</strong></p>
        <p v-if="hasProfit" class="new-calc__text">Ваша выгода {{ profit }} руб.</p>
        <button class="new-calc__delete" @click="deleteFromBasket(item.offer.id)">
          Убрать
          <svg fill="none" height="20" viewBox="0 0 20 20" width="20" xmlns="http://www.w3.org/2000/svg">
            <circle cx="10" cy="10" r="9.5" stroke="#E5E5E5"/>
            <path d="M10.7329 10.0066L13.848 6.89143C14.0507 6.68881 14.0507 6.36119 13.848 6.15856C13.6454 5.95594 13.3178 5.95594 13.1151 6.15856L9.99998 9.2737L6.88492 6.15856C6.6822 5.95594 6.35467 5.95594 6.15204 6.15856C5.94932 6.36119 5.94932 6.68881 6.15204 6.89143L9.2671 10.0066L6.15204 13.1217C5.94932 13.3243 5.94932 13.652 6.15204 13.8546C6.25302 13.9557 6.3858 14.0064 6.51848 14.0064C6.65116 14.0064 6.78384 13.9557 6.88492 13.8546L9.99998 10.7394L13.1151 13.8546C13.2162 13.9557 13.3489 14.0064 13.4816 14.0064C13.6142 14.0064 13.7469 13.9557 13.848 13.8546C14.0507 13.652 14.0507 13.3243 13.848 13.1217L10.7329 10.0066Z" fill="#E5E5E5"/>
          </svg>
        </button>
      </div>
    </td>
  </tr>
</template>

<script>
import _ from "lodash"
import InputNum from './InputNum';
import Preloader from './Preloader';

export default {
  name: "CalcItem",
  props: ["item", "showPreloader", "mustCalculate"],
  components: {InputNum, Preloader},
  data() {
    return {
      duration: this.item.duration,
      viewsPerDay: this.item.viewsPerDay,
      days: this.item.days
    };
  },
  computed: {
    hasOldPrice() {
      return this.item.oldPrice !== null;
    },
    oldPrice() {
      return this.item.oldPrice;
    },
    hasPrice() {
      return this.item.price !== null;
    },
    price() {
      return this.item.price;
    },
    hasProfit() {
      return this.item.profit !== null;
    },
    profit() {
      return this.item.profit;
    }
  },
  methods: {
    deleteFromBasket(offerId) {
      this.$emit('delete', offerId);
    },
    input: _.debounce(function() {
      this.$emit('change', {
        offerId: this.item.offer.id,
        duration: this.duration,
        viewsPerDay: this.viewsPerDay,
        days: this.days
      });
    }, 300)
  },
  watch: {
    item(value) {
      this.duration = value.duration;
      this.viewsPerDay = value.viewsPerDay;
      this.days = value.days;
    }
  }
}
</script>

<style scoped>

</style>
