<template>
  <div class="custom-input-num">
    <input v-model="model" min="1" type="number" placeholder="0" @input="input">
    <button class="custom-input-num__incr" @click="buttonClickHandler(1)"></button>
    <button class="custom-input-num__decr" @click="buttonClickHandler(-1)"></button>
  </div>
</template>

<script>
export default {
  name: "InputNum",
  props: ["value"],
  data() {
    return {
      model: this.value
    }
  },
  methods: {
    buttonClickHandler(increment)
    {
      if (this.model === null) {
        this.model = 0;
      } else {
        this.model = parseInt(this.model);
      }
      this.model = this.model + increment;
      if (this.model <= 0) {
        this.model = null;
      }
      this.input();
    },
    input() {
      this.$emit('input', this.model);
    }
  },
  watch: {
    value(value) {
      this.model = value;
    }
  }
}
</script>

<style scoped>

</style>
