<template>
  <div class="new-all-canals">
    <div class="new-all-canals__table">
      <label
          v-for="offer in offers"
          class="new-all-canals__cell"
          :class="values.indexOf(offer.id) >= 0 ? 'new-all-canals__cell--active' : ''">
        <img :src="'http://niko-m.ru' + offer.logo.src" :alt="offer.name">
        <p>{{ offer.name }}</p>
        <input type="checkbox" :value="offer.id" v-model="values" @change="change">
        <div class="new-custom-checkbox">
          <div class="new-custom-checkbox__text">
            <p>Добавить для подсчета</p>
            <p>Добавлено</p>
          </div>
        </div>
      </label>
    </div>
  </div>
</template>

<script>
export default {
  name: "Offers",
  props: ["offers", "basketItems"],
  data() {
    return {
      values: []
    };
  },
  created() {
    this.render();
  },
  methods: {
    change(e) {
      this.$emit('change', {checked: e.target.checked, value: parseInt(e.target.value)});
    },
    render() {
      this.values = [];
      this.basketItems.map(item => {
        this.values.push(item.offer.id)
      })
    }
  },
  watch: {
    basketItems() {
      this.render();
    }
  }
}
</script>

<style scoped>

</style>
