<template>
  <div class="cust-preloader-box" style="position: relative;">
    <div class="cust-preloader"></div>
  </div>
</template>

<script>
export default {
  name: "Preloader"
}
</script>

<style scoped>
</style>
