<template>
  <div class="marketing-choose">
    <label v-for="type in types" class="marketing-choose__item" :class="isShow(type.value) ? 'marketing-choose__item--active' : ''">
      <span></span>
      <span></span>
      <span></span>
      <h3>{{ type.name }}</h3>
      <label class="marketing-choose__icon" @click="clickHandler(type.value)">
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M27.0999 18.1H19.9001V10.8999C19.9001 10.4033 19.4968 10 18.9999 10C18.5033 10 18.1 10.4033 18.1 10.8999V18.1H10.8999C10.4033 18.1 10 18.5033 10 18.9999C10 19.4968 10.4033 19.9001 10.8999 19.9001H18.1V27.0999C18.1 27.5968 18.5033 28.0001 18.9999 28.0001C19.4968 28.0001 19.9001 27.5968 19.9001 27.0999V19.9001H27.0999C27.5968 19.9001 28.0001 19.4968 28.0001 18.9999C28.0001 18.5033 27.5968 18.1 27.0999 18.1Z" fill="#F4D53F"/>
          </g>
          <circle cx="19" cy="19" r="18" stroke="#F4D53F" stroke-width="2"/>
          <defs>
            <clipPath id="clip0">
              <rect width="18" height="18" fill="white" transform="translate(10 10)"/>
            </clipPath>
          </defs>
        </svg>
        <svg width="38" height="38" viewBox="0 0 38 38" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g clip-path="url(#clip0)">
            <path d="M27.0999 19.9281H10.8999C10.4033 19.9281 10 19.5249 10 19.0282C10 18.5313 10.4033 18.1281 10.8999 18.1281H27.0999C27.5968 18.1281 28.0001 18.5313 28.0001 19.0282C28.0001 19.5249 27.5968 19.9281 27.0999 19.9281Z" fill="#F4D53F"/>
          </g>
          <circle cx="19" cy="19" r="18" stroke="#F4D53F" stroke-width="2"/>
          <defs>
            <clipPath id="clip0">
              <rect width="18" height="18" fill="white" transform="translate(10 10)"/>
            </clipPath>
          </defs>
        </svg>
      </label>
      <p class="marketing-choose__hidden-text">{{ type.text }}</p>
      <div class="marketing-choose__input">
        <input type="radio" name="type" v-model="model" :value="type.value">
        <div class="new-custom-checkbox" >
          <div class="new-custom-checkbox__text">
            <p>Выбрать тип рекламы</p>
            <p>Выбран</p>
          </div>
        </div>
      </div>
    </label>
  </div>
</template>

<script>
export default {
  name: "Types",
  props: ['types', 'value'],
  data() {
    return {
      model: this.value,
      show: []
    };
  },
  watch: {
    model(value) {
      this.$emit('value', value);
    }
  },
  methods: {
    isShow(value) {
      return this.show.indexOf(value) >= 0;
    },
    clickHandler(value) {
      if (this.isShow(value)) {
        this.show.splice(this.show.indexOf(value), 1);
      } else {
        this.show.push(value);
      }
    }
  }
}
</script>

<style scoped>

</style>
