<template>
  <div>
    <input :disabled="!citySelected"
           :placeholder="!citySelected ? 'Сначала выберите город' : 'Выберите улицу или конкретный адрес'"
           @keyup="keyup"
           class="map-radius__input"
           type="text"
           :value="value"
           @input="$emit('input', $event.target.value)">
    <div class="map-radius__added-body map-radius__cities-list" v-show="suggestions.length > 0">
      <ul>
        <li :class="selected === index ? 'selected' : ''" @click="click(index)" v-for="(suggest, index) in suggestions">
          <p>{{ suggest }}</p>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import {daData} from '../mixins/dadata';
  import _ from 'lodash'

  export default {
    name: "Address",
    props: ['city', 'value'],
    mixins: [daData],
    data() {
      return {
        query: '',
        selected: null,
        suggestions: []
      }
    },
    computed: {
      citySelected() {
        return this.city !== null && this.city.length > 0;
      },
    },
    watch: {
      query: _.debounce(function(val) {
        this.reset();
        let self = this;
        if (val !== null && val.length > 0 && this.citySelected) {
          const query = this.city + ', ' + val;
          this.search(query, 10, function(response) {
            for (let i = 0; i < response.data.suggestions.length; i++) {
              let item = response.data.suggestions[i].data;
              if (!item.street_type || !item.street) {
                continue;
              }
              let address = [item.street_type + '. ' + item.street];
              if (item.house) {
                address.push(item.house_type + '. ' + item.house);
              }
              self.suggestions.push(address.join(', '));
            }
          });
        }
      }, 300)
    },
    methods: {
      keyup(e) {
        switch (e.key) {
          case "ArrowUp":
            this.move(-1);
            break;
          case "ArrowDown":
            this.move(1);
            break;
          case "Enter":
            this.select(this.selected);
            this.reset();
            break;
          case "Escape":
            this.reset();
            break;
          default:
            this.query = this.value;
            break;
        }
      },
      reset() {
        this.suggestions = [];
        this.selected = null;
      },
      move: function(i) {
        if (this.selected === null) {
          this.selected = 0;
        } else {
          this.selected += i;
        }
        if (this.selected < 0) {
          this.selected = null;
        } else {
          let total = this.suggestions.length - 1;
          if (this.selected > total) {
            this.selected = total;
          }
        }
        this.select(this.selected);
      },
      select(index) {
        if (index in this.suggestions) {
          this.$emit('input', this.suggestions[index]);
        }
      },
      click(index) {
        this.select(index);
        this.reset();
      },
    }
  };
</script>

<style scoped>

</style>
