<template>
  <div class="select">
    <select class="select__toggler" id="city" v-model="city">
      <option disabled value="">{{ loading ? 'Загрузка...' : 'Выберите город' }}
      </option>
      <optgroup :label="name" v-for="(group, name) in cities">
        <option :value="name + ', ' + option.name" v-for="option in group">
          {{ option.name }}
        </option>
      </optgroup>
    </select>
  </div>
</template>

<script>
  export default {
    name: "Cities",
    data: function() {
      return {
        loading: true,
        cities: {},
        city: ''
      }
    },
    mounted: function() {
      // Выборка городов
      var self = this;
      this.$http.get("get-cities")
        .then(function(response) {
          self.cities = response.data;
        })
        .finally(function() {
          self.loading = false;
        });
    },
    watch: {
      city: function(val) {
        var address = val.split(', ');
        this.$emit('select', {
          full: val,
          region: address[0],
          city: address[1]
        });
      }
    }
  }
</script>

<style scoped>

</style>
