<template>
  <div class="change-radius-popup" v-if="show">
    <div class="change-radius-popup__body">
      <label class="control-label">Изменение радиуса</label>
      <app-radius v-model="newValue"></app-radius>
      <div class="map-radius__error" v-if="$v.newValue.$error">
        <span v-if="!$v.newValue.required">Укажите радиус</span>
        <span v-else-if="!$v.newValue.between">Может быть от 50м до 100км</span>
      </div>
    </div>
    <div class="change-radius-popup__footer">
      <a @click.prevent="close()" class="yellow-btn map-radius__cancel" href="#">Отмена</a>
      <a @click.prevent="save()" class="yellow-btn map-radius__cancel" href="#">Сохранить</a>
    </div>
  </div>
</template>

<script>
  import {between, required} from 'vuelidate/lib/validators'
  import AppRadius from './Radius';

  export default {
    name: "EditRadius",
    components: {AppRadius},
    props: ['show', 'value'],
    validations: {
      newValue: {
        required,
        between: between(50, 100000)
      }
    },
    data: function() {
      return {
        newValue: '',
      }
    },
    watch: {
      show() {
        this.newValue = this.value;
      }
    },
    methods: {
      close() {
        this.$emit('close');
      },
      save() {
        this.$v.$touch();
        if (!this.$v.$invalid) {
          this.$emit('save', this.newValue);
          this.newValue = null;
          this.$v.$reset();
          this.close();
        }
      }
    }
  }
</script>

<style scoped>

</style>
