<template>
  <div>
    <div class="Preloader Preloader__center">
      <div class="maps-block">
        <div id="yandex-map-radius" style="height: 465px;"></div>
      </div>
      <div :style="{display: loading ? 'block' : 'none'}" class="Preloader__overlay">
        <div :style="{display: loading ? 'block' : 'none'}" class="Preloader__spinnerContainer">
          <div class="Preloader__spinner">
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
            <div></div>
          </div>
        </div>
      </div>
    </div>
    <button :disabled="disabled" @click.prevent="addCustomPoint()" class="yellow-btn map-radius__pin-btn" style="white-space:nowrap" v-show="!loading">
      <span>Маркер на карте</span>
    </button>
  </div>
</template>

<script>
  export default {
    name: "Map",
    props: ['circles', 'center', 'zoom'],
    created: function() {
      let self = this;
      ymaps.ready(function() {
        self.map = new ymaps.Map("yandex-map-radius", {
          center: self.center,
          zoom: self.zoom,
          controls: ['zoomControl']
        });
        self.loading = false;
      });
    },
    data: function() {
      return {
        loading: true,
        disabled: false,
        map: Object
      }
    },
    watch: {
      circles: function(dirtyItems) {
        let items = [];
        for (let i = 0; i < dirtyItems.length; i++) {
          let item = dirtyItems[i];
          if (item.lat !== null && item.lat.length > 0
            && item.lon !== null && item.lon.length > 0
            && item.radius !== null) {
            items.push(item);
          }
        }
        this.removeAll();
        if (items.length > 0) {
          for (let i = 0; i < items.length; i++) {
            this.addCircle(items[i]);
          }
          let self = this;
          this.loading = true;
          this.$http.get("radius-search", {params: {query: items}})
            .then(function(response) {
              self.addPoints(response.data);
            })
            .finally(function() {
              self.loading = false;
            });
        }
      },
      center: function(val) {
        this.map.setCenter(val);
      },
      zoom(val) {
        this.map.setZoom(val);
      }
    },
    methods: {
      /**
       * Добавляет круг на карту
       * @param item
       */
      addCircle: function(item) {
        // Создаем круг
        let myCircle = new ymaps.Circle([
          [item.lat, item.lon],
          item.radius
        ], {}, {
          fillColor: "#DB709377",
          strokeColor: "#990066",
          strokeOpacity: 0.8,
          strokeWidth: 5,
          cursor: 'default',
        });
        // Добавляем круг на карту.
        this.map.geoObjects.add(myCircle);
      },
      /**
       * Добавляет точки на карту
       * @param items
       */
      addPoints: function(items) {
        let objects = [];
        let objectManager = new ymaps.ObjectManager();
        let self = this;
        for (let i = 0; i < items.length; i++) {
          let item = items[i];
          objects.push({
            type: 'Feature',
            id: item.id,
            geometry: {
              type: 'Point',
              coordinates: [item.lat, item.lon]
            },
            options: {
              iconLayout: 'default#image',
              iconImageHref: '/map/sprite.png',
              iconImageSize: [30, 30],
              iconOffset: [-3, 25],
              iconImageClipRect: [
                [item.rotate * 30 / 5, (item.sides - 1) * 30],
                [item.rotate * 30 / 5 + 30, (item.sides - 1) * 30 + 30]
              ],
            },
            properties: {
              balloonContent: '<div class="placemark-ajax-loader"><div class="Preloader__spinner"></div></div>'
            }
          });
        }
        objectManager.add(objects);
        objectManager.objects.events.add('balloonopen', function(e) {
          let id = e.get('objectId'),
            object = objectManager.objects.getById(id);
          self.$http
            .get("map-content", {params: {id: id}})
            .then(function(response) {
              object.properties.balloonContent = response.data;
              objectManager.objects.balloon.setData(object);
            });
        });
        this.map.geoObjects.add(objectManager);
      },
      /**
       * Добавление маркера на карте
       */
      addCustomPoint: function() {
        let self = this;
        self.disabled = true;
        let point = new ymaps.Placemark(this.map.getCenter(), {
          iconContent: 'Перетащи меня на нужную точку, и нажми для выбора радиуса'
        }, {
          preset: 'islands#redStretchyIcon',
          draggable: true
        });
        point.events.add('click', function(e) {
          self.disabled = false;
          let coords = e.get('target').geometry.getCoordinates();
          let lat = parseFloat(coords[0]).toFixed(5);
          let lon = parseFloat(coords[1]).toFixed(5);
          self.$emit('add-circle', {
            radius: '1000',
            address: '"' + lat + ', ' + lon + '"',
            lat: lat,
            lon: lon
          });
        });
        this.map.geoObjects.add(point);
      },
      /**
       * Удаляет все объекты на карте
       */
      removeAll: function() {
        this.map.geoObjects.removeAll();
      }
    },
  }
</script>

<style scoped>

</style>
