<template>
  <div class="map-radius-size">
    <input
      :disabled="disabled"
      :value="value"
      @input="$emit('input', $event.target.value)"
      class="map-radius__input"
      min="50"
      max="100000"
      step="50"
      placeholder="---"
      type="number"
    >
  </div>
</template>

<script>
  export default {
    name: "Radius",
      props: ['value', 'disabled']
  }
</script>

<style scoped>

</style>
