/*fonts*/
@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Italic.woff2') format('woff2'),
        url('../fonts/GothamPro-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
        url('../fonts/GothamPro-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Bold.woff2') format('woff2'),
        url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro.woff2') format('woff2'),
        url('../fonts/GothamPro.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Gotham Pro';
    src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
        url('../fonts/GothamPro-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

/*fonts-end*/


/*vars*/
:root {
    --gutter: 15px;
    --font-family: Gotham Pro;

    --black: #333333;
    --white: #ffffff;
    --light-grey: #f7f7f7;
    --grey: #dcdcdc;
    --dark-blue: #34547a;
    --dark-red: #d4463d;
    --yellow: #FFD727;
    --dark-yellow: #EBC005;

    --color-main-text: var(--black);
    --white-text: var(--white);
    --dark-blue-text: var(--dark-blue);
    --light-border: var(--grey);
    --background-white: var(--white);
    --background-darker: var(--light-grey); 
    --background-red-dark: var(--dark-red);

    --bg-btn: var(--yellow);
    --btn-border: var(--dark-yellow);
    
    --card-decorate: var(--dark-red);
    --card-decorate-alt: var(--dark-blue);
    --faq-decorate: var(--dark-blue);
    --small-shadow: 0 0 10px 10px rgba(0, 0, 0, 0.15);
}

/*vars-end*/

/*default*/

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    color: inherit;
}

*::before,
*::after {
    box-sizing: inherit;
}

br {
    display: block;
}

body {
    font-family: var(--font-family), Arial, sans-serif;
    font-size: 100%;
    font-weight: 400;
    line-height: 1.5;
    color: var(--color-text-main)
}

h1 {
    margin-bottom: 30px;
    font-size: 20px;
    text-transform: uppercase;
    line-height: 1.1;
}

h2 {
    margin-bottom: 30px;
    font-size: 18px;
    text-transform: uppercase;
    line-height: 1.1;
}

p {
    margin-bottom: 0.5rem;
}

p:last-child {
    margin-bottom: 0;
}

.content ul,
.content ol {
    margin-bottom: 0.5rem;
    padding-left: 25px;
}

.content ol {
    counter-reset: ol;
}

.content ul:last-child,
.content ol:last-child  {
    margin-bottom: 0;
}

.content li {
    position: relative;
    margin-bottom: 10px;
}

.content li:last-child {
    margin-bottom: 0;
}

.content ul li::before {
    content: '—';
    position: absolute;
    top: 0;
    left: -25px;
}

.content ol li::before {
    content: counter(ol)")";
    counter-increment: ol;
    position: absolute;
    top: 0;
    left: -25px;
}

@media screen and (min-width: 768px) {
    h1 {
        font-size: 28px;
    }
    h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 992px) {
    h1 {
        margin-bottom: 40px;
        font-size: 32px;
    }
    h2 {
        margin-bottom: 50px;
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    h1 {
        font-size: 36px;
    }
}

/*default-end*/

/*grid*/

.container {
    width: 100%;
    padding: 0 var(--gutter);
    margin: 0 auto;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.align-center {
    align-items: center;
}

.align-baseline {
    align-items: baseline;
}

.flex-align-end {
    align-items: flex-end;
}

.flex-align-start {
    align-items: flex-start;
}

.flex-justify-content-center {
    justify-content: center;
}

.flex-justify-content-end {
    justify-content: flex-end;
}

.flex-justify-content-between {
    justify-content: space-between;
}

.flex-justify-content-around {
    justify-content: space-around;
}

.grid {
    display: grid;
}

.grid-column-gap-30 {
    grid-column-gap: 30px;
}

.grid-column-gap-50 {
    grid-column-gap: 50px;
}

.grid-row-gap-30 {
    grid-row-gap: 30px;
}

.grid-row-gap-40 {
    grid-row-gap: 40px;
}


.grid-xs-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
}
.grid-xs-2 {
    grid-template-columns: repeat(2, 1fr);
}
.grid-xs-3 {
    grid-template-columns: repeat(3, 1fr);
}
.grid-xs-4 {
    grid-template-columns: repeat(4, 1fr);
}
.grid-xs-5 {
    grid-template-columns: repeat(5, 1fr);
}
.grid-xs-6 {
    grid-template-columns: repeat(6, 1fr);
}

@media screen and (min-width: 768px) {
    .container {
        max-width: 780px;
    }
    .grid-sm-1 {
         grid-template-columns: 1fr;
    }
    .grid-sm-2 {
         grid-template-columns: repeat(2, 1fr);
    }
    .grid-sm-3 {
         grid-template-columns: repeat(3, 1fr);
    }
    .grid-sm-4 {
         grid-template-columns: repeat(4, 1fr);
    }
    .grid-sm-5 {
         grid-template-columns: repeat(5, 1fr);
    }
    .grid-sm-6 {
         grid-template-columns: repeat(6, 1fr);
    }

}

@media screen and (min-width: 992px) {
    .container {
        max-width: 990px;
    }
    .grid-md-1 {
         grid-template-columns: 1fr;
    }
    .grid-md-2 {
         grid-template-columns: repeat(2, 1fr);
    }
    .grid-md-3 {
         grid-template-columns: repeat(3, 1fr);
    }
    .grid-md-4 {
         grid-template-columns: repeat(4, 1fr);
    }
    .grid-md-5 {
         grid-template-columns: repeat(5, 1fr);
    }
    .grid-md-6 {
         grid-template-columns: repeat(6, 1fr);
    }

}

@media screen and (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
    .grid-lg-1 {
         grid-template-columns: 1fr;
    }
    .grid-lg-2 {
         grid-template-columns: repeat(2, 1fr);
    }
    .grid-lg-3 {
         grid-template-columns: repeat(3, 1fr);
    }
    .grid-lg-4 {
         grid-template-columns: repeat(4, 1fr);
    }
    .grid-lg-5 {
         grid-template-columns: repeat(5, 1fr);
    }
    .grid-lg-6 {
         grid-template-columns: repeat(6, 1fr);
    }

}

/*grid-end*/

/*atomic*/
.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.bold {
    font-weight: bold;
}

.text-center {
    text-align: center;
}

.text-left {
    text-align: left;
}

.text-uppercase {
    text-transform: uppercase;
}

.line-1_1 {
    line-height: 1.1;
}

.line-1_2 {
    line-height: 1.2;
}

.line-1_3 {
    line-height: 1.3;
}


.line-1_4 {
    line-height: 1.4;
}

.color-black {
    color: var(--black);
}

.color-white {
    color: var(--white);
}

.color-dark-blue {
    color: var(--dark-blue-text);
}

.bg-light-grey {
    background-color: var(--background-darker);
}

.margin-b-0 {
    margin-bottom: 0;
}

.margin-b-10 {
    margin-bottom: 10px;
}

.margin-b-20 {
    margin-bottom: 20px;
}

.margin-b-40 {
    margin-bottom: 40px;
}

.margin-b-50 {
    margin-bottom: 50px;
}

.margin-b-70 {
    margin-bottom: 70px;
}

.margin-b-80 {
    margin-bottom: 80px;
}

.padding-t-80 {
    padding-top: 80px;
}

.padding-b-80 {
    padding-bottom: 80px;
}

.h1 {
    font-size: 22px;
    line-height: 1.1;
}

.h2 {
    font-size: 20px;
    line-height: 1.1;
}

.bg-white {
    background-color: var(--white);
}

.bg-gradient-blue {
    background: radial-gradient(43.75% 115.58% at 41.54% 33.35%, #1A70B1 1.87%, #134189 100%);
}

.bg-gradient-blue-image {
    background-image: url(../img/blue-gradient.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.border-light {
    border: 1px solid var(--light-border);
}

.shadow-small::after {
    content: '';
    position: absolute;
    bottom: 1px;
    left: 50%;
    width: 85%;
    z-index: -1;
    background-color: transparent;
    transform: translateX(-50%);
    box-shadow: var(--small-shadow);
}

.page-intro-text {
    max-width: 1042px
}

@media screen and (min-width: 768px) {
    .h1 {
        font-size: 28px;
    }
    .h2 {
        font-size: 22px;
    }
}

@media screen and (min-width: 992px) {
    .h1 {
        font-size: 32px;
    }
    .h2 {
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    .h1 {
        font-size: 36px;
    }
}

/*atomic-end*/

/*styles*/

.card--square {
    height: 255px;
}

.card--rect {
    height: 299px;
}

.card--big-red-circle {
    overflow: hidden;
}

.card--big-red-circle * {
    opacity: 0.99999;
    z-index: 2;
}

.card--big-red-circle::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    z-index: 1;
    width: 1130px;
    height: 1130px;
    background-color: var(--card-decorate);
    border-radius: 100%;
    transform: translateX(-50%);
    transition: transform 0.25s ease-out;
}

.card--big-red-circle .card__price {
    transition: color 0.25s ease-out;
}


.card--big-red-circle:hover .card__price {
    color: var(--white-text);
}

.card--big-red-circle:hover .card__price--top {
    color: var(--color-main-text);
}


.card--big-red-circle:hover::before {
    transform: translateX(-50%) translateY(-200px);
}

.card:hover {
    border-color: transparent;
}

.card:hover::after {
   display: none;
}

.card__link {
    height: 100%;
    padding: 30px 25px 22px 25px;
    overflow: hidden;
}

.card--rect .card__link {
    padding-top: 20px;
}

.card__link * {
    opacity: 0.999;
    z-index: 2;
}

.card__link::before {
    content: '';
    position: absolute;
    bottom: -46px;
    left: 50%;
    z-index: 1;
    width: 216px;
    height: 216px;
    
    border-radius: 100%;
    transform: translateX(-50%) translateY(100%);
    transition: transform 0.25s ease-out;
}

.card__link--red::before {
    background-color: var(--card-decorate);
}

.card__link--blue::before {
    background-color: var(--card-decorate-alt);
}

.card__link:hover {
    background-color: var(--background-darker);
}

.card__link:hover::before {
    transform: translateX(-50%) translateY(0);
}

.card__image {
    display: block;
    margin: 0 auto;
}

.card__image--top {
    margin: 0 0 25px 0
}

.card__price {
    margin-top: auto;
    margin-bottom: 15px;
}

.card__price--top {
    margin-top: 0;
}

.card__price strong {
    font-size: 24px;
}

.card__name--block {
    min-height: 72px;
}

@media screen and (min-width: 992px) {
    .card__name {
        font-size: 20px;
    }
    .card__name--small {
        font-size: 18px;
    }
    .card__price {
        font-size: 18px;
    }
    
    .card__price strong {
        font-size: 30px;
    }
}

@media screen and (min-width: 1200px) {
    .offers__heading {
        margin-bottom: 10px;
    }
}

.statistic__left {
    grid-column-gap: 70px;
}

.statistic__item {
    margin-bottom: 30px;
}

.statistic__item br {
    display: none;
}

.statistic__giant {
    margin-bottom: 5px;
    font-size: 24px;
    
}

@media screen and (min-width: 768px) {
    .statistic__item br {
        display: block;
    }
}

@media screen and (min-width: 992px) {
    .statistic__heading {
        margin-bottom: 30px;
    }
    .statistic__layout {
        display: flex;
    }
    .statistic__left {
        width: 55%;
        flex-shrink: 0;
        grid-column-gap: 55px;
        grid-row-gap: 30px;
        font-size: 18px;
    }
    .statistic__item {
        margin-bottom: 0;
    }
    .statistic__giant {
        margin-bottom: 0.6rem;
        font-size: 32px;
    }
    .statistic__right {
        margin-left: 30px;
        max-width: 460px;
    }
}

@media screen and (min-width: 1200px) {
    .statistic__giant {
        font-size: 40px;
    }

    .statistic__left {
        grid-row-gap: 45px;
    }

    .statistic__right {
        margin-left: 60px;
    }
}

.result__link {
    padding: 223px 28px 50px 23px;
}

.result__item img {
    top: -1px;
    left: -1px;
    right: -1px;
    width: calc(100% + 2px);
    height: 205px;
    object-fit: cover;
}

.result__item:hover {
    color: var(--white-text);
    background-color: var(--background-red-dark);
    border-color: transparent;
}

.result__item:hover::after {
    display: none;
}

.faq__question {
    display: block;
    padding-left: 45px;
    margin-bottom: 1rem;
    font-size: 18px;
}

.faq__question::before {
    content: '';
    position: absolute;
    top: 0.7em;
    left: 0;
    width: 30px;
    height: 4px;
    background-color: var(--faq-decorate);
}

@media screen and (min-width: 992px) {
    .faq__question {
        font-size: 20px;
    }
}

@media screen and (min-width: 1300px) {
    .faq__question {
        padding-left: 0;
    }
    .faq__question::before {
        left: -45px;
    }
}

.tariffs__item {
    padding: 60px 41px;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: 100%;
}

.tariffs__item--low {
    background-image: url(../img/tariffs_low.svg);
}

.tariffs__item--low-2 {
    background-image: url(../img/tariffs_low-2.svg);
}

.tariffs__item--low-3 {
    background-image: url(../img/tariffs_low-3.svg);
}

.tariffs__item--low-4 {
    background-image: url(../img/tariffs_low-4.svg);
}


.tariffs__item--mid {
    background-image: url(../img/tariffs_mid.svg);
}

.tariffs__item--mid-2 {
    background-image: url(../img/tariffs_mid-2.svg);
}

.tariffs__item--mid-3 {
    background-image: url(../img/tariffs_mid-3.svg);
}

.tariffs__item--mid-4 {
    background-image: url(../img/tariffs_mid-4.svg);
}

.tariffs__item--mid-5 {
    background-image: url(../img/tariffs_mid-5.svg);
}

.tariffs__item--mid-6 {
    background-image: url(../img/tariffs_mid-6.svg);
}

.tariffs__item--high {
    background-image: url(../img/tariffs_high.svg);
}

.tariffs__item--high-2 {
    background-image: url(../img/tariffs_high-2.svg);
}

.tariffs__item--high-3 {
    background-image: url(../img/tariffs_high-3.svg);
}

.tariffs__item--high-4 {
    background-image: url(../img/tariffs_high-4.svg);
}


.tariffs__item--high-5 {
    background-image: url(../img/tariffs_high-5.svg);
}


.btn {
    padding: 16px 32px;
    font: inherit;
    color: var(--color-main-text);
    background-color: var(--bg-btn);
    border: none;
    border-radius: 5px;
    border-bottom: 3px solid var(--btn-border);
}

.tariffs__btn {
    width: 100%;
    max-width: 264px;
    margin: 0 auto;
}

/*styles-end*/




