<template>
  <div v-if="regions.length > 0" class="cust-select">
    <select v-model="model">
      <option value="">Все города</option>
      <optgroup v-for="region in regions" :label="region.name">
        <option v-for="city in region.cities" :key="city.id" :value="city.id">{{ city.name }}</option>
      </optgroup>
    </select>
  </div>
</template>

<script>
export default {
  name: "Cities",
  props: ['regions', 'value'],
  data() {
    return {
      model: this.value
    }
  },
  watch: {
    model(value) {
      this.$emit('value', value);
    }
  }
}
</script>

<style scoped>

</style>
