<template>
  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6">
    <div class="kanal-item checkbox-item">
      <div class="checkbox-item-box text-center">
        <div>
          <input :id="'channel-' + offer.id" type="checkbox" :value="offer.id" @change="change" :checked="checked">
          <label :for="'channel-' + offer.id">
            <div class="checkbox-item-img">
              <img v-if="offer.logo.src !== null" :alt="offer.name" :src="'http://niko-m.ru' + offer.logo.src">
            </div>
            <span>{{ offer.name }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import _ from "lodash"
export default {
  name: "Offer",
  props: ['offer', 'checked'],
  data() {
    return {
      value: Object
    }
  },
  methods: {
    change(e) {
      this.value = {checked: e.target.checked, value: parseInt(e.target.value)};
    }
  },
  watch: {
    value: _.debounce(function(val) {
      this.$emit('change', val);
    }, 300)
  }
}
</script>

<style scoped>

</style>
