<template>
  <div>
    <Offer v-for="offer in offers" :key="offer.id" :offer="offer" :checked="values.indexOf(offer.id) >= 0" @change="change" />
  </div>
</template>

<script>
import Offer from './Offer';
export default {
  name: "Offers",
  props: ["offers", "basketItems"],
  components: {Offer},
  data() {
    return {
      values: []
    };
  },
  created() {
    this.render();
  },
  methods: {
    change(value) {
      this.$emit('change', value);
    },
    render() {
      this.values = [];
      this.basketItems.map(item => {
        this.values.push(item.offer.id)
      })
    }
  },
  watch: {
    basketItems() {
      this.render();
    }
  }
}
</script>

<style scoped>

</style>
