<template>
  <div class="kanal__tooltip-box">
    <div class="kanal__tooltip kanal__tooltip_left">
      <a v-if="!show" class="kanal__link" @click="toggle()">Подробное описание</a>
      <div v-if="show">
        <p v-html="type.text"></p>
      </div>
      <a v-if="show" class="kanal__link" @click="toggle()">Свернуть подробное описание</a>
    </div>
  </div>
</template>

<script>
export default {
  name: "Type",
  props: ['type'],
  data() {
    return {
      show: false
    }
  },
  methods: {
    toggle() {
      this.show = !this.show;
    }
  }
}
</script>

<style scoped>

</style>
