<template>
  <div class="vubor-formata-box">
    <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 vubor-formata" v-for="type in types">
      <div class="radio-item">
        <input name="type" type="radio" v-model="model" :id="'type-' + type.value" :value="type.value" >
        <label :for="'type-' + type.value">
          <span>{{ type.name }}</span>
          <div>
            <Type :type="type" />
          </div>
        </label>
      </div>
    </div>
  </div>
</template>

<script>
import Type from './Type';
export default {
  name: "Types",
  props: ['types', 'value'],
  components: {Type},
  data() {
    return {
      model: this.value
    };
  },
  watch: {
    model(value) {
      this.$emit('value', value);
    }
  }
}
</script>

<style scoped>

</style>
