.file-uploader .file-input, .smart-form .input .file-uploader .file-input {
    /*width: 0;*/
    /*height: 0;*/
    display: none;
}
.file-uploader .btn-loader {
    display: none;
}
.file-uploader .photo-box {
    display: none;
    margin-bottom: 15px;
}
.file-uploader .photo-box > span {
    position: relative;
    display: inline-block;
    min-width: 75px;
    text-align: center;
}
.file-uploader .photo-controller {
    background: rgba(0,0,0,.7);
    text-align: right;
    padding: 5px 10px;
    position: absolute;
    color: #fff;
    left: 0;
    right: 0;
    top: 0;
    display: none;
}
.file-uploader .photo-controller > i {
    cursor: pointer;
    margin-left: 5px;
}
.file-uploader .photo-loader {
    background: rgba(0,0,0,.7);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}