@media (min-width: 992px) {
    #wrapper {
        display: flex;
        min-height: 100vh;
        flex-direction: column;
    }

    .container {
        max-width: 992px;
    }

    .col-md-1-1 {
        min-width: 101px;
    }

    .col-md-2 {
        width: 16.66666667% !important;
    }

    .col-md-3 {
        width: 25% !important;
    }

    .col-md-4 {
        width: 33.33333333% !important;
    }

    .col-md-4-5 {
        width: 40% !important;
    }

    .col-md-5 {
        width: 41.66666667% !important;
    }

    .col-md-6 {
        width: 50% !important;
    }

    .col-md-7 {
        width: 58.33333333% !important;
    }

    .col-md-7-5 {
        width: 60% !important;
    }

    .col-md-9 {
        width: 75% !important;
    }

    .col-md-12 {
        width: 100% !important;
    }

    body {
        font-size: 15px;
    }

    h1, .h1 {
        font-size: 36px;
    }

    h2, .h2 {
        font-size: 24px;
    }

    h3, .h3 {
        font-size: 18px;
    }

    h4, .h4 {

    }

    h5, .h5 {

    }

    a {

    }

    p {
        line-height: 1.8;
        font-size: 18px;
    }

    td {
        line-height: 1.42857143;
        font-size: 15px;
    }

    ul {

    }

    ol {

    }

    ol li {

    }

    ol li ul {

    }

    ul li {

    }

    ul li ul {

    }

    .navbar-header {
        display: none;
    }

    #top-menu {
        width: 100%;
        position: relative;
    }

    #top-menu ul li {
        width: auto;
        float: none;
        display: table-cell;
        background-color: #fff;
    }

    .top-menu-bg {
        display: none;
    }

    .black-main-menu .navbar-default .collapse.in#top-menu,
    .black-main-menu .navbar-default .collapsing#top-menu {
        background: #000;
        position: relative;
    }

    .black-main-menu .navbar-default #top-menu ul:nth-child(2) {
        padding: 0;
        width: 80%;
        display: table;
    }

    .black-main-menu .navbar-default #top-menu ul li a {
        font-size: 12px;
        padding: 10px 9px 9px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 10;
        color: #000;
    }

    .navbar-collapse.collapse {
        display: inline-block !important;
    }

    .black-main-menu .navbar-nav {
        display: inline-block;
    }

    .black-main-menu .navbar-default {
        background-color: #fff;
    }

    .black-main-menu {
        background-color: #fff;
    }

    .footer-menu-container {
        background-color: #242424;
    }

    /*.link-basket {
        display: inline-block;
        width: 20%;
        position: absolute;
        top: 0;
        right: 0;
        vertical-align: middle;
        height: 45px;
        z-index: 102;

    }*/
    /*.link-basket:hover {
         width: 275px;
         height: 46px;
     }*/
    .link-basket:hover a {
        /*height: 46px;*/
        /*padding: 12px 10px 12px 35px;*/
    }

    .link-basket .link-basket-count {
        white-space: nowrap;
        margin: 0 15px;
        width: auto;
    }

    .link-basket span {
        display: inline-block;
    }

    .link-basket a {
        width: 100%;
        background-color: #dc2d22;
        color: #fff;
        text-decoration: none;
        padding: 6px 5px 9px 35px;
        font-size: 12px;
        display: inline-block;
        line-height: 1;
        position: relative;
    }

    .link-basket a:before {
        content: '';
        width: 18px;
        height: 16px;
        background: url(../img/icon-top-port-white.png) no-repeat;
        display: inline-block;
        vertical-align: middle;
        position: absolute;
        top: 13px;
        left: 25px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .link-basket span {
        border-bottom: 1px dashed #fff;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .link-basket span.link-basket-price {
        font-family: 'GothamProMedium';
        white-space: nowrap;
        margin-top: 5px;
        display: inline-block;
    }

    .red-main-menu {
        background-color: #dc2d22;
    }

    .red-main-menu ul {
        width: 100%;
        display: table;
    }

    .red-main-menu ul li {
        display: table-cell;
        float: none;
        text-align: center;
        border-left: 1px solid #f84a36;
        border-right: 1px solid #b9000a;
    }

    .red-main-menu ul li:first-child {
        border-left: 0;
    }

    .red-main-menu ul li:last-child {
        border-right: 0;
    }

    .red-main-menu ul li a {
        text-decoration: none;
        text-transform: uppercase;
        color: #fff;
        font-size: 14px;
        font-family: 'GothamProMedium';
        padding: 20px 12px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 10;
    }

    .main-slogan-block {
        padding: 25px 0;
    }

    .slogan h1 {
        font-size: 20px;
        margin-top: 0;
        margin-bottom: 12px;
        text-transform: none;
    }

    .slogan-box {
        width: 310px;
        display: inline-block;
        text-align: justify;
        -moz-text-align-last: justify;
        text-align-last: justify;
    }

    .slogan-box span {
        color: #5a5a5a;
    }

    .callus-link {
        color: #d32f2f;
        text-decoration: none;
        border-bottom: 1px dashed #d32f2f;
        cursor: pointer;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
        margin-left: 0;
        vertical-align: middle;

    }

    .callus-link:hover {
        border-bottom-color: transparent;
        color: #d32f2f;

    }

    .phone-namber {
        color: #5a5a5a;
        font-size: 20px;
    }

    .phone-namber span {
        color: #333;
        font-size: 28px;
        font-family: 'GothamProMedium';
    }

    .main-slogan-block .phone {
        float: right;
        width: 210px;
    }

    .col-md-2-5 {
        width: 20%;
    }

    .content-container {
        padding: 40px 0 70px;
        flex: 1;
    }

    .content-block {
        width: 100%;
        display: inline-block;
        margin-top: 90px;
    }

    .main-h1 {
        font-size: 60px;
        margin-bottom: 35px;
        width: 940px;
        margin-left: auto;
        margin-right: auto;
    }

    .content-header .info-text {
        font-size: 24px;
        line-height: 1.5;
    }

    .content-item .item-title {
        font-size: 18px;
        margin-top: 15px;
    }

    .content-item {
        margin-bottom: 0;
    }

    .about-container {
        padding: 85px 0 20px;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(odd) .right-box {
        width: 67%;
    }

    .main-h2 {
        font-size: 36px;
    }

    .about-container h2 {
        margin-bottom: 25px;
    }

    .about-container p {
        margin-bottom: 55px;
    }

    .about-block {
        padding: 45px 60px 50px 5%;
        min-height: 275px;
        margin-bottom: 15px;
        min-width: 465px;
        width: auto;
        max-width: 520px;
    }

    .about-block .about-block-top .left-box {
        font-size: 72px;
        width: 50%;
    }

    .about-block .about-block-top .left-box span {
        font-size: 42px;
    }

    .about-block .about-block-top .right-box {
        font-size: 24px;
        width: 50%;
        line-height: 1.5;
        margin-bottom: 25px;
    }

    .about-block .about-block-bottom a {
        font-size: 18px;
        line-height: 1.7;
        text-decoration: none;
        border-bottom: 1px solid #000;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(odd) .about-block {
        float: right;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(4) .about-block,
    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(5) .about-block {
        margin-bottom: 0;
    }

    .about-container .yellow-btn {
        margin: 45px 0 20px;
        padding: 30px 90px;
    }

    .klientu-container {
        padding: 70px 0 80px;
    }

    .klientu-container .main-h1 {
        font-size: 36px;
        margin: 0 0 85px;
    }

    .klientu-container .item-img {
        min-height: 75px;

        margin-bottom: 40px;
    }

    .klientu-container .item-img img {
        max-height: 75px;
        min-height: 50px;
        max-width: 310px;
        min-width: 130px;
    }

    .klientu-block {
        margin-bottom: 30px;
    }

    .form-main-container {
        padding: 100px 0 75px;
    }

    .form-block {
        padding: 30px 0 25px 30px;
    }

    .form-block .main-h2 {
        margin-bottom: 7px;
        white-space: nowrap;
    }

    .form-block p {
        font-size: 18px;
        margin-bottom: 25px;
    }

    .form-block input {
        /*max-width: 320px;*/
        width: 490px;
        padding: 20px 15px;
        margin-bottom: 20px;
    }

    .form-block textarea {
        width: 490px;
        /*max-width: 665px;
        width: 100%;*/
        padding: 18px 15px;
        height: 115px;
    }

    .form-block .form-group:nth-child(2) {
        margin-bottom: 20px;
    }

    .form-block input.yellow-btn {
        font-size: 18px;
        padding: 23px 60px;
        width: 220px;
    }

    .manager-block b,
    .manager-block em,
    .manager-block p,
    .callus .callus-box p {
        font-size: 15px;
    }

    .manager-block p {
        line-height: 1.6;
    }

    .manager-block em {
        margin-bottom: 15px;
    }

    .manager-block {
        padding-right: 165px;
        padding-left: 0;
    }

    .manager-img {
        min-width: 575px;
        right: -100px;
        bottom: -15px;
    }

    .form-bg {
        height: 520px;
    }

    .callus {
        bottom: 88px;
        width: 380px;
        padding: 18px 15px 18px 20px;
    }

    .callus img {
        width: 55px;
        height: 55px;
        margin-right: 15px;
    }

    .callus .callus-box b {
        font-size: 30px;
    }

    .footer-menu-container {
        padding: 0;
    }

    .footer-menu-container ul {
        width: 100%;
        display: table;
        height: 72px;
    }

    .footer-menu-container ul li {
        float: none;
        width: auto;
        padding: 0;
        overflow: hidden;
        display: table-cell;
        text-align: center;
    }

    .footer-menu-container ul li a {
        padding: 26px 16px;
        -webkit-transition: all 0.3s;
        -moz-transition: all 0.3s;
        transition: all 0.3s;
        z-index: 10;
    }

    .form-main-container {
        background: url(../img/form-bg.jpg) no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .black-main-menu {
    / / height: 30 px;
    }

    .tablet-container {
        padding-top: 15px;
        padding-bottom: 0;
    }

    .content-full {
        padding-bottom: 50px;
    }

    .vubor-kanala h2 {
        margin-top: 35px;
    }

    .cust-select select {
        font-size: 15px;
    }

    .kalk-block {
        margin-bottom: 42px;
    }

    .kalk-block table thead th,
    .kalk-block table td,
    .kalk-block table td input,
    .basket-link-box b,
    .basket-link-box {
        font-size: 15px;
    }

    .kalk-block table thead th {
        padding-top: 20px;
        padding-top: 20px;
    }

    .add-basket {
        padding-right: 20px;
    }

    .kak-razmestit-reklamy h2 {
        font-size: 36px;
        margin-bottom: 100px;
    }

    .etapu-item {
        margin-bottom: 55px;
    }

    .etapu-item:before {
        width: 64px;
        height: 24px;
    }

    .etapu-item-text .h3 {
        font-size: 24px;
        line-height: 1.3;
        margin-bottom: 15px;
        width: 90%;
    }

    .etapu-item-text {
        width: 66%;
    }

    .etapu-item-namber {
        width: 75px;
        height: 75px;
        margin-right: 20px;
    }

    .etapu-item-namber span {
        font-size: 36px;
    }

    .kak-razmestit-reklamy {
        padding: 60px 0 45px;
    }

    .primeru-rabot {
        padding: 55px 10px 35px;
    }

    .primeru-rabot h2 {
        font-size: 36px;
        margin-bottom: 40px;
    }

    .primeru-video-title {
        font-size: 18px;
        margin-top: 27px;
    }

    .primeru-rabot .col-lg-4.col-md-4.col-sm-4.col-xs-6 {
        padding: 0 5px;
    }

    .content-padding {
        padding: 52px 15px 40px;
    }

    .content-padding b {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .prichinu h2 {
        font-size: 36px;
        width: 100%;
        margin-bottom: 60px;
    }

    .prichinu-item .red-title {
        font-size: 60px;
        line-height: 1;
    }

    .prichinu-item-title,
    .callus-right .callus-box b,
    .callus-right .callus-box p {
        font-size: 24px;
        text-align: center;
    }

    .prichinu {
        padding-top: 50px;
        padding-bottom: 25px;
    }

    .basket-block-header {
        width: 100%;
        font-size: 18px;
    }

    .basket-block-body-title,
    .basket-block-body-count,
    .basket-block-body-time,
    .basket-block-body-price {
        width: 100%;
        display: inline-block;
    }

    .basket-block-body-time {
        margin-bottom: 10px;
    }

    .basket-block-body-dell-item {
        position: absolute;
        top: 22px;
        right: 0;
    }

    .basket-block-footer .basket-block-footer-price {
        float: none;
        font-size: 24px;
        padding-top: 0;
        margin-bottom: 20px;
        display: inline-block;
        text-align: left;
    }

    .basket-block-footer .basket-block-footer-price b {
        text-align: left;
    }

    .basket-block-footer-price div {
        display: inline-block;
    }

    .basket-block-footer .basket-block-footer-price b,
    .basket-block-body,
    .callus-right .callus-box p,
    .etapu-item-text p,
    .prichinu-item p {
        font-size: 15px;
    }

    .radio-item p {
        line-height: 1.5;
    }

    .basket-block-body-title {
        padding-right: 20px;
    }

    .basket-block-footer .yellow-btn {
        font-size: 18px;
    }

    .callus-right .callus-box,
    .callus-box-info,
    .callus-right .callus-box p,
    .basket-block-footer .yellow-btn {
        width: 100%;
    }

    .callus-box-info {
        width: 66%;
    }

    .callus-right .callus-box img {
        position: relative;
        top: 0px;
        left: 0;
        float: none;
    }

    .callus-right .callus-box p {
        line-height: 1.5;
        text-align: center;
    }

    .callus-box .callus-box-info p {
        text-align: left;
    }

    .basket-block {
        margin-top: 215px;
    }

    .stroka-basket-block {
        margin-top: 93px;
    }

    .basket-block-header {
        padding: 15px;
    }

    .basket-block-footer {
        padding-top: 0;
    }

    .vubor-formata-box {
        padding-top: 15px;
    }

    .kalk-table-list {
        margin-top: 15px;
    }

    .vubor-formata-box .vubor-formata:nth-child(3) label:hover,
    .vubor-formata-box .vubor-formata:nth-child(3) .radio-item input[type=radio]:checked + label {
        padding-bottom: 12px;
    }

    .seo-content p {
        font-size: 15px;
        margin-bottom: 15px;
    }

    .content-header-menu li,
    .content-header-menu li:nth-child(3) {
        margin-right: 60px !important;
    }

    .content-header-menu li a {
        font-size: 15px;
    }

    .content-container h1 {
        margin-bottom: 30px;
    }

    .gray-bg {
        padding-top: 60px;
    }

    .obyavlenie-block {
        padding: 0 15px;
    }

    .obyavlenie-box {
        padding-top: 25px;
        padding-bottom: 30px;
    }

    .content-body {
        padding-top: 40px;
        padding-bottom: 55px;
    }

    .obyavlenie-box p {
        margin-bottom: 5px;
    }

    .table-block {
        margin: 20px 0 30px;
    }

    .rightbar {
        margin-top: 0;
        border: 1px solid #d2d2d2;
    }

    .rightbar .basket-block-body {
        background-color: #fff;
        padding: 0;
        margin-bottom: 0;
    }

    .rightbar .basket-block-body li {
        padding: 15px 20px;
    }

    .rightbar .basket-block-body li a {
        font-family: 'GothamProMedium';
    }

    .rightbar .basket-block-header {
        padding-top: 17px;
        padding-bottom: 17px;
        padding-left: 20px;
    }

    .rightbar .basket-block-footer {
        padding-top: 25px;
        padding-bottom: 28px;
    }

    .tablet-container h2.no-uppercase {
        font-size: 18px;
        height: 50px;
        overflow: hidden;
    }

    .content-box {
        margin-bottom: 30px;
    }

    .content-box:nth-child(3n+1) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .content-box:nth-child(3n+2) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .content-box:nth-child(3n+3) {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pagination-block {
        list-style-type: none;
        padding-left: 0;
    }

    .pagination-block li {
        float: left;
        width: 40px;
        height: 40px;
        background-color: #fff;
        border: 1px solid #dcdcdc;
        margin-right: 10px;
        text-align: center;
    }

    .pagination-block li a {
        text-decoration: none;
        color: #9e9e9e;
        display: block;
        line-height: 40px;
    }

    .pagination-block li.active a,
    .pagination-block li:hover a {
        color: #fff;
    }

    .pagination-block li.active,
    .pagination-block li:hover {
        background-color: #1478ba;
        color: #fff;
        cursor: pointer;
    }

    .pagination-block li.no-active {
        background-color: #f5f5f5;
        border: 0;
        width: auto;
    }

    .pagination-block li.no-active:hover a {
        color: #9e9e9e;
        cursor: default;
    }

    .filter-container .filter-btn a {
        font-size: 15px;
    }

    .filter-container {
        margin-top: 0;
        margin-bottom: 20px;
    }

    .town-container {
        padding-top: 30px;
    }

    .town-container h2 {
        margin-bottom: 32px;
    }

    .town-item {
        padding: 30px 15px 30px 30px;
    }

    .town-item p,
    .town-item b {
        font-size: 15px;
    }

    .town-item-left-box {
        width: 86px;
    }

    .town-item-right-box {
        width: 78%;
    }

    .zakaz-town .yellow-btn {
        font-size: 13px;
        max-width: 350px;
    }

    .table-town {
        margin-top: 0;
        margin-bottom: 0;
    }

    .table-town p,
    .table-town b {
        font-size: 15px;
        line-height: 1.6;
    }

    .table-town table thead th {
        padding: 20px;
    }

    .mobile-container .content-body {
        padding-top: 40px;
    }

    .about-us-box {
        height: 480px;
    }

    .direktor-img {
        top: -33px;
    }

    .direktor-comm-right {
        padding-top: 130px;
    }

    .direktor-comm-right b,
    .direktor-comm-right span {
        line-height: 1.2;
    }

    .why-we-container h2 {
        font-size: 36px;
        margin-top: 25px;
    }

    .why-we-container h3 {
        font-size: 24px;
        margin-bottom: 20px;
    }

    .rekl-box {
        padding-top: 0;
    }

    .rekl-box-price {
        padding-left: 0;
        font-size: 36px;
        padding-top: 20px;
        padding-bottom: 15px;
    }

    .rekl-box-price span {
        font-size: 24px;
    }

    .rekl-box-left {
        padding-left: 0;
    }

    .rekl-box-gray {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    .rekl-box-gray b,
    .serv-item-checkbox b {
        font-size: 18px;
        margin-bottom: 0;
    }

    .rekl-box-gray p {
        font-size: 18px;
        line-height: 1.3;
        margin-bottom: 14px;
    }

    .rating {
        margin-bottom: 8px;
    }

    .serv-item-checkbox label,
    .serv-item-checkbox input.check-u[type=checkbox]:checked + label {
        display: inline-block;
        width: auto;
    }

    .rekl-box-serv-item {
        padding-left: 0;
        padding-top: 30px;
    }

    .serv-item-checkbox label {
        font-size: 18px;
        margin-bottom: 23px;
        padding-left: 30px;
    }

    .rekl-box-calendar {
        padding-top: 7px;
    }

    .rekl-box-month {
        margin-top: 23px;
    }

    .rekl-box.in-basket-btn {
        padding-top: 5px;
        padding-bottom: 23px;
    }

    .rekl-box.rekl-descr {
        padding-top: 40px;
    }

    #rekl-shit-slider .gallery-top {
        height: 495px;
    }

    #contact-maps {
        height: 465px;
    }

    .adress-block p,
    .dowld-box a {
        line-height: 1.4;
    }

    .adress-block {
        font-size: 18px;
    }

    .time-work-left b,
    .transport-item b {
        font-size: 18px;
    }

    .dowld-box img {
        margin-right: 20px;
    }

    .adress-block h2 {
        margin-top: 50px;
        margin-bottom: 15px;
    }

    .adress-item:nth-child(1) h2,
    .adress-item:nth-child(2) h2 {
        margin-top: 40px;
    }

    .adress-block {
        margin-bottom: 40px;
    }

    .tab-1 span,
    .tab-2 span {
        font-size: 18px;
    }

    .tab-2 span:before {
        width: 26px;
        height: 30px;
        background-position: -16px center !important;
        left: -37px !important;
        top: -3px !important;
    }

    .transport-item {
        padding-left: 45px;
    }

    .transport-item i {
        left: 8px;
    }

    .transport-item i.fa-bus,
    .transport-item i.fa-credit-card-alt {
        font-size: 20px;
    }

    .transport-item i.fa-map-marker {
        font-size: 27px;
        top: 33px;
    }

    .transport-block .shadow {
        margin-bottom: 60px;
    }

    .transport-item i.fa-phone {
        font-size: 23px;
        top: 40px;
    }

    .transport-item i.fa-credit-card-alt {
        top: 38px;
    }

    .adress-item:nth-child(2n+1) {
        padding-right: 14%;
    }

    .adress-item:nth-child(2n+2) {
        padding-left: 10%;
    }

    .faq-container h4 {
        font-size: 18px;
    }

    .quest-title:after {
        right: 34px;
    }

    .answ-text {
        font-size: 15px;
        padding: 35px 32px;
    }

    .answ-text p {
        font-size: 15px;
    }

    .quest-title {
        padding: 18px 10% 18px 32px;
    }

    .float-box-right,
    .arenda-box-case {
        padding-left: 0;
    }

    .arenda-box:nth-child(2) {
        order: 4;
    }

    .arenda-box:nth-child(3) {
        order: 3;
    }

    .arenda-box-price {
        width: 100%;
    }

    .naryw-rekl-block {
        margin-top: 20px;
        margin-bottom: 25px;
    }

    .price-ot {
        font-size: 15px;
    }

    .price-ot .red-title {
        font-size: 24px;
    }

    .arenda-block {
        padding-bottom: 10px;
    }

    .nav.nav-tabs .tab-3 span:before {
        width: 35px !important;
        height: 30px !important;
        left: -55px !important;
        top: -5px !important;
    }

    .nav.nav-tabs .tab-4 span:before {
        background-position: -35px 0 !important;
        width: 35px !important;
        height: 30px !important;
        left: -55px !important;
        top: -3px !important;
    }

    .margin-bottom-40 .shadow {
        margin-bottom: 40px;
    }

    .naryw-table-block thead {
        display: inline-block;
        width: 100%;
    }

    .mesto-item-list td:before {
        display: none;
    }

    .mesto-img,
    .mesto-maps {
        height: 270px;
    }

    .mesto-item {
        width: 100%;
        border-bottom: 1px solid #e1e1e1;
        display: table;
    }

    .naryw-table-block {
        margin: 0 -15px;
        border-top: 1px solid #e1e1e1;
        padding: 0 15px;
        position: relative;
    }

    .absolute-btn {
        position: absolute;
        bottom: -60px;
    }

    .naryw-table-margin {
        margin-bottom: 65px;
    }

    .mesto-item-list {
        padding-bottom: 0;
        font-size: 13px;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        width: 100%;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }

    .mesto-item-list td:first-child {
        margin-bottom: 0;
    }

    .mesto-item-list .mesto-title b {
        font-family: 'GothamProRegular';
        font-size: 13px;
    }

    .mesto-item th {
        font-family: 'GothamProMedium';
        font-weight: 200;
        font-size: 13px;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .mesto-item th,
    .mesto-item-list .td {
        text-align: center;
    }

    .mesto-item-list td {
        display: table-cell;
    }

    .mesto-item th:nth-child(1) {
        text-align: left;
    }

    .mesto-item th:nth-child(1) span {
        margin-left: 20px;
    }

    .mesto-item th:nth-child(1),
    .mesto-item-list td:nth-child(1) {
        width: 10%;
    }

    .mesto-item th:nth-child(2),
    .mesto-item-list td:nth-child(2) {
        width: 10%;
    }

    .mesto-item th:nth-child(3),
    .mesto-item-list td:nth-child(3) {
        width: 15%;
    }

    .mesto-item th:nth-child(4),
    .mesto-item-list td:nth-child(4) {
        width: 15%;
    }

    .mesto-item th:nth-child(5),
    .mesto-item-list td:nth-child(5) {
        width: 13%;
    }

    .mesto-item th:nth-child(6),
    .mesto-item-list td:nth-child(6) {
        width: 8%;
    }

    .mesto-item th:nth-child(7),
    .mesto-item-list td:nth-child(7) {
        width: 8%;
    }

    .mesto-item th:nth-child(8),
    .mesto-item-list td:nth-child(8) {
        width: 9%;
    }

    .mesto-item-list td:first-child {
        border: none;
    }

    .tab-content.arenda-container {
        padding: 25px 15px 15px;
    }

    .mesto-item-list a {
        padding: 20px 5px;
        text-decoration: none;
    }

    .mesto-item th span {
        position: relative;
    }

    .filter-box {
        display: inline-block;
        vertical-align: middle;
    }

    .filter-box .filter-up {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 6px 5px 6px;
        border-color: transparent transparent #9e9e9e transparent;
        margin-bottom: 4px;
    }

    .filter-box .filter-up.active,
    .filter-box .filter-up:hover {
        border-color: transparent transparent #dc2d22 transparent;
    }

    .filter-box .filter-down {
        display: block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 5px 6px 0 6px;
        border-color: #9e9e9e transparent transparent transparent;
        margin-top: 4px;
    }

    .filter-box .filter-down.active,
    .filter-box .filter-down:hover {
        border-color: #dc2d22 transparent transparent transparent;
    }

    .mesto-descr {
        padding-top: 25px;
        padding-bottom: 65px;
    }

    .mesto-descr b,
    .mesto-descr .rekl-box-serv-item label {
        font-size: 15px;
    }

    .mesto-descr .serv-item-checkbox input[type=checkbox]:checked + label:before,
    .mesto-descr .serv-item-checkbox input[type=checkbox] + label:before {
        top: 2px;
    }

    .mesto-descr .rekl-box-serv-item {
        padding-bottom: 25px;
    }

    .mesto-descr .padding-right-10, .mesto-descr .row .padding-right-10 {
        padding-right: 15px;
        padding-left: 0;
    }

    .mesto-descr .padding-left-10, .mesto-descr .row .padding-left-10 {
        padding-right: 0;
        padding-left: 15px;
    }

    .rekl-box-calendar.active-calendar .rekl-box-month p,
    .rekl-box-calendar.no-active-calendar .rekl-box-month p,
    .rekl-box-calendar.active-calendar .rekl-box-year,
    .rekl-box-calendar.no-active-calendar .rekl-box-year {
        font-size: 15px;
    }

    .rekl-box-case,
    .mesto-descr .rekl-box-case:first-child {
        padding-left: 0;
        padding-right: 0;
    }

    .rekl-box-calendar.active-calendar .rekl-box-month,
    .rekl-box-calendar.no-active-calendar .rekl-box-month {
        margin-top: 20px;
    }

    .rekl-box-calendar.active-calendar,
    .rekl-box-calendar.no-active-calendar {
        margin-bottom: 15px;
    }

    .mesto-item-body .collapse.in .mesto-descr {
        border-bottom: 1px solid #e1e1e1;
    }

    .mesto-item-body:nth-last-child(2) .collapse.in .mesto-descr {
        border-bottom: 0;
    }

    .mesto-item-list:nth-child(4n+3) {
        background-color: transparent;
    }

    .mesto-item-list a.collapsed {
        background: transparent;
    }

    .more-inform-btn a,
    .mesto-item-body .in-basket-btn .yellow-btn {
        font-size: 15px;
    }

    .mesto-item-body .collapse.in {
        display: flex;
    }

    .rekl-box-calendar.no-active-calendar .rekl-box-month label {
        cursor: default;
    }

    .hint-item {
        position: relative;

    }

    .hint-text {
        position: absolute;
        bottom: 50px;
        right: 35px;
        width: 470px;
        background-color: #fff;
        text-align: left;
        padding: 30px 30px 25px 20px;
        z-index: 5;
        border-radius: 5px;
        border: 2px solid #d2d2d2;
        display: none;
        -webkit-animation-duration: .5s;
        animation-duration: .5s;
        -webkit-animation-fill-mode: both;
        animation-fill-mode: both;
    }

    .hint-item:hover {
        cursor: pointer;
    }

    .hint-item:hover .hint-text {
        display: inline-block;
        -webkit-animation-name: fadeInDown;
        animation-name: fadeInDown;
    }

    .hint-text:after {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 25px 31px 25px 0;
        border-color: transparent #ffffff transparent transparent;
        position: absolute;
        bottom: -24px;
        right: 0;
    }

    .hint-text:before {
        content: '';
        display: inline-block;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 27px 34px 27px 0;
        border-color: transparent #d2d2d2 transparent transparent;
        position: absolute;
        bottom: -28px;
        right: -2px;
    }

    .hint-text p,
    .hint-text b {
        font-size: 13px;
        margin-bottom: 5px;
        color: #000;
    }

    .hint-body {
        padding-bottom: 20px;
    }

    .hint-footer {
        border-top: 1px solid #d2d2d2;
        padding-top: 15px;
    }

    .hint-footer b:before {
        content: '';
        display: inline-block;
        float: left;
        width: 36px;
        height: 36px;
        background: url(../img/attan-img.jpg) no-repeat;
        margin-right: 10px;
    }

    .hint-body p {
        line-height: 1.6;
        position: relative;
        padding-left: 46px;
    }

    .hint-body p.one-star:before,
    .hint-body p.two-stars:before,
    .hint-body p.three-stars:before {
        content: '';
        display: inline-block;
        background: url(../img/stars-raiting.jpg) no-repeat;
        margin-right: 10px;
        width: 35px;
        height: 10px;
        position: absolute;
        left: 0px;
        top: 5px;
    }

    .hint-body p.one-star:before {
        width: 10px;
        margin-left: 25px;
    }

    .hint-body p.two-stars:before {
        width: 24px;
        margin-left: 11px;
    }

    .hint-body p.three-stars:before {
        width: 35px;
        height: 10px;
    }

    @-webkit-keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }

    @keyframes fadeInDown {
        from {
            opacity: 0;
            -webkit-transform: translate3d(0, -100%, 0);
            transform: translate3d(0, -100%, 0);
        }

        to {
            opacity: 1;
            -webkit-transform: none;
            transform: none;
        }
    }
    .hint-item .rating {
        margin-bottom: 0;
    }

    .hint-item .rating label {
        font-size: 12px;
        margin-bottom: 0;
    }

    .mesto-item-list.active {
        background: #01498c;
        background: -moz-linear-gradient(left, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
        background: -webkit-linear-gradient(left, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
        background: linear-gradient(to right, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01498c', endColorstr='#015799', GradientType=1);
    }

    .mesto-item-list.active .mesto-title > b {
        color: #fff !important;
        border-bottom: 1px dotted #fff !important;
    }

    .mesto-item-list.active .td {
        color: #fff;
    }

    .margin-bottom-40 .shadow {
        margin-bottom: 65px;
    }

    #arenda-maps {
        padding-bottom: 0;
    }

    .direktor-block .direktor-img.color-img {
        display: none !important;
    }

    .naryw-table-block.basket-rekl-table {
        padding: 0;
        border-top: 0;
    }

    .basket-rekl-table .mesto-item-list td:last-child .td {
        position: static;
    }

    .basket-rekl-table .filter-box {
        margin-bottom: 0;
        width: 5px;
    }

    .basket-case-footer .col-lg-4.col-md-4.col-sm-6.col-xs-12 {
        float: right;
    }

    .yellow-btn.shadd {
        font-size: 18px;
    }

    .basket-end-price {
        text-align: right;
    }

    .basket-case-footer {
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .naryw-table-block table.shadow {
        margin-bottom: 0;
    }

    .basket-container .naryw-table-block table.shadow {
        padding-left: 15px;
        padding-right: 15px;
        padding-bottom: 15px;
        border-top: 1px solid #e1e1e1;
    }

    .basket-case-item td:last-child .td {
        text-align: left;
    }

    .basket-rekl-table .mesto-item {
        border-top: 0;
    }

    .basket-rekl-table .mesto-item th:nth-child(6) {
        width: 10%;
    }

    .basket-rekl-table th:last-child,
    .basket-rekl-table td:last-child,
    .basket-rekl-table.begyw-box th:last-child,
    .basket-rekl-table.begyw-box td:last-child {
        width: 3%;
    }

    .basket-rekl-table.tv-box .row-price-info .td {
        padding-left: 17%;
        position: inherit;
    }

    .basket-rekl-table .mesto-descr {
        padding-bottom: 15px !important;
    }

    .stroka-basket-block .basket-block-body-title {
        width: 100%;
    }

    .form-advert {
        padding: 25px 15px 25px 30px;
    }

    .form-advert textarea {
        width: 100%;
        height: 200px;
        font-size: 15px;
    }

    .form-advert input {
        width: 195px;
        padding: 15px 10px 15px 20px;
        margin-bottom: 0;
    }

    .form-advert label {
        font-size: 18px;
    }

    .form-advert p {
        margin-bottom: 0;
    }

    .checkbox-no-number label {
        font-size: 13px;
    }

    .begyw-block table thead th,
    .begyw-block table td {
        font-size: 13px;
    }

    .radio-item label span {
        font-size: 18px;
    }

    .radio-item p {
        font-size: 15px;
    }

    .basket-rekl-table tbody {
        padding-bottom: 0;
    }

    .fade-basket-block {
    / / top: 46 px;
        -moz-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        -webkit-box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.3);
    }

    /*.link-basket:hover a:before {*/
    /*    left: 20px;*/
    /*    top: 15px;*/
    /*}*/

    #top-menu ul li.active a,
    #top-menu ul li:hover a {
        color: #fff !important;
    }

    .link-mess {
        display: inline-block;
        background-color: #01579b;
        width: 20%;
        height: 29px;
        border-radius: 2px;
        position: relative;
        max-width: 205px;
        color: #fff;
        text-decoration: none;
    }

    .link-mess a {
        color: #fff;
        text-decoration: none;
        border-bottom: 1px dashed #fff;
        font-size: 13px;
        line-height: 28px;
        margin-left: 15%;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    a.link-mess:before {
        content: '';
        display: inline-block;
        background: url(../img/mail.svg) no-repeat;
        width: 28px;
        height: 12px;
        margin-right: 15px;
        vertical-align: middle;
    }

    .link-mess:hover a,
    .link-mess:hover,
    .link-mess:hover span {
        border-bottom-color: transparent;
        color: #fff;
    }

    a.link-mess span {
        border-bottom: 1px dashed #fff;
        font-size: 13px;
        line-height: 29px;
        vertical-align: middle;
    }

    .main-slogan-block .logo img {
        width: 280px;
        margin-top: 20px;
    }

    /*.main-slogan-block .slogan {
        margin-top: 10px;
    }*/

    .link-basket {
        top: 240px;
    }

    .rekl-container .shadow .rekl-item:nth-child(1) {
        border-right: 0;
    }

    #ticker-basket .basket-block-body-dell-item {
        right: 15px;
    }

    #radio-ad-basket .basket-block-text,
    .vubor-kanala .basket-block-text {
        margin-bottom: 15px;
    }

    #radio-ad-basket .basket-block-text p,
    .vubor-kanala .basket-block-text p {
        font-size: 15px !important;
    }

    #tv-ad-basket .basket-block-body-dell-item,
    #radio-ad-basket .basket-block-body-dell-item {
        right: 15px;
    }

    .affix {
        max-width: 20%;
        position: fixed;
        top: 0;
    }

    .affix-bottom {
        max-width: 100%;
        position: absolute;
        top: auto;
    }

    .affix .basket-block {
        margin-top: 0;
    }

    .beg-block {
        display: none;
    }

    .show-hint-label {
        display: inline-block;
    }
}

@media (min-width: 1090px) and (max-width: 1199px) {
    .form-advert textarea {
        width: 100%;
        height: 200px;
        font-size: 15px;
    }

    .form-advert input {
        width: 195px;
        padding: 15px 10px 15px 20px;
        margin-bottom: 0;
    }

    .form-advert label {
        font-size: 18px;
    }

    .checkbox-no-number label {
        font-size: 13px;
    }

    .affix {
        max-width: 20%;
        position: fixed;
        top: 0;
    }

    .affix-bottom {
        max-width: 100%;
        position: absolute;
        top: auto;
    }

    .affix .basket-block {
        margin-top: 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1200px;
    }

    .col-lg-1-1 {
        min-width: 123px;
    }

    .col-lg-2 {
        width: 16.66666667% !important;
    }

    .col-lg-2-5 {
        width: 20%;
    }

    .col-lg-4 {
        width: 33.33333333% !important;
    }

    .col-lg-4-5 {
        width: 35% !important;
    }

    .col-lg-5 {
        width: 41.66666667% !important;
    }

    .col-lg-6 {
        width: 50% !important;
    }

    .col-lg-7 {
        width: 58.33333333% !important;
    }

    .col-lg-7-5 {
        width: 65% !important;
    }

    .col-lg-8 {
        width: 66.66666667% !important;
    }

    .col-lg-9 {
        width: 75% !important;
    }

    .black-main-menu {

    }

    .about-block {
        padding-left: 55px;
        margin-bottom: 105px;
    }

    .form-block input {
        width: 305px;
        margin-bottom: 10px;
    }

    .form-block textarea {
        width: 631px;
    }

    .form-bg {
        height: 480px;
    }

    .manager-img {
        bottom: 30px;
    }

    .callus {
        bottom: 180px;
    }

    .form-block p {
        margin-bottom: 40px;
    }

    /*	.black-main-menu .navbar-default #top-menu ul li a {
        padding: 15px 20px 16px;
    }*/
    .red-main-menu ul li a {
        padding: 20px 32px;
    }

    .red-main-menu li:hover {
        border-left: 1px solid transparent;
        border-right: 1px solid transparent;
    }

    .link-basket a {
        padding: 5px 10px 5px 35px;
        height: 42px;
        display: block;
    }

    .link-basket a:before {
        top: 12px;
        left: 12px;
    }

    .link-basket .link-basket-count {
        margin: 10px 3px 0 0;
    }

    .basket-link,
    .kanal-block .yellow-btn {
        font-size: 18px;
        padding: 21px;
    }

    .checkbox-item label {
        height: 204px;
        padding-top: 30px;
    }

    .checkbox-item label:hover,
    .checkbox-item input[type=checkbox]:checked + label,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) .checkbox-item label:hover,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) .checkbox-item input[type=checkbox]:checked + label,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(3) .checkbox-item label:hover,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(3) .checkbox-item input[type=checkbox]:checked + label {
        padding-top: 28px;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+5) .checkbox-item label:hover,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+5) .checkbox-item input[type=checkbox]:checked + label {
        padding-top: 27px
    }

    .checkbox-item label span {
        font-size: 14px;
    }

    .checkbox-item label span:before {
        width: 25px;
        height: 25px;
        vertical-align: top;
    }

    .checkbox-item input[type=checkbox]:checked + label span:before {
        font-size: 35px;
    }

    .checkbox-item-img {
        margin-bottom: 20px;
    }

    .checkbox-item .checkbox-item-img img {
        max-width: 100%;
    }

    .etapu-item:before {
        right: 10%;
    }

    .basket-block-header {
        padding-left: 30px;
    }

    /*.basket-block-body {
        padding: 0 30px;
    }*/
    .basket-block-footer {
        padding: 0 30px 30px;
    }

    .callus-right .callus-box img {
        top: 0px;
    }

    .callus-right .callus-box b {
        font-size: 145%;
        white-space: nowrap;
    }

    .callus-box-info {
        width: 75%;
        padding-left: 5px;
    }

    .callus-right .callus-box p {
        margin-top: 15px;
    }

    .callus-box .callus-box-info p {
        margin-top: 0;
    }

    .radio-item label span {
        font-size: 18px;
        margin-bottom: 30px;
    }

    .radio-item p {
        font-size: 15px;
    }

    .radio-item label {
        padding-top: 34px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 30px;
    }

    .radio-item label:hover,
    .radio-item input[type=radio]:checked + label,
    .radio-item input[type=radio]:checked + label:hover {
        padding-top: 32px;
        padding-left: 23px;
        padding-right: 23px;
        padding-bottom: 28px;
    }

    .gray-bg .review-item {
        padding-left: 30px;
        padding-right: 30px;
    }

    .review-item-frame {
        margin-bottom: 51px;
    }

    .review-item-frame:hover {
        margin-bottom: 46px;
    }

    .content-body.gray-bg {
        padding-top: 40px;
    }

    .content-box:nth-child(3n+1) {
        padding-right: 30px;
    }

    .content-box:nth-child(3n+2) {
        padding-left: 30px;
        padding-right: 30px;
    }

    .content-box:nth-child(3n+3) {
        padding-left: 30px;
        padding-right: 15px;
    }

    .content-box {
        margin-bottom: 55px;
    }

    .content-box:nth-last-child(-n+5) .content-item-box {
        margin-bottom: 30px;
    }

    .filter-container {
        padding: 0 15px;
    }

    .filter-box:nth-child(2n+2),
    .filter-box.polezn-inf:nth-child(2n+1) {
        padding-left: 0;
    }

    .table-town table tr .header-kalk .td,
    .table-town table td .td,
    .table-town table tr .footer-kalk .td {
        padding-left: 30px;
    }

    .town-item-right-box {
        width: 82%;
        padding-left: 35px;
    }

    .direktor-img {
        left: -25px;
    }

    .direktor-comm-right {
        padding-top: 75px;
        margin-left: -85px;
        padding-left: 80px;
    }

    .direktor-comm-right p.q-marks:before {
        width: 52px;
        height: 37px;
        left: -70px;
        top: -15px;
    }

    .direktor-comm-right p.q-marks {
        margin-bottom: 35px;
    }

    .direktor-comm-right b,
    .direktor-comm-right p.q-marks {
        font-size: 24px;
    }

    .direktor-comm-right span {
        font-size: 20px;
    }

    .arenda-container {
        padding: 30px;
    }

    #arenda-maps {
        padding: 30px 30px 15px;
    }

    .arenda-box:nth-child(2n+1) {
        padding-right: 0;
    }

    .arenda-box:nth-child(2n+2) {
        padding-left: 0;
    }

    .arenda-box .cust-select {
        width: 285px;
    }

    .mesto-item th,
    .mesto-item-list .mesto-title b,
    .mesto-item-list {
        font-size: 15px;
    }

    .mesto-item th:nth-child(3), .mesto-item-list td:nth-child(3) {
        width: 20%;
    }

    .mesto-item th:nth-child(1) span {
        margin-left: 35px;
    }

    .five-column-rekl td:first-child b,
    .five-column-stroka td:first-child b,
    .four-column td:first-child b {
        font-size: 15px;
    }

    .basket-rekl-table.dops-box th:first-child {
        padding-left: 30px;
    }

    .basket-case-footer {
        margin-top: 40px;
        margin-bottom: 70px;
    }

    .basket-block-body-title {
        margin-bottom: 0;
    }

    .form-advert {
        padding: 25px 30px;
    }

    .form-advert textarea {
        width: 100%;
    }

    .form-advert input {
        width: 210px;
        margin-bottom: 0;
    }

    .add-more-number a,
    .checkbox-no-number label {
        font-size: 15px;
    }

    .checkbox-no-number label span {
        vertical-align: middle;
    }

    .begyw-block table thead th,
    .begyw-block table td {
        font-size: 15px;
    }

    .begyw-block table td .td {
        padding: 17px 10px 17px 15px;
    }

    .fade-basket-block {
        top: 42px;
    }

    /*.link-basket:hover {
         width: 275px;
         height: 43px;
     }*/
    .link-basket:hover a {
        /*height: 42px;*/
        /*padding: 5px 10px 12px 35px;*/
    }

    /*.link-basket:hover a:before {*/
    /*    left: 20px;*/
    /*    top: 12px;*/
    /*}*/

    .fade-basket-block.out {
        width: 240px;
    }

    .tel-radio-box label span {
        font-size: 13px;
    }

    .kanal-block .checkbox-item label {
        height: 223px;
    }

    .fade-basket-block .basket-block .basket-block-body {
        padding: 0;
    }

    #radio-ad-basket .basket-block-text,
    .vubor-kanala .basket-block-text {
        margin-bottom: 20px;
    }

    .affix {
        max-width: 260px;
        position: fixed;
        top: 0;
    }

    .affix-bottom {
        max-width: 260px;
        position: absolute;
        top: auto;
    }

    .affix .basket-block {
        margin-top: 0;
    }

}
.vubor-formata .radio-item label .kanal__tooltip {display: flex; flex-direction: column-reverse;}
.radio-item--shown .js-detailBox {display: block}
.radio-item {position: relative}
.radio-item::after {
    content: "+";
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    font-size: 24px;
    line-height: 1;
    background-color: #d2d2d2;
    border-radius: 100%;
}
.radio-item--shown::after {
    content: "-";
}




@media screen and (max-width: 992px) {
    .desktop-mail{ display: none;}
    
}

.desktop-mail {
    margin-top: 5px;
    font-size: 14px;
    
}


.desktop-mail a {color: #01579b;}









