
.review-item--carousel {
    padding: 0 15px;
    width: 100%;
}
.modal-btn-wrapper {
    width: 320px;
    margin: 45px auto 90px auto;
}

.reviews-carousel {
    margin-bottom: -30px;
}

.reviews-carousel .review-item-frame {
    margin-bottom: 30px;
    overflow: hidden;

}
.reviews-carousel .owl-controls {
    margin: 0;
}
.reviews-carousel .owl-controls .owl-buttons {
    position: absolute;
    top: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

    transform: translateY(-50%);
}

.reviews-carousel .owl-controls .owl-buttons div {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    border: 0;
    background-color: transparent;
}

.reviews-carousel .owl-controls .owl-buttons .owl-prev {
    margin-left: -45px;
    transform: scaleX(-1);
}


.reviews-carousel .owl-controls .owl-buttons .owl-next {
    margin-right: -45px;
}

.title {
    margin-top: 0;
    font-size: 36px;
    font-family: 'GothamProBold',sans-serif;
    text-transform: uppercase;
}

.new-section--bg {
    padding: 45px 0;
    background-color: #f5f5f5;
}

.new-section__title {
    margin-bottom: 30px;
}

.new-section__subtitle {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    text-transform: none;
}

.new-section__text {
    margin-bottom: 30px;
}

.wrapper__section {
    margin-bottom: 90px;
}

.complex-page-step-blocks .new-section__title {
    margin-bottom: 60px;
}
.steps  .complex-page-step-blocks {
    margin-bottom: -70px;
}


.header-desktop .phone {
    width: auto;
    float: none;
    text-align: right;
    white-space: nowrap;
}

.header-desktop .set-city-box {
    padding-left: 20px;
    margin: 0;
    text-align: left;
}

.header-desktop {
    /*display: none;*/
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 991px) {
    .header-desktop {
        height: 0;
        overflow: hidden;
    }
}

.header-desktop .blue-title {
    font-size: 22px;
    font-weight: bold;
    text-align: center;
}

.header-desktop .slogan-box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: auto;
}

.header-desktop .logo img {
    width: 240px;
    height: auto;
    margin-top: 0;
}

.set-city-box::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 0;
    width: 15px;
    height: 25px;
    background-image: url(../img/pin.svg);
    background-repeat: no-repeat;
    background-size: 15px 24px;
    transform: translateY(-50%);
}

.span-total {
    flex-shrink: 0;
    font-weight: bold;
}
.select-tooltip {
    display: none;
}

.total .total__inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 30px;
}
.total .span-total {
    font-size: 36px;
    white-space: nowrap;
}
.total .total__grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    justify-items: start;
    align-items: end;
    width: 100%;
    margin-bottom: 15px;
}
.total .total__grid--discount {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto auto auto;
}

.total .total__grid--discount .span-total {
    grid-column: 1 / 3;
    grid-row: 2;
    color: #dc2d21;
}

.total .total__old-price {
    grid-column: 1 / 2;
    grid-row: 1;
    margin-bottom: 0;
    text-decoration: line-through;
    color: #b8b8b8;
}

.total .total__label {
    grid-column: 2 / 3;
    grid-row: 1;
    justify-self: start;
    padding: 2px 6px;
    margin-bottom: 0;
    font-size: 15px;
    line-height: 1.3;
    color: #fff;
    background-color: #dc2d21;
}

.total .total__grid--discount .serv-name-box {
    grid-row: 3;
    grid-column: 1 / 4;
}

.total .total__inner .more-inform-btn,
.total .total__inner .in-basket-btn {
    width: 200px;
    margin: 0 0 15px 0;
    flex-shrink: 0;
}
.rekl-box-serv-item {
    padding: 0 15px;
}
.filter-toggler {
    padding: 10px 25px;
    border-radius: 3px;
    border-bottom: 2px solid #b0b0b0;
}
.filter-toggler::before {
    position: relative;
    top: 3px;
    content: '';
    display: inline-block;
    width: 19px;
    height: 17px;
    margin-right: 15px;

    background-image: url(../img/filter.svg);
    background-repeat: no-repeat;
    background-size: 19px 17px;
    background-position: center;
}

.js-searchForm {
    max-height: 0;
    overflow: hidden;
}

.js-searchForm--open {
    max-height: unset;
    overflow: visible;
}

.no-active-calendar {
    display: none;
}
.field-outdoorsearchtable-sides, .field-outdoorsearchtable-discount {
    margin-top: 0;
}
.arenda-box-price .min-price, .arenda-box-price .max-price, .arenda-box-left, .arenda-box-right {
    width: 100%;
}
.mesto-item-list.active td:nth-child(1) .mesto-title > b {
    color: #000;
}
.mesto-item-list.active .mesto-title:after {
    border-color: transparent transparent #959595 transparent;
}
.mesto-title {
    padding: 10px 15px;
    text-align: left;
}

tr:not(.active) .mesto-title {
    background-color: #f5f5f5;
}
.arenda-box {
    margin-bottom: 20px;
}
.arenda-box .help-block {
    margin: 0;
}
.arenda-box-price {
    display: flex;
    align-items: center;
    margin: 0;
}
.field-outdoorsearchtable-discount,
.field-outdoorsearchtable-discount {
    margin: 0;
    margin-top: 5px;
}
.field-outdoorsearchtable-discount label{
    margin: 0;
}
.arenda-box-price .min-price {
    margin-right: 5px;
}
.arenda-box-price .max-price {
    margin-left: 5px;
}
.outdoorsearchtable-sides {
    display: flex;
    align-items: center;
}
.storona-a-box {
    margin-top: 0;
}
.hint-item::after {
    display: none;
}
@media screen and (min-width: 768px) {

    .arenda-box {
        margin-bottom: 30px;
    }
    .arenda-box-case {
        padding: 0;
    }
    .field-outdoorsearchtable-sides {
        display: flex;
        align-items: center;
    }
    .mesto-title {
        display: flex;
        align-items: center;
        white-space: nowrap;
    }
    .field-outdoorsearchtable-sides .control-label {
        width: auto;
        margin-right: 30px;
    }
    tr:not(.active) .mesto-title {
        background-color: #fff;
    }
    .panel-group tbody tr:nth-child(4n + 3):not(.active) .mesto-title {
        background-color: #f5f5f5
    }
    .panel-group tbody tr:nth-child(4n + 3) {
        background-color: #f5f5f5;
    }
    .panel-group tbody tr:nth-child(4n + 3) + tr .mesto-descr {
        border-bottom: 1px solid #f5f5f5;
    }
    .mesto-item-list.active tr {
        background-color: #fff!important;
    }
    .no-active-calendar {
        display: block;
    }
    .rekl-box-serv-item {
        padding: 0;
    }
    .total .total__inner {
        align-items: flex-start;
    }
    .total .total__grid--discount {
        grid-template-columns: 1fr 6fr;
    }
    .field-outdoorsearchtable-sides,
    .field-outdoorsearchtable-discount,
    .field-outdoorsearchmap-discount {
        margin-top: 20px;
    }
}
@media screen and (min-width: 992px) {
    .hint-item::after {
        display: block;
    }
    .header-desktop {
        display: flex;
    }

    .js-searchForm {
        max-height: unset;
        overflow: visible;
    }

    .main-nav>li>a {
        padding: 20px 25px;
    }

    .red-main-menu .dropdown-list {
        position: absolute;
        z-index: 5;
        right: 0;
        display: none;
        width: auto;
        padding: 15px 35px;
        background-color: #01579b;
        color: #fff;
        border: 0;
    }

    .main-nav__dropdown:hover  ul.dropdown-list {
        display: block;
    }

    ul.dropdown-list li {
        display: block;
        margin-bottom: 15px;
        text-align: left;
        border: 0;
    }
    ul.dropdown-list li:last-child {
        margin-bottom: 0;
    }
    .dropdown-list li a {
        text-transform: uppercase;
        text-decoration: none;
        color: #fff;
        white-space: nowrap;
    }
    .dropdown-list li:hover {
        background-color: unset;
        border: 0;
    }
    .dropdown-list li a:hover {
        text-decoration: underline;
    }

    .main-slogan-block {
        padding: 15px 0;
    }

    .phone-namber p {
        line-height: 1.4;
    }

    .total .total__grid {
        grid-template-columns: 1fr 2fr;
        justify-items: start;
        align-items: end;
    }

    .total .total__grid--discount {
        grid-template-columns: 1fr 2fr;
        grid-template-rows: auto auto;
    }

    .total .total__old-price {
        grid-column: 1 / 2;
        grid-row: 1;
    }
    .total .total__grid--discount .span-total {
        grid-column: 1 / 2;
        grid-row: 2;
    }
    .total .total__grid--discount .serv-name-box {
        grid-row: 1;
        grid-column: 2 / 3;
    }
    .total .total__label {
        grid-column: 2 / 3;
        grid-row: 2;
        margin-bottom: 0;
    }

    .total .span-total {
        margin-right: 20px;
        font-size: 30px;
    }
    .total .total__inner {
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
    }

    .total .total__inner .in-basket-btn {
        margin-left: 20px;
    }
    .total .total__inner .more-inform-btn {
        margin-left: auto;
    }
    .total .total__grid .span-total {
        line-height: 1;
    }

    .select-tooltip {
        position: relative;
        display: inline-block;
        padding: 2px 8px;

        color: #fff;
        background-color: #9e9e9e;
        border-radius: 4px;
    }
    .select-tooltip__inner {
        position: relative;
    }
    .select-tooltip__inner::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -16px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 6px 0 6px 8px;
        border-color: transparent transparent transparent #9e9e9e;
        transform: translateY(-50%);
    }
    .select-tooltip__text {
        margin: 0;
        font-size: 14px;
    }
    .filter-toggler {
        display: none;
    }
}
.filter-toggler {
    width: 100%;
    margin-bottom: 15px;
}
@media screen and (min-width: 1200px) {

    .total .span-total {
        margin-right: 30px;
        font-size: 36px;
    }
    .total .serv-name-box {
        margin-bottom: 0;
    }
    .total .total__inner .in-basket-btn {
        margin-left: 30px;
    }

}
.confirm-city {
    display: none;
}

.select {
    position: relative;
}

.arenda-box {
    padding: 0 15px!important;
}

.arenda-box-right {
    margin-top: 20px;
    padding: 0;
}

.select::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 23px;
    width: 10px;
    height: 1px;
    background-color: #8E8E8E;
    transform: translateY(-50%) rotate(35deg);
    pointer-events: none;
}
.select::before {
    content: '';
    position: absolute;
    top: 50%;
    right: 15px;
    width: 10px;
    height: 1px;
    background-color: #8E8E8E;
    transform: translateY(-50%) rotate(-35deg);
    pointer-events: none;
}
.select__toggler {
    appearance: none;
    -webkit-appearance: none;
    width: 100%;
    height: 53px;
    padding-left: 15px;
    padding-right: 45px;
    font-size: 14px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #dedede;
    border-radius: 2px;
    cursor: pointer;
}

.multi-select__dropdown {
    position: absolute;
    z-index: 5;
    display: none;
    width: 100%;
    padding: 15px;
    list-style: none;
    background-color: #fff;
    border: 1px solid #f5f5f5;
    border-top: 0;
}

.multi-select__dropdown li {
    position: relative;
    margin-bottom: 10px;
}

.multi-select__dropdown li:last-of-type {
    margin-bottom: 0;
}

.multi-select__input {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    clip: rect(0 0 0 0);
}

.multi-select__input:disabled + label {
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
}
.multi-select__input:disabled + label::before {
    background-color: #dedede;
}

.multi-select__input:focus + label {
    box-shadow: 0px 0px 5px #4d90fe;
}

.multi-select__input:checked + label .multi-select__label-checkbox {
    border-color: #ffd727;
}
.multi-select__input:checked + label .multi-select__label-checkbox::before,
.multi-select__input:checked + label .multi-select__label-checkbox::after {
    visibility: visible;
}

.multi-select__label-checkbox::before {
    content: "";
    position: absolute;
    top: 8px;
    left: 2px;
    width: 8px;
    height: 2px;
    background-color: #000;
    transform: rotate(35deg);
    visibility: hidden;
}
.multi-select__label-checkbox::after {
    content: "";
    position: absolute;
    top: 4px;
    left: 5px;
    width: 18px;
    height: 2px;
    background-color: #000;
    transform: rotate(-55deg);
    visibility: hidden;
}

.multi-select__label {
    position: relative;
    display: block;
    width: 100%;
    padding-left: 33px;
    font-family: sans-serif;
    font-size: 14px;
    cursor: pointer;
}

.multi-select__label-checkbox {
    position: absolute;
    top: -2px;
    left: 0;
    width: 18px;
    height: 18px;
    border: 1px solid gray;
    border-radius: 2px;
}

.multi-select--open .select__toggler {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.multi-select--open .multi-select__dropdown {
    display: block;
    border-color: #01579b;
}

.multi-select--open .select__toggler {
    border-color: #01579b;
}

.select-tooltip {
    position: absolute;
    left: -12px;
    top: -11px;
    display: inline-block;
    font-family: sans-serif;
    color: #fff;
    background-color: #9e9e9e;
    border-radius: 4px;
    transform: translateX(-100%);
}
.select-tooltip__inner {
    position: relative;
}
.select-tooltip__inner::after {
    content: "";
    position: absolute;
    top: 50%;
    right: -16px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 0 6px 8px;
    border-color: transparent transparent transparent #9e9e9e;
    transform: translateY(-50%);
}
.select-tooltip__text {
    display: block;
    padding: 6px 14px;
    margin: 0;
    font-size: 14px;
    color: inherit;
    text-decoration: none;
}
.select-tooltip__text:hover {
    color: #fff
}
.serv-item-checkbox span + span {
    font-weight: bold;
}
@media screen and (min-width: 768px) {
    .rekl-box-serv-item__title {
        font-size: 18px;
        font-weight: bold;
    }
    .serv-item-checkbox span {
        position: relative;
        z-index: 2;
        display: inline-block;
        padding: 2px;
        background-color: #fff;
    }

    .mesto-descr .rekl-box-serv-item label {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: 500px;
        overflow: hidden;
    }
    .mesto-descr .rekl-box-serv-item label:after {
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 0;
        white-space: nowrap;
        color: #000;
        content: ". . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . . ";
    }
}
@media screen and (min-width: 992px) {
    .mesto-descr .owl-carousel {
        margin-bottom: 0;
    }
    .mesto-descr {
        padding-bottom: 0;
    }
}

@media screen and (min-width: 1200px) {
    .red-main-menu ul li a {
        padding: 20px;
    }
}

/*menu*/

@media screen and (max-width: 991px) {
    #main-menu {
        display: none;

        width: 100%;
        position: relative;
        z-index: 1000;
        padding-left: 0;
        padding-right: 0;
    }
    .red-main-menu li:hover, .red-main-menu li.active {
        background-color: transparent;
    }
    .red-main-menu li:hover > a, .red-main-menu li.active > a {
        background-color: #af160c;
    }
    .main-nav {
        width: 100%;
        background-image: url(../img/bg-main.jpg);
        background-repeat: no-repeat;
    }
    .navbar-nav li {
        float: none;
        width: 100%!important;
    }
    .navbar-nav li a {
        width: 100%!important;
        text-align: center;
        text-decoration: none;
    }
    #main-menu li a {
        color: #fff;
    }
    .main-nav__dropdown > .nav__link {
        display: none!important;
    }
    .dropdown-list {
        padding: 0;
    }
    .main-nav__dropdown a {
        display: block;
        width: 100%;
        padding: 15px 0;
        line-height: 20px;
    }

    .dropdown-list{
        list-style: none!important;
    }
}
@media screen and (min-width: 992px) {
    #main-menu {
        display: block;
        background-image: unset;
        padding: unset;
        width: auto;
        position: unset;
    }

    .main-nav>li>a {
        white-space: nowrap;
    }
    .main-nav>li:last-of-type>a::after {
        content: '';
        position: relative;
        top: 4px;
        display: inline-block;
        width: 22px;
        height: 20px;
        margin-left: 10px;
        background-image: url(../img/burger-icon.svg);
        background-size: 22px 20px;
        background-repeat: no-repeat;
        background-position: center;
    }
}
/*отзывы*/
.review-content-padding .list-view {
    display: flex;
    flex-wrap: wrap;
}

.review-content-padding .list-view>div {
    width: 100%;
    padding: 0 15px;
}

.review-content-padding .list-view .review-item {
    width: 100%;
    padding: 0 0 30px 0;
}
.review-content-padding .list-view .review-item-frame {
    margin-bottom: 0;
}
.review-content-padding .list-view .review-item-frame:hover {
    margin-bottom: -6px;
}

@media screen and (min-width: 600px) {
    .review-content-padding .list-view>div {
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .review-content-padding .list-view>div {
        width: 33.333333%;
    }
    .review-content-padding .list-view .review-item {
        padding: 0 15px 60px 15px;
    }
}
/*new tab radius*/
.map-radius .map-radius__submit {
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
}

.map-radius__section {
    margin-bottom: 30px;
}

.map-radius label {
    margin-bottom: 8px;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 700;
}

.map-radius__input {
    display: block;
    width: 100%;
    padding-bottom: 15px;
    border: 0;
    border-bottom: 1px solid #e9e9e9;
}

.map-radius-size {
    position: relative;
    width: 70px;
}

.map-radius-size::after {
    content: 'м';
    position: absolute;
    top: 10px;
    right: 0;
    color: #8e8e8e ;
    transform: translateY(-50%);
}
.map-radius .map-radius__input:focus {
    border: 0!important;
    border-bottom: 1px solid #e9e9e9!important;
}

.map-radius__added-header {
    padding: 10px 15px;
    margin-bottom: 1px;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 700;
    font-size: 14px;
    background-color: #f2f2f2;
    border-radius: 6px 6px 0 0;
}

.map-radius__input[type=number]::-webkit-inner-spin-button,
.map-radius__input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.map-radius__added-body {
    padding: 10px 15px;
    border-radius: 0 0 6px 6px;
    background-color: #f2f2f2;
}

.map-radius__added-body ul {
    padding: 15px 0;
    margin: 0;
    list-style: none;
}

.map-radius__added-body li {
    position: relative;
    padding-right: 40px;
    margin-bottom: 15px;
}
.map-radius__added-body li:last-child {
    margin-bottom: 0;
}

.map-radius__added-body li button {
    position: absolute;
    top: 5px;
    right: 15px;
    width: 12px;
    height: 12px;
    border: 0;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.map-radius__edit-btn {
    margin-right: 15px;
    background-image: url(../img/pencil.png);
}
.map-radius__delete-btn {
    background-image: url(../img/delete.png);
}

.map-radius__added-body li p {
    font-size: 13px;
    line-height: 1.4;
}

.map-radius__pin-btn {
    width: auto;
}

.map-radius__pin-btn span {
    position: relative;
    display: inline-block;
    padding-left: 18px
}
.map-radius__pin-btn span::before {
    content: url(../img/map-radius-pin.png);
    position: absolute;
    top: 2px;
    left: 0;
}

@media screen and (min-width: 768px) {
    .map-radius .field-outdoorsearchtable-city {
        width: 235px;
    }
    .field-outdoorsearchtable-address,
    .field-outdoorsearchtable-radius {
        float: left
    }
    .field-outdoorsearchtable-address {
        width: calc(80% - 100px);
        margin-right: 30px;
    }
    .map-radius__submit {
        width: auto;
        padding: 15px;
        text-align: center;
    }
    .map-radius__added-header {
        font-size: 16px;
    }
    .map-radius__added-body li {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }
    .map-radius__added-body li p {
        margin: 0;
        margin-right: 15px;
        font-size: 14px;
        line-height: 1;
    }
    .map-radius__added-body li button {
        position: static;
    }
}

@media screen and (min-width: 1200px) {
    .map-radius {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    .field-outdoorsearchtable-city {
        margin-right: 30px;
    }
    .field-outdoorsearchtable-address {
        flex-grow: 1;
        height: 82px;
    }
    .field-outdoorsearchtable-address label,
    .field-outdoorsearchtable-radius label {
        margin-bottom: 22px;
    }

    .field-outdoorsearchtable-submit {
        height: 82px;
        padding-top: 26px;
    }

    .field-outdoorsearchtable-radius {
        height: 82px;
        margin-right: 30px;
    }

    .field-outdoorsearchtable-address {
        width: auto;
    }
    .map-radius__added {
        width: 100%;
    }
}


.map-radius__cities-list {
    position: relative;
    z-index: 2;
}
.map-radius__cities-list li {
    cursor: pointer;
}

.map-radius__cities-list li:hover {
    opacity: 0.75;
}

.map-radius__pin-btn {
    position: absolute;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);

}

.map-radius__map {
    position: relative;
}


@media screen and (min-width: 768px) {
    .map-radius__pin-btn {
        left: 0;
        transform: translateX(0);
    }
}

.field-outdoorsearchtable-radius,
.field-outdoorsearchtable-address{
    position: relative;
}

.field-outdoorsearchtable-radius input:disabled,
.field-outdoorsearchtable-address input:disabled {
    background-color: #fff;
    opacity: 0.75;
}

.map-radius__error {
    position: absolute;
    bottom: -50px;
    z-index: 1;
    padding: 8px;
    white-space: nowrap;
    color: #e76c64;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #e76c64;
}

.map-radius__error::before {
    content: '';
    position: absolute;
    top: -10px;
    left: 10px;
    width: 0;
    height: 0;
    border-left:10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #e76c64;
}

.map-radius__error::after {
    content: '';
    position: absolute;
    top: -9px;
    left: 11px;
    width: 0;
    height: 0;
    border-left:9px solid transparent;
    border-right: 9px solid transparent;
    border-bottom: 9px solid #ffffff;
}

.change-radius-popup {
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 200px;
    padding: 25px;
    background-color: #fff;
    border-bottom: 2px solid #ffd727;
    box-shadow: 0 0 14px 3px rgba(0,0,0,0.25);
    transform: translateY(-50%);
}
.change-radius-popup__body {
    width: 100%;
    margin-bottom: 15px;
}
.change-radius-popup__footer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.change-radius-popup__footer a {
    width: 47%;
    padding: 8px;
}

.content-padding {
    padding: 35px 15px 20px;
}


















