.hint-label {
    display: none;
}

.hint-label.active {
    display: inline-block;
}

#ticker-calc .datepick {
    padding: 0;
    border: none;
    background: transparent;
    border-bottom: 1px dashed #000;
    width: 100px;
    cursor: pointer;
}

.form-advert-input .form-block p {
    margin-bottom: 0;
}

.form-advert-input .help-block {
    display: none;
}

.form-advert-box.noactive {
    display: none;
}

.form-advert-box.active {
    display: block;
}

.error-td {
    width: auto !important;
    color: red;
    padding-top: 15px;
}

.mesto-item-list {
    cursor: pointer;
}

select[disabled] {
    color: #9e9e9e;
}

.serv-item-checkbox.total span {
    display: inline-block;
}

.custom-select-trigger:hover {
    border-bottom-color: transparent;
}

.relative {
    position: relative;
}

.ajax-loader {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background: rgba(255, 255, 255, 0.7) url("../img/loader.svg") center no-repeat fixed;
}
.ajax-loader-center {
    background-attachment: inherit;
}


.ajax-loader.active {
    display: block;
}

.maps-hint-tabs li:nth-child(2) {
    border-radius: 0;
}

.maps-hint-tabs li:last-child {
    border-radius: 0 3px 3px 0;
}

.town-item-left-box {
    max-height: 105px;
}

span.red-circle {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #d70018;
    border-radius: 20px;
    text-align: center;
    line-height: 29px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    z-index: 1;
}

.arenda-box-price input::-webkit-outer-spin-button,
.arenda-box-price input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}

.storona-a-box {
    margin-right: 5px;
}

.mesto-img {
    display: block;
}

.mesto-descr .owl-carousel .owl-item {
    max-height: 270px;
}

.mesto-descr .owl-theme .owl-controls .owl-page span {
    background: #01498c;
}

.mesto-descr .row {
    margin-right: 0;
    margin-left: 0;
}
#top-panel {
    border-bottom: 1px rgb(220, 220, 220) solid;
    padding: 5px 0;
}

#top-panel a {
    text-decoration: none;
}

.edit-box-widget-parent {
    position: relative;
}

.edit-box-widget {
    border: 1px transparent solid;
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    cursor: pointer;
    z-index: 1000;
}

.edit-box-widget button {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
}

.edit-box-widget:hover {
    border-color: red;
}

.edit-box-widget:hover button {
    display: block;
}

#edit-text .modal-dialog {
    background-image: none;
    padding: 0;
}

#edit-text .modal-dialog h4 {
    font-size: 18px;
    color: #333;
    text-transform: inherit;
}

.case-table table tbody tr:nth-child(even) {
    background-color: #f5f5f5;
}

.case-table {
    border: 1px solid #d2d2d2;
    border-radius: 7px 7px 0 0;
}

.case-table table > tbody > tr > td,
.case-table table > tbody > tr > th,
.case-table table > tfoot > tr > td,
.case-table table > tfoot > tr > th,
.case-table table > thead > tr > td,
.case-table table > thead > tr > th {
    padding: 10px;
    line-height: 1.42857143;
    vertical-align: top;
}

.case-table table > thead > tr > td,
.case-table table > thead > tr > th {
    font-weight: bold;
}

.case-table table > thead {
    border-bottom: 1px solid #d2d2d2;
}

.case-table table > tfoot {
    border-top: 1px solid #d2d2d2;
}

#search-form .active select, #search-form .active .btn-group {
    border: 1px solid #01579b;
}

.text-widget {
    min-height: 24px;
}

#set-city .modal-dialog {
    max-width: 981px;
    padding: 0;
    background: none;
}

#set-city .modal-content {
}

#set-city .modal-header {
    position: relative;
    padding: 24px;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    background: #f5f5f5;
}

#set-city .modal-header h3 {
    display: inline-block;
    vertical-align: middle;
    margin-right: 30px;
    font-size: 30px;
    text-transform: none;
    white-space: nowrap;
}

#set-city .city-search {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    max-width: 475px;
    width: 100%;
}

#set-city .city-search input[type="text"] {
    width: 100%;
    padding: 11px 45px 11px 20px;
    border: 1px solid gainsboro;
    border-radius: 2px;
}

#set-city .city-search input[type="submit"] {
    position: absolute;
    right: 20px;
    top: 50%;
    width: 22px;
    height: 22px;
    margin-top: -11px;
    background: url('../img/icon-search.svg') no-repeat;
    border: 0;
    outline: 0;
    text-indent: -9999px;
}

#set-city .close {
    position: absolute;
    right: 24px;
    top: 24px;
    opacity: 1;
}

#set-city .close-set-city {
    display: inline-block;
    width: 21px;
    height: 21px;
    background: url('../img/icon-close.svg');
}

#set-city .close-set-city:hover {
    background: url('../img/icon-close-hover.svg');
}

#set-city .modal-body .row .col-lg-3 {
    margin-left: 15px;
    margin-right: -22px;
}

#set-city .modal-body strong {
    font-family: 'GothamProMedium';
    font-size: 18px;
    color: #000;
}

#set-city .modal-body ul {
    margin-top: 20px;

}

#set-city .modal-body ul li {
    margin-bottom: 15px;
}

#set-city .modal-body ul li a {
    font-size: 16px;
}

.set-city-box {
    position: relative;
    margin-top: -15px;
    text-align: right;
}

.set-city-box a {
    color: #5a5a5a;
    text-decoration: none;
    border-bottom: 1px dashed #5a5a5a;
}

.set-city-box .basket-block-body-dell-item {
    border-bottom: none;
    top: 10px;
    right: 10px;
}

.set-city-box .confirm-city {
    position: absolute;
    z-index: 999;
    top: 24px;
    right: 0;
    width: 287px;
    padding: 25px 20px 30px;
    font-family: 'GothamProMedium';
    text-align: left;
    background-color: #f5f5f5;
    border: 1px solid #d2d2d2;
}

.set-city-box .confirm-city::before {
    position: absolute;
    top: -14px;
    right: 10px;
    content: '';
    border: 7px solid transparent;
    border-bottom: 7px solid #d2d2d2;
}

.set-city-box .confirm-city::after {
    position: absolute;
    top: -13px;
    right: 10px;
    content: '';
    border: 7px solid transparent;
    border-bottom: 7px solid #f5f5f5;
}

.confirm-city__btn {
    min-width: 60px;
    padding: 8px;
    font-size: 12px;
    text-align: center;
    border: 2px solid #ffd727;
    border-radius: 2px;
    background: transparent;
    outline: 0;
}

.confirm-city__btn:hover {
    background-color: #ffd727;
}

.confirm-city__btn_yes {
    margin-right: 10px;
    padding: 7px 8px;
    box-shadow: 0 2px 0 #e9c300;
    background-color: #ffd727;
    transition: all 0.3s;
}

.confirm-city__btn_yes:hover {
    border-color: #ffeb41;
    background-color: #ffeb41;
}

.confirm-city__title {
    display: inline-block;
    margin-bottom: 15px;
    font-size: 15px;
}

.choose-city-header {
    margin-bottom: 5px;
    font-size: 14px;
    color: #5a5a5a;
    text-decoration: none;
    border-bottom: 1px dashed #5a5a5a;
}

.choose-city-header:hover {
    color: #5a5a5a;
}

.mob-logo {
    margin-bottom: 13px;
    margin-top: -7px;
}

@media screen and (max-width: 480px) {
    #set-city .modal-header h3 {
        font-size: 18px;
    }
}

.modal .has-error .help-block {
    color: #ff716e;
}

.phone-namber p {
    margin-bottom: 0;
}

.complex-page-center-block {
    border: 5px solid #ffd727;
    padding: 30px 40px 30px 40px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.complex-page-center-block h2 {
    margin: 0px;
    font-size: 23px;
}

.complex-page-center-block div {
    margin-top: 30px;
}

.complex-page-center-block div img {
    float: left;
    margin-right: 15px;
    margin-top: 5px;
}

.complex-page-center-block div span {
    display: block;
}

.complex-page-center-block div span.complex-page-text {
    font-size: 16px
}

.complex-page-center-block div span.complex-page-phone {
    font-size: 30px;
    font-weight: bold;
}

.complex-page-step-blocks {

}

.complex-page-step-blocks h2 {
    margin-bottom: 40px;
}

.complex-page-step-blocks div {
    height: 200px;
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: auto 190px;
    margin-bottom: 70px;
    display: block;
    position: relative;
    padding-left: 0px;
    padding-right: 0px;
}

.complex-page-step-blocks div:nth-child(2) {
    background-image: url(../img/bg-complexblock-1.png);
}

.complex-page-step-blocks div:nth-child(3) {
    background-image: url(../img/bg-complexblock-2.png);
}

.complex-page-step-blocks div:nth-child(4) {
    background-image: url(../img/bg-complexblock-3.png);
}

.complex-page-step-blocks div:nth-child(5) {
    background-image: url(../img/bg-complexblock-4.png);
}

.complex-page-step-blocks div:nth-child(6) {
    background-image: url(../img/bg-complexblock-5.png);
}

.complex-page-step-blocks div:nth-child(7) {
    background-image: url(../img/bg-complexblock-6.png);
}

.complex-page-step-blocks .step-number {
    width: 70px;
    height: 70px;
    text-align: center;
    background-color: red;
    color: white;
    border: 5px solid white;
    border-radius: 50%;
    font-size: 30px;
    padding-top: 8px;
    position: absolute;
    top: -30px;
    left: 0px;
    font-weight: bold;
    margin: 0px;
}

.complex-page-step-blocks span {
    color: white;
    width: 240px;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto 0;
    height: fit-content;
    left: 70px;
}

.complex-page-step-blocks .complex-next-arrow-down {
    background-image: url(../img/arrow-down.png);
    width: 69px;
    height: 32px;
    bottom: initial;
    left: 335px;
    top: 75px;
}

.complex-page-step-blocks .complex-next-arrow-up {
    background-image: url(../img/arrow-up.png);
    width: 69px;
    height: 32px;
    bottom: initial;
    left: 335px;
    top: 75px;
}

#formfeedbackmodal-captcha {
    width: 65%;
    float: right;
}

.filter-box .rating {
    position: absolute;
    left: 2px;
    top: 4px;
}

.filter-box .rating label {
    font-size: 10px;
    width: auto
}
.placemark-ajax-loader {
    width: 400px;
    height: 250px;
    position: relative;
}
.placemark-ajax-loader .Preloader__spinner {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -55px;
}
/*.mesto-item-list:not(.active):hover {*/
    /*background: #f7f7f7;*/
/*}*/
/* PRELOADER
------------------------------------------------------------------*/
.load {
    height: 780px;
    position: relative;
}
.Preloader {
    position: relative;
    min-height: 180px;
}
.Preloader__overlay {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    opacity: .8;
    cursor: default;
}

.Preloader__spinnerContainer {
    display: none;
    position: absolute;
    width: 100%;
    height: 120px;
    top: 0;
    bottom: 0;
    margin: auto;
}
.Preloader__spinner {
    width: 120px;
    height: 120px;
    margin: 0 auto;
    border: 5px solid #dc2d22;
    border-left-color: transparent;
    border-top-color: transparent;
    border-radius: 50%;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-animation: Spinner linear 1.5s infinite;
    -moz-animation: Spinner linear 1.5s infinite;
    -o-animation: Spinner linear 1.5s infinite;
    animation: Spinner linear 1.5s infinite;
}
.Preloader__active .Preloader__overlay, .Preloader__active .Preloader__spinnerContainer {
    display: block;
}
.Preloader__center {
    position: relative;
}
.Preloader__center .Preloader__spinner{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -60px;
    margin-left: -60px;
}
.Preloader__spinner div {
    animation: Preloader__spinner 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
    transform-origin: 32px 32px;
}
@-webkit-keyframes Spinner {
    0% {-webkit-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);transform: rotate(360deg);}
}

@-moz-keyframes Spinner {
    0% {-moz-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-moz-transform: rotate(360deg);transform: rotate(360deg);}
}

@-o-keyframes Spinner {
    0% {-o-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-o-transform: rotate(360deg);transform: rotate(360deg);}
}

@keyframes Spinner {
    0% {-webkit-transform: rotate(0deg);-moz-transform: rotate(0deg);-o-transform: rotate(0deg);transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);-moz-transform: rotate(360deg);-o-transform: rotate(360deg);transform: rotate(360deg);}
}

.Preloader--floating .Preloader__spinnerContainer {
    position: fixed;
    margin-top: -60px;
    top: 50%;
    width: 100%;
    left: 0;
}
.Preloader--top .Preloader__spinnerContainer {
    position: absolute;
    left: 0 !important;
    top: 40px;
    margin-top: 0;
    bottom: auto;
}

.Preloader--bottom .Preloader__spinnerContainer {
    position: absolute;
    left: 0 !important;
    top: auto;
    margin-top: 0;
    bottom: 40px;
}
.js-detailBox {
    display: none;
}
