@font-face {
	font-family: 'GothamProRegular'; 
	src: url(../fonts/GOTHAPROREG.OTF);
	font-weight: normal; 
	font-style: normal;
}

@font-face {
	font-family: "GothamProMedium"; 
	src: url(../fonts/GOTHAPROMED.OTF);
	font-weight: normal; 
	font-style: normal;
}
@font-face {
	font-family: "GothamProBold"; 
	src: url(../fonts/GOTHAPROBOL.OTF);
	font-weight: normal; 
	font-style: normal;
}
@font-face {
	font-family: "GothamProItalic"; 
	src: url(../fonts/GOTHAPROITA.OTF);
	font-weight: normal; 
	font-style: normal;
}
@font-face {
	font-family: "GothamProLight"; 
	src: url(../fonts/GOTHAPROLIG.OTF);
	font-weight: normal; 
	font-style: normal;
}