.internet-reklama__items-layout {
    margin-bottom: 40px;
}
.internet-reklama__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 15px 40px 15px;
    text-align: center;
    border: 1px solid #c3c3c3
}

.internet-reklama__item p {
    font-size: 16px;
    line-height: 1.5;
}

.internet-reklama__item h3 {
    width: 100%;
    margin-bottom: 15px;
    text-transform: none;
    color: #34547a
}
.internet-reklama__item-header {
    margin-bottom: 15px;
}

.internet-reklama__item-price {
    margin-bottom: 45px;
}

.internet-reklama__item-price p {
    margin-bottom: 0;
    font-size: 14px;
}

.internet-reklama__item-price strong {
    display: block;
    margin-top: 15px;
    margin-bottom: 5px;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
}

.internet-reklama__item-list {
    list-style: none;
    padding: 0;
    margin-bottom: 100px;
}

.internet-reklama__item-list li {
    margin-bottom: 10px;
    font-size: 14px;
}

.internet-reklama__item .yellow-btn {
    max-width: 270px;
    margin-top: auto;
}

.internet-reklama__item:hover {
    border-color: #f4d53f;
    box-shadow: 0 0 0 2px #f4d53f;
}
.internet-reklama-tabs__item {
    display: none;
}

.internet-reklama-tabs__item--active {
    display: block;
}
.internet-reklama-tabs__controls input {
    display: none;
}

.internet-reklama-tabs__controls label {
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: underline;
    color: #fff;
    opacity: 0.75;
    cursor: pointer;
}

.internet-reklama-tabs input:checked + label {
    opacity: 1;
    text-decoration: none;
}
.internet-reklama-tabs__image-girl {
    display: none;
}
.internet-reklama-tabs .container {
    position: relative;
    padding: 45px 15px 30px 15px;
}

.internet-reklama-tabs .container::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    display: block;
    width: 100%;
    height: 100%;
    background-color: #34547a;
    z-index: -1;
}
.internet-reklama-tabs {
    margin-top: 30px;
    margin-bottom: 90px;
    color: #fff;
}
.internet-reklama-tabs__controls {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    overflow: auto;
}
.internet-reklama-tabs__controls label {
    margin-right: 30px;
    flex-shrink: 0;
}
.internet-reklama__portfolio-item {
    position: relative;
    padding: 30px 15px;
    margin-bottom: 30px;
    border: 2px solid #c3c3c3;
}
.internet-reklama__portfolio-item:hover {
    z-index: 1;
    border-color: #f5d94e;
}

.internet-reklama__portfolio-name {
    font-weight: bold;
}
.internet-reklama__portfolio-name a {
    color: inherit;
    font: inherit;
    text-decoration: none;
}
.internet-reklama__portfolio {
    padding: 20px 0 15px 0;
}
.internet-reklama .review-content-title .text-wrap {
    padding: 20px 0 5px;
}
@media screen and (min-width: 768px) {
    .internet-reklama__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin: 0 -20px;
        margin-bottom: 60px;
    }
    /*.internet-reklama__portfolio {
        padding: 45px 0 15px 0;
    }*/
    .internet-reklama__items-layout {
        width: 50%;
        padding: 0 20px;
    }
    .internet-reklama__item {
        height: 100%;
    }

    .text-wrap--internet {
        width: 75%;
    }

    .internet-reklama-tabs h4 {
        font-weight: bold;
        font-size: 1.5em;
    }

    .internet-reklama-tabs__controls {
        width: 65%;

    }

    .internet-reklama-tabs__content {
        width: 65%
    }

    .internet-reklama-tabs .text-wrap {
        padding: 15px 0;
    }

    .internet-reklama-tabs .text-wrap p {
        font-size: 16px;
    }

    .internet-reklama-tabs .container {
        min-height: 400px;
    }

    .internet-reklama-tabs .container::before {
        width: 100vw;
    }

    .internet-reklama-tabs__image-girl {
        position: absolute;
        bottom: -31px;
        right: -60px;
        display: block;
    }

    .internet-reklama__portfolio {
        display: flex;
        flex-wrap: wrap;
    }

    .internet-reklama__portfolio-item {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        width: 50%;
    }
    
    .internet-reklama__portfolio-name {
        margin-bottom: auto;
    }

}
@media screen and (min-width: 1200px) {
    .internet-reklama__items-layout {
        width: 33.33333%;
        margin-bottom: 0;
    }
    .internet-reklama__portfolio-item {
        width: 25%;
        margin-bottom: 0;
    }
    .internet-reklama__portfolio-item:nth-child(2) {
        transform: translateX(-2px);
    }
    .internet-reklama__portfolio-item:nth-child(3) {
        transform: translateX(-4px);
    }
    .internet-reklama__portfolio-item:nth-child(4) {
        transform: translateX(-6px);
    }
}
