span.multiselect-native-select {
    position: relative
}

span.multiselect-native-select select {
    border: 0 !important;
    clip: rect(0 0 0 0) !important;
    height: 1px !important;
    margin: -1px -1px -1px -3px !important;
    overflow: hidden !important;
    padding: 0 !important;
    position: absolute !important;
    width: 1px !important;
    left: 50%;
    top: 30px
}

.multiselect-container {
    position: absolute;
    list-style-type: none;
    margin: 0;
    padding: 0
}

.multiselect-container .input-group {
    margin: 5px
}

.multiselect-container > li {
    padding: 0;
    width: 100%
}

.multiselect-container > li > a.multiselect-all label {
    font-weight: 700
}

.multiselect-container > li.multiselect-group label {
    margin: 0;
    padding: 3px 20px 3px 20px;
    height: 100%;
    font-weight: 700
}

.multiselect-container > li.multiselect-group-clickable label {
    cursor: pointer
}

.multiselect-container > li > a {
    padding: 0
}

.multiselect-container > li > a > label {
    margin: 0;
    height: 100%;
    cursor: pointer;
    font-weight: 400;
    padding: 3px 20px 3px 40px
}

.multiselect-container > li > a > label.radio, .multiselect-container > li > a > label.checkbox {
    margin: 0
}

.multiselect-container > li > a > label > input[type=checkbox] {
    margin-bottom: 5px
}

.btn-group > .btn-group:nth-child(2) > .multiselect.btn {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px
}

.form-inline .multiselect-container label.checkbox, .form-inline .multiselect-container label.radio {
    padding: 3px 20px 3px 40px
}

.form-inline .multiselect-container li a label.checkbox input[type=checkbox], .form-inline .multiselect-container li a label.radio input[type=radio] {
    margin-left: -20px;
    margin-right: 0
}

::-webkit-input-placeholder {
    color: #c1c1c1
}

::-moz-placeholder {
    color: #c1c1c1
}

:-moz-placeholder {
    color: #c1c1c1
}

:-ms-input-placeholder {
    color: #c1c1c1
}

body {
    font-family: 'GothamProRegular', sans-serif;
    font-size: 14px;
    height: 100%
}

#wrapper {
    margin: 0 auto;
    min-width: 320px;
    width: 100%;
    overflow: hidden
}

.container {
    min-width: 320px
}

h1, .h1 {
    font-family: 'GothamProBold', sans-serif;
    font-size: 18px;
    text-transform: uppercase
}

h2, .h2 {
    font-family: 'GothamProBold', sans-serif;
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1.4
}

h3, .h3 {
    font-family: 'GothamProMedium', sans-serif;
    font-size: 15px;
    text-transform: uppercase
}

a {
    text-decoration: underline;
    color: #01579b;
    cursor: pointer
}

a:hover, a:visited, a:focus {
    text-decoration: none;
    outline: none
}

b {
    font-family: "GothamProBold", sans-serif;
    display: inline-block
}

p {
    font-size: 14px;
    line-height: 1.6;
    margin-bottom: 15px
}

td {
    font-size: 14px;
    line-height: 1.6
}

textarea:focus, input:focus {
    border: 1px solid #01579b;
    box-shadow: none;
    outline: none
}

.no-padding {
    padding: 0
}

.no-padding-left {
    padding-left: 0
}

.no-padding-right {
    padding-right: 0
}

.no-margin {
    margin: 0
}

.col-xs-2-5 {
    width: 20%;
    float: left
}

.blue-title {
    color: #01579b
}

.white-title {
    color: #fff
}

.red-title {
    color: #dc2d22
}

.main-h1 {
    font-size: 24px;
    font-family: 'GothamProMedium', sans-serif;
    margin-bottom: 15px
}

.main-h2 {
    font-size: 18px;
    font-family: 'GothamProBold', sans-serif;
    line-height: 1.7;
    margin-bottom: 7px
}

.about-container {
    min-width: 320px;
    width: 100%;
    display: inline-block;
    height: 100%;
    background: url(../img/bg-main.jpg) top center no-repeat;
    background-size: cover;
    padding: 25px 0 30px;
    color: #fff
}

.about-container p {
    font-size: 13px;
    margin-bottom: 25px
}

.klientu-container {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    justify-content: center;
    height: 100%
}

.klientu-block {
    display: inline-block;
    height: 100%;
    margin: 15px 0 0
}

.klientu-container h2, .about-container h2 {
    text-transform: uppercase;
    margin-top: 0
}

.klientu-container .item-img {
    align-items: stretch;
    justify-content: center;
    margin-bottom: 25px;
    text-align: center
}

.klientu-container .item-img img {
    display: inline-block;
    max-width: 129px;
    max-height: 45px
}

.about-container .yellow-btn {
    margin: 40px 0 30px
}

.about-block {
    background-color: #fff;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 20px 15px 25px 20px;
    margin-bottom: 20px
}

.about-block .about-block-top .left-box, .about-block .about-block-top .right-box {
    position: relative;
    width: 50%;
    float: left;
    color: #000;
    font-family: 'GothamProMedium', sans-serif;
    font-size: 13px;
    margin-bottom: 15px
}

.about-block .about-block-top .left-box.red-title {
    color: #dc2d22;
    line-height: 0.9;
    margin-bottom: 25px
}

.about-block .about-block-top .left-box {
    font-size: 48px
}

.about-block .about-block-top .left-box span {
    position: absolute;
    top: 0;
    display: inline-block;
    font-size: 30px;
    vertical-align: top
}

.about-block .about-block-bottom {
    display: inline-block;
    width: auto
}

.about-block .about-block-bottom a {
    text-decoration: underline;
    color: #000;
    font-size: 13px;
    font-family: 'GothamProLight', sans-serif
}

.about-block .about-block-bottom:hover {
    cursor: pointer
}

.about-block .about-block-bottom:hover a {
    border-bottom-color: transparent;
    color: #dc2d22
}

.link-all-item {
    font-size: 16px
}

.yellow-btn {
    background-color: #ffd727;
    color: #000;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 16px;
    font-family: 'GothamProMedium', sans-serif;
    text-decoration: none;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.yellow-btn:hover {
    background-color: #ffeb41;
    color: #000;
    text-decoration: none
}

.yellow-btn:visited, .yellow-btn:focus {
    outline: none;
    text-decoration: none;
    color: #000
}

.black-main-menu {
    border-bottom: 1px solid #dcdcdc;
    position: relative
}

.black-main-menu .navbar-header {
    padding: 10px 0;
    width: 100%
}

.black-main-menu .navbar-default {
    background-color: #fff;
    border: none;
    position: relative
}

.black-main-menu .navbar-nav {
    margin: 0
}

.black-main-menu .navbar-toggle {
    float: left
}

.black-main-menu .navbar-default .navbar-collapse, .black-main-menu .navbar-default .navbar-form, .black-main-menu .navbar-default .navbar-toggle {
    border: none
}

.navbar-header {
    float: none
}

.navbar-toggle {
    margin: 0;
    padding: 0
}

.navbar-toggle .icon-bar + .icon-bar {
    margin-top: 5px
}

.navbar-default .navbar-toggle.collapsed, .navbar-default .navbar-toggle {
    padding-left: 0
}

.navbar-default .navbar-toggle .icon-bar:nth-child(1), .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 28px
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(1) {
    margin-top: 0;
    margin-left: 0
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3) {
    margin-top: 5px;
    margin-left: 0
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(1), .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3) {
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    width: 22px
}

.navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(2) {
    visibility: visible
}

.navbar-default .navbar-toggle .icon-bar:nth-child(1) {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 0;
    width: 28px;
    margin-left: -4px
}

.navbar-default .navbar-toggle .icon-bar:nth-child(2) {
    visibility: hidden
}

.navbar-default .navbar-toggle .icon-bar:nth-child(3) {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: -9px;
    width: 28px;
    margin-left: -4px
}

.black-main-menu .navbar-default .collapse.in#top-menu, .black-main-menu .navbar-default .collapsing#top-menu {
    background: url(../img/bg-main.jpg) -490px -590px no-repeat;
    width: 100%;
    position: relative;
    z-index: 1000;
    padding-left: 0;
    padding-right: 0;
    overflow: hidden
}

.top-menu-bg {
    display: inline-block
}

#top-menu ul li {
    width: 100%
}

.black-main-menu .navbar-default #top-menu ul li a {
    color: #fff;
    font-size: 16px;
    line-height: 0.9;
    text-decoration: none
}

.black-main-menu .navbar-default #top-menu ul:first-child li a {
    text-transform: uppercase;
    font-family: 'GothamProMedium', sans-serif
}

.black-main-menu .navbar-default #top-menu ul:first-child {
    padding: 15px 0 0
}

.black-main-menu .navbar-default #top-menu ul:nth-child(2) {
    padding: 10px 0
}

#top-menu .callus {
    text-align: left;
    padding: 5px 15px 7px;
    font-size: 16px;
    display: block;
    width: 100%
}

#top-menu .callus .callus-box:nth-child(2) p {
    position: relative
}

#top-menu .callus .callus-box:nth-child(2) p:before {
    content: '';
    display: inline-block;
    background: url(../img/icon-tel-yslygi.png) no-repeat;
    width: 27px;
    height: 27px;
    background-size: cover;
    position: absolute;
    top: 12px;
    left: -35px
}

#top-menu .callus .callus-block {
    display: -ms-flexbox;
    display: flex
}

#top-menu .callus img {
    height: 27px;
    margin: auto 12px auto 0
}

#top-menu .callus .callus-box span {
    font-size: 24px;
    font-family: 'GothamProMedium', sans-serif
}

#top-menu .callus .callus-box p {
    margin-bottom: 0;
    line-height: normal;
    font-size: 18px;
    margin-left: 35px
}

#top-menu .callus .callus-box a {
    border-bottom: 1px dashed #fff;
    color: #fff;
    text-decoration: none;
    margin-left: 40px;
    cursor: pointer
}

#top-menu ul li.active, #top-menu ul li:hover {
    background-color: rgba(220, 45, 34, 1)
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: transparent
}

.black-main-menu .navbar-default .navbar-toggle .icon-bar {
    background-color: #000
}

.mob-tel-portf-block .mob-tel, .mob-tel-portf-block .mob-portf {
    display: inline-block;
    vertical-align: middle
}

.mob-logo {
    text-align: center
}

.mob-logo img {
    min-width: 150px;
    width: 150px;
    text-align: center;
    margin-top: 10px
}

.mob-tel-portf-block, .mob-menu-button-block {
    height: 44px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    float: right
}

.mob-menu-button-block {
    float: left
}

.mob-tel-portf-block .mob-tel a, .mob-tel-portf-block .mob-portf a {
    color: #000;
    font-size: 13px;
    display: inline-block;
    text-decoration: none;
    outline: none
}

.mob-tel-portf-block .mob-portf {
    text-align: center
}

.mob-tel-portf-block .mob-portf span {
    display: inline-block;
    vertical-align: bottom;
    font-size: 13px;
    line-height: normal;
    margin-top: 5px
}

.mob-tel-portf-block .mob-portf img, .mob-tel-portf-block .mob-tel img {
    height: 20px
}

.black-main-menu .navbar-default .navbar-toggle:hover, .black-main-menu .navbar-default .navbar-toggle:focus {
    background-color: #fff
}

.black-main-menu, .footer-menu-container {
    display: block;
    width: 100%;
    line-height: 0
}

.footer-menu-container {
    background-color: #242424
}

.footer-menu-container li:hover, .footer-menu-container li.active {
    background-color: #dc2d22
}

.main-slogan-block .red-main-menu {
    background-color: #dc2d22;
    display: block;
    width: 100%;
    height: 100%
}

.red-main-menu li:hover, .red-main-menu li.active {
    background-color: #af160c
}

.content-container {
    padding: 20px 0 35px
}

.content-block {
    margin-top: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    height: 100%
}

.content-header .info-text {
    font-size: 16px
}

.content-block .col-lg-2-5.col-md-2-5.col-sm-4.col-xs-6:last-child .content-item {
    margin-bottom: 0
}

.content-item {
    margin-bottom: 25px;
    align-items: stretch;
    justify-content: center
}

.content-item img {
    width: 110px
}

.content-item a {
    text-decoration: none
}

.content-item .item-title {
    font-size: 13px;
    margin-top: 10px;
    font-family: 'GothamProMedium', sans-serif;
    color: #000;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.klientu-container {
    padding: 30px 0 38px
}

.hover-item:hover {
    cursor: pointer
}

.hidden-item {
    opacity: 0
}

.visible-item {
    opacity: 1
}

.hover-item .item-img {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    position: relative;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform;
    transition-property: transform
}

.hover-item .item-img:before {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    content: '';
    top: 100%;
    left: 5%;
    height: 10px;
    width: 90%;
    opacity: 0;
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-property: transform, opacity;
    transition-property: transform, opacity
}

.hover-item:hover .item-img, .hover-item:focus .item-img, .hover-item:active .item-img {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -o-transform: translateY(-5px)
}

.hover-item:hover .item-img:before, .hover-item:focus .item-img:before, .hover-item:active .item-img:before {
    opacity: 1;
    -webkit-transform: translateY(5px);
    -moz-transform: translateY(5px);
    -o-transform: translateY(5px)
}

.hover-item:hover .item-title, .hover-item:focus .item-title, .hover-item:active .item-title {
    color: #dc2d22
}

.form-main-container {
    padding: 40px 0 35px;
    background: -moz-linear-gradient(#01498c, #015799);
    background: -ms-linear-gradient(#01498c, #015799);
    background: -o-linear-gradient(#01498c, #015799);
    background: -webkit-linear-gradient(#01498c, #015799);
    position: relative
}

.form-main-container .white-bg {
    position: relative;
    z-index: 1
}

.form-block, .manager-block {
    background-color: #fff;
    padding: 20px 15px
}

.form-block .main-h2 {
    font-family: 'GothamProMedium', sans-serif;
    white-space: nowrap
}

.form-block .form-group:first-child {
    margin-top: 20px
}

.form-block input, .form-block textarea {
    padding: 15px 10px;
    line-height: 1;
    font-size: 14px;
    border-radius: 2px;
    border: 1px solid #cdcdcd;
    width: 100%
}

.form-block input:focus, .form-block textarea:focus {
    border: 1px solid #01579b;
    box-shadow: none;
    outline: none
}

.form-block input {
    margin-bottom: 15px
}

.form-block textarea {
    height: 115px
}

.form-block input.yellow-btn {
    border: none;
    padding: 20px;
    font-size: 16px;
    border-radius: 5px;
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    margin-bottom: 0;
    display: inline-block
}

.form-block input.yellow-btn:hover {
    background-color: #ffeb41
}

.form-bg {
    position: relative;
    overflow: hidden;
    background-color: #fff
}

.callus {
    background-color: #dc2d22;
    color: #fff;
    padding: 15px 15px 15px 35px;
    position: relative;
    z-index: 3
}

.callus img {
    float: left;
    height: 47px;
    margin: auto 10px auto 0
}

.callus .callus-box {
    display: inline-block;
    line-height: 1.6
}

.callus .callus-box p {
    font-size: 13px;
    line-height: 1
}

.callus .callus-box b {
    font-size: 24px;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: normal;
    line-height: 1
}

.footer {
    padding: 20px 0
}

.footer .mob-logo {
    margin-bottom: 20px
}

.footer .mob-logo img {
    min-width: 135px
}

.footer-contact b {
    font-size: 21px;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: normal;
    line-height: 1;
    display: inline-block;
    margin-bottom: 8px
}

.footer-contact p {
    font-size: 13px;
    margin-bottom: 25px
}

.developer {
    text-align: center
}

.developer span {
    color: #6e6e6e;
    font-size: 10px;
    margin-right: 5px;
    margin-bottom: 5px;
    display: inline-block
}

.developer img {
    width: 130px;
    margin: 0 auto;
    display: block
}

.mesto-item-list.active td:nth-child(1) a {
    background: #01498c;
    background: -moz-linear-gradient(left, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
    background: -webkit-linear-gradient(left, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
    background: linear-gradient(to right, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01498c', endColorstr='#015799', GradientType=1)
}

.mesto-item-list.active td:nth-child(1) .mesto-title > b {
    color: #fff
}

.affix, .affix-top, .affix-bottom {
    position: relative
}

span.red-circle {
    margin: 0 auto;
    width: 30px;
    height: 30px;
    display: block;
    background-color: #d70018;
    border-radius: 20px;
    text-align: center;
    line-height: 29px;
    position: absolute;
    font-weight: bold;
    color: #fff;
    z-index: 1
}

@media (min-width: 320px) and (max-width: 750px) {
    .hidden-xs {
        display: none !important
    }
}

.modal-dialog {
    background: url(../img/bg-main.jpg) -800px bottom no-repeat;
    margin: 7% auto;
    max-width: 540px;
    width: 94%;
    padding: 55px 65px 65px;
    position: relative
}

.modal-dialog h4 {
    font-size: 36px;
    font-family: 'GothamProMedium', sans-serif;
    color: #fff;
    text-transform: uppercase;
    line-height: 1.4
}

.modal-dialog .form-body label {
    width: 100%;
    color: #fff;
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 12px
}

.modal-dialog .form-body {
    margin-top: 40px
}

.modal-dialog .form-body input {
    width: 100%;
    padding: 10px 15px;
    border-radius: 2px;
    outline: none;
    border: none
}

.modal-dialog .form-body textarea {
    width: 100%;
    padding: 15px;
    border-radius: 2px;
    outline: none;
    border: none;
    height: 100px
}

.modal-dialog .form-body input:focus, .modal-dialog .form-body textarea:focus {
    border: 0 !important
}

.modal-dialog .form-body-block {
    margin-bottom: 25px
}

.modal-dialog .form-body-block:last-child {
    margin-bottom: 0
}

.form-close {
    position: absolute;
    top: 20px;
    right: 20px;
    text-decoration: none;
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    width: 32px;
    height: 32px;
    -webkit-transition: all 0.2s linear;
    -moz-transition: all 0.2s linear;
    -o-transition: all 0.2s linear;
    transition: all 0.2s linear
}

.form-close:hover {
    -moz-transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg)
}

.form-close span {
    width: 32px;
    height: 1px;
    background-color: #fff;
    display: inline-block;
    line-height: 1
}

.form-close .close-one {
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
    top: 15px;
    right: 0
}

.form-close .close-two {
    -moz-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    position: absolute;
    top: 15px;
    right: 0
}

.modal-dialog .form-body .yellow-btn {
    font-size: 18px;
    outline: none;
    border: none;
    padding: 30px;
    margin-top: 60px;
    border-radius: 5px
}

.modal-dialog::-webkit-input-placeholder {
    color: #000
}

.modal-dialog::-moz-placeholder {
    color: #000
}

.modal-dialog:-moz-placeholder {
    color: #000
}

.modal-dialog:-ms-input-placeholder {
    color: #000
}

.breadcrumbs {
    margin-bottom: 40px
}

.breadcrumb {
    background-color: transparent;
    border-radius: 0;
    padding: 0;
    margin: 0
}

.breadcrumb li a {
    color: #000;
    font-size: 11px
}

.breadcrumb li.active {
    color: #9e9e9e;
    font-size: 11px;
    vertical-align: top
}

.breadcrumb > li + li:before {
    content: '\2192';
    padding: 0 12px 0 7px;
    color: #000;
    font-size: 15px;
    vertical-align: bottom
}

.content-container h1 {
    margin-bottom: 20px
}

.hidden {
    display: none
}

.cust-select {
    margin-bottom: 20px;
    position: relative
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background-color: transparent;
    color: #000
}

.multiselect-container > li > a > label {
    padding: 3px 10px 3px 10px
}

.multiselect-container .storona-a-box {
    margin-top: 0;
    margin-right: 0
}

.cust-select:after {
    pointer-events: none;
    content: '';
    background: url(../img/select-arrow.png) right center no-repeat;
    width: 15px;
    height: 8px;
    z-index: 3;
    position: absolute;
    top: 22px;
    right: 10px
}

.cust-select .btn-group {
    width: 100%
}

.cust-select .btn {
    border: 1px solid #dcdcdc;
    background: #fff !important;
    border-radius: 2px;
    line-height: normal;
    font-size: 14px;
    padding: 15px;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    cursor: pointer;
    text-align: left
}

.multiselect-container {
    width: 100%;
    border-radius: 0;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0);
    border-color: #01579b;
    border-top: 0
}

.btn-default:active:hover, .btn-default.active:hover, .open > .dropdown-toggle.btn-default:hover, .btn-default:active:focus, .btn-default.active:focus, .open > .dropdown-toggle.btn-default:focus, .btn-default:active.focus, .btn-default.active.focus, .open > .dropdown-toggle.btn-default.focus {
    border-color: #01579b
}

.btn-group.open .dropdown-toggle {
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0)
}

.multiselect-container > li > a {
    text-decoration: none
}

.btn .caret {
    display: none
}

.multiselect-container .checkbox {
    font-size: 14px;
    font-family: 'GothamProRegular', sans-serif;
    text-decoration: none
}

.multiselect-container li {
    cursor: pointer
}

.cust-select select {
    border: 1px solid #dcdcdc;
    background-color: #f5f5f5;
    border-radius: 2px;
    line-height: normal;
    font-size: 14px;
    padding: 15px;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    cursor: pointer
}

.kanal-block, .kanal-all-item {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-bottom: 10px
}

.kanal-all-item {
    margin-bottom: 10px
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(odd) {
    padding-right: 0
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) {
    padding-left: 0
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) .checkbox-item label {
    border-left: 1px transparent
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+3) .checkbox-item label {
    border-top: 1px transparent
}

.primeru-video {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 10px;
    height: 0;
    overflow: hidden
}

.primeru-video iframe, .primeru-video object, .primeru-video embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%
}

.storona-a-box {
    cursor: pointer;
    position: relative
}

select, input {
    -moz-appearance: none;
    text-overflow: ''
}

input[type=number] {
    -moz-appearance: textfield
}

.checkbox-item input[type=checkbox], .checkbox-no-number input[type=checkbox], .month-checkbox input[type=checkbox], .serv-item-checkbox input[type=checkbox], .storona-a-box input[type=checkbox], .storona-b-box input[type=checkbox], .maps-hint-checkbox input[type=checkbox] {
    position: absolute;
    cursor: pointer; /*width:100%;height:100%;*/
    opacity: 0;
    z-index: 5
}

.checkbox-item label, .serv-item-checkbox label {
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 13px;
    font-family: 'GothamProMedium', sans-serif;
    margin-bottom: 0;
    min-width: 145px;
    width: 100%;
    height: 145px;
    padding: 20px 10px 10px;
    border: 1px solid #d2d2d2
}

.checkbox-item label span {
    line-height: 1.3;
    display: inline-block;
    width: 100%
}

.checkbox-item label span:before, .checkbox-no-number label:before, .month-checkbox label:before, .serv-item-checkbox label:before, .storona-a-box label:before, .storona-b-box label:before {
    content: '';
    border-radius: 3px;
    border: 1px solid #d2d2d2;
    width: 16px;
    height: 16px;
    display: inline-block;
    line-height: 15px;
    margin-right: 10px;
    vertical-align: middle;
    background-color: #fff
}

.checkbox-item input[type=checkbox]:checked + label span:before, .checkbox-no-number input[type=checkbox]:checked + label:before, .serv-item-checkbox input[type=checkbox]:checked + label:before, .storona-a-box input[type=checkbox]:checked + label:before, .storona-b-box input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 20px;
    border: 1px solid #ffd727
}

.checkbox-item input[type=checkbox]:checked + label {
    border: 3px solid #ffd727 !important;
    padding: 18px 8px 7px
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) .checkbox-item input[type=checkbox]:checked + label, .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(2) .checkbox-item label:hover {
    padding: 18px 8px 7px 7px
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+3) .checkbox-item label:hover, .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+3) .checkbox-item input[type=checkbox]:checked + label {
    padding: 17px 8px 7px 7px
}

.kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(2n+3) .checkbox-item label:hover, .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(2n+3) .checkbox-item input[type=checkbox]:checked + label {
    padding: 17px 8px 7px
}

.checkbox-item label:hover {
    padding: 18px 8px 7px
}

.checkbox-item label:hover, .radio-item label:hover {
    border: 3px solid #ffd727 !important
}

.checkbox-item .checkbox-item-img img {
    max-width: 90%;
    min-height: 60px;
    height: auto;
    max-height: 80px;
    display: inline-block
}

.checkbox-item-img {
    display: inline-block;
    min-height: 60px;
    height: auto;
    max-height: 80px;
    margin-bottom: 10px
}

.radio-item label {
    border: 1px solid #d2d2d2;
    padding: 17px 15px 5px;
    margin-bottom: 0;
    width: 100%;
    cursor: pointer
}

.vubor-formata:nth-child(n+2) .radio-item label {
    border-top: 1px solid transparent
}

.radio-item input[type=radio]:checked + label {
    border: 3px solid #ffd727 !important
}

.radio-item label:hover, .radio-item input[type=radio]:checked + label:hover, .radio-item input[type=radio]:checked + label {
    padding: 15px 13px 3px
}

.radio-item p {
    font-size: 13px
}

.radio-item label span {
    font-size: 16px;
    font-family: 'GothamProMedium', sans-serif;
    display: inline-block;
    position: relative;
    cursor: pointer;
    margin-bottom: 15px
}

.radio-item input[type=radio] {
    display: none
}

.radio-item label span:before {
    content: '';
    background: url(../img/radio-btn.png) 0 -23px no-repeat;
    width: 23px;
    height: 23px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 15px;
    margin-top: -5px
}

.radio-item input[type=radio]:checked + label span:before {
    content: '';
    background: url(../img/radio-btn.png) 0 0 no-repeat;
    display: inline-block;
    width: 23px;
    height: 23px
}

.basket-link-box {
    text-align: center;
    font-size: 13px
}

.basket-link-box b {
    display: inline-block;
    width: 100%;
    font-family: 'GothamProMedium', sans-serif;
    margin-bottom: 10px
}

.basket-link-box em {
    font-family: 'GothamProItalic', sans-serif;
    margin-bottom: 15px;
    display: inline-block;
    padding: 0 45px
}

.basket-link {
    color: #dc2d22;
    font-size: 16px;
    font-family: 'GothamProMedium', sans-serif;
    border-radius: 5px;
    border: 1px solid #dc2d22;
    text-decoration: none;
    width: 232px;
    display: block;
    text-align: center;
    padding: 15px;
    margin: 0 auto 15px;
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.basket-link:hover, .basket-link:active, .basket-link:focus {
    color: #fff;
    background: #dc2d22
}

.kanal-block .yellow-btn {
    width: 232px;
    padding: 15px;
    display: block;
    margin: 0 auto 20px;
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1)
}

.basket-block {
    border: 1px solid #ffd727;
    margin-bottom: 30px
}

.basket-block-header {
    padding: 25px 15px 20px;
    font-size: 13px;
    font-family: 'GothamProMedium', sans-serif;
    text-transform: uppercase;
    line-height: normal;
    background-color: #fff
}

.basket-block-body {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f5f5f5;
    padding: 0;
    margin-bottom: 10px;
    list-style-type: none;
    font-size: 13px
}

.basket-block-body li {
    border-bottom: 1px solid #d2d2d2;
    padding: 18px 15px 15px;
    position: relative
}

.basket-block-body li:last-child {
    border-bottom: 1px solid transparent
}

.basket-block-footer {
    padding: 5px 15px 18px;
    text-align: center;
    background-color: #fff;
    display: inline-block;
    width: 100%
}

.basket-block-footer .basket-block-footer-price {
    font-size: 18px;
    font-family: 'GothamProMedium', sans-serif;
    line-height: normal;
    display: inline-block;
    margin-bottom: 15px
}

.basket-block-footer .basket-block-footer-price b {
    font-size: 13px;
    font-family: 'GothamProMedium', sans-serif;
    display: inline-block;
    text-align: left;
    width: 100%
}

.basket-block-footer .basket-block-footer-price span {
    font-size: 15px
}

.basket-block-footer .yellow-btn {
    max-width: 225px;
    width: 100%;
    display: block;
    margin: 0 auto;
    padding: 14px 30px 12px !important;
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    background-color: #ffd727;
    color: #000
}

.basket-block-footer .yellow-btn:before {
    content: none
}

.basket-block-footer .yellow-btn:hover {
    background-color: #ffeb41
}

.basket-block-body-title {
    margin-bottom: 5px;
    padding-right: 20px
}

.basket-block-body-title, .basket-block-body-price {
    font-family: 'GothamProMedium', sans-serif
}

.basket-block-body-count span {
    color: #9e9e9e;
    font-size: 12px;
    display: inline-block
}

.basket-block-body-time {
    width: 60%;
    display: inline-block;
    padding-right: 15px
}

.basket-block-body-price {
    float: right;
    width: 40%;
    text-align: right
}

.callus-box:before, .callus-box:after, .review-item-frame:before, .review-item-frame:after, .town-item:before, .town-item:after, #top-menu .callus:before, #top-menu .callus:after {
    content: "";
    display: table;
    width: 100%;
    clear: both
}

.callus-right {
    display: block;
    background-color: #dc2d22;
    color: #fff;
    margin-bottom: 30px;
    padding: 15px 15px 15px 70px
}

.callus-right .callus-box p {
    font-size: 13px;
    margin: 0
}

.callus-right .callus-box b {
    font-size: 18px;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: normal;
    margin-bottom: 5px;
    display: inline-block
}

.callus-right .callus-box {
    position: relative;
    width: 205px;
    margin: 0 auto
}

.callus-right .callus-box img {
    height: 40px;
    position: absolute;
    top: 25px;
    left: -55px
}

.vubor-kanala h2 {
    text-transform: none
}

.kak-razmestit-reklamy {
    background: linear-gradient(180deg, #004487, #277abc);
    color: #fff;
    padding: 25px 0 5px
}

.kak-razmestit-reklamy h2 {
    font-size: 18px;
    line-height: 1.6;
    margin-top: 0;
    margin-bottom: 18px
}

.etapu-item {
    margin-bottom: 12px
}

.etapu-item-namber {
    background-color: #fff;
    display: table;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    float: left;
    margin: 0 10px 0 0
}

.etapu-item-namber span {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    line-height: 1;
    padding: 0;
    margin: 0;
    font-family: 'GothamProMedium', sans-serif;
    font-size: 18px;
    color: #dc2d22
}

.etapu-item-text {
    display: inline-block;
    width: 80%
}

.etapu-item-text .h3 {
    margin-top: 0;
    text-transform: none;
    font-family: 'GothamProRegular', sans-serif;
    font-size: 18px
}

.etapu-item-text p {
    font-size: 13px
}

.primeru-video-item {
    min-height: 130px;
    margin-bottom: 15px
}

.primeru-rabot {
    padding: 25px 0 5px
}

.primeru-rabot .no-padding-video:nth-child(even) {
    padding-right: 2px
}

.primeru-rabot .no-padding-video:nth-child(odd) {
    padding-left: 2px
}

.primeru-rabot h2 {
    font-size: 18px;
    margin: 0 0 15px
}

.primeru-video-title {
    text-align: center;
    font-size: 14px;
    font-family: 'GothamProMedium', sans-serif;
    margin-top: 7px
}

.prichinu {
    background-color: #f5f5f5;
    padding-top: 30px;
    padding-bottom: 30px
}

.prichinu h2 {
    font-size: 18px;
    padding: 0 35px;
    line-height: 1.5;
    margin: 0 0 20px
}

.prichinu-item .red-title {
    font-size: 36px;
    color: #dc2d22;
    font-family: 'GothamProMedium', sans-serif;
    line-height: 1.1
}

.prichinu-item-title {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px
}

.prichinu-item {
    margin-bottom: 30px
}

.prichinu-item p {
    font-size: 13px;
    line-height: 1.4;
    margin-bottom: 0
}

.item-last:last-child .prichinu-item, .item-last:nth-last-child(2) .prichinu-item {
    margin-bottom: 0
}

.basket-block-body-dell-item {
    width: 15px;
    height: 15px;
    display: inline-block;
    background: url(../img/dell-bascet-item.png) top center no-repeat;
    cursor: pointer;
    position: absolute;
    right: 15px;
    top: 20px
}

.basket-block-body-dell-item:hover {
    background-position: center bottom
}

.footer-menu-container {
    border-top: 13px solid #000
}

.tablet-container {
    padding-bottom: 0
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

@-webkit-keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

@keyframes shake {
    from, to {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
    }
    10%, 30%, 50%, 70%, 90% {
        -webkit-transform: translate3d(-10px, 0, 0);
        transform: translate3d(-10px, 0, 0);
    }
    20%, 40%, 60%, 80% {
        -webkit-transform: translate3d(10px, 0, 0);
        transform: translate3d(10px, 0, 0);
    }
}

.shake {
    -webkit-animation-name: shake;
    animation-name: shake
}

@-webkit-keyframes fadeIn {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    60% {
        -webkit-transform: scale(1.1);
    }
    80% {
        -webkit-transform: scale(0.9);
        opacity: 1;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 1;
    }
}

@keyframes fadeIn {
    0% {
        transform: scale(0);
        opacity: 0.0;
    }
    60% {
        transform: scale(1.1);
    }
    80% {
        transform: scale(0.9);
        opacity: 1;
    }
    100% {
        transform: scale(1);
        opacity: 1;
    }
}

.fadeIn {
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    animation-duration: 1.5s;
    -webkit-animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    -webkit-animation-timing-function: ease-in-out;
    visibility: visible !important
}

.kalk-block {
    height: 100%;
    width: 100%;
    display: inline-block;
    margin-bottom: 15px
}

.kalk-block table {
    width: 100%
}

.kalk-block table td:before {
    content: attr(data-label);
    width: 58.33333333%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'GothamProMedium', sans-serif;
    padding: 5px 15px;
    border-left: 1px solid #d2d2d2;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2
}

.kalk-block table td {
    content: attr(data-label);
    width: 100%;
    display: table;
    float: left;
    font-size: 13px
}

.kalk-block table thead {
    display: none
}

.kalk-item:nth-child(even) {
    background-color: #f5f5f5
}

.kalk-block table td .td {
    padding: 5px 0 5px 15px;
    border-right: 1px solid #d2d2d2;
    border-bottom: 1px solid #d2d2d2;
    display: table-cell;
    vertical-align: middle;
}

.kalk-block table td input {
    border: 1px solid #dcdcdc;
    border-radius: 2px;
    font-size: 15px;
    padding: 8px;
    width: 95%;
    outline: none;
    font-family: 'GothamProRegular', sans-serif
}

.kalk-block table td input::-webkit-inner-spin-button {
    opacity: 1
}

.kalk-block table td input:focus {
    border: 1px solid #01579b;
    box-shadow: none;
    outline: none
}

.kalk-block table tr .header-kalk:before, .kalk-block table tr .footer-kalk:before {
    padding: 15px
}

.kalk-block table tr .header-kalk .td {
    padding-right: 10px
}

.kalk-block table tr .footer-kalk .td {
    font-family: 'GothamProMedium', sans-serif
}

.kalk-block table tbody tr:first-child td:first-child:before, .kalk-block table tbody tr:first-child td:first-child .td {
    border-top: 1px solid #d2d2d2
}

.clr {
    clear: both
}

.stroka-width .basket-block-body-time {
    width: 66%
}

.stroka-width .basket-block-body-price {
    width: 34%
}

.hidden-mobi {
    display: none !important
}

.custom-select-wrapper {
    position: relative;
    display: inline-block;
    user-select: none
}

.custom-select-wrapper select {
    display: none
}

.custom-select {
    position: relative;
    display: inline-block
}

.custom-select-trigger {
    position: relative;
    display: block;
    color: #000 !important;
    cursor: pointer;
    border-bottom: 1px dashed #000
}

.custom-select-trigger:after {
    position: absolute;
    display: block;
    content: '';
    background: url(../img/select-arrow.png) no-repeat;
    width: 15px;
    height: 8px;
    top: 10px;
    right: -25px;
    margin-top: -3px;
    transition: all .4s ease-in-out;
    transform-origin: 50% 0
}

.custom-select.opened .custom-select-trigger:after {
    margin-top: 0;
    transform: rotate(-180deg) translateY(-50%)
}

.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    min-width: 130px;
    width: 100%;
    border: 1px solid #01579b;
    box-sizing: border-box;
    box-shadow: 0 2px 1px rgba(0, 0, 0, .07);
    background: #fff;
    transition: all .4s ease-in-out;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transform: translateY(-15px);
    z-index: 2
}

.custom-options span {
    min-width: 128px;
    width: 100%
}

.custom-select.opened .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transform: translateY(0)
}

.custom-option {
    position: relative;
    display: block;
    color: #000 !important;
    cursor: pointer;
    padding: 10px
}

.custom-option:last-of-type {
    border-bottom: 0
}

.custom-option:hover, .custom-option.selection {
    background: #01579b;
    color: #fff !important
}

.form-advert {
    background-color: #f5f5f5;
    display: inline-block;
    padding: 15px 12px;
    border: 1px solid #e1e1e1
}

.form-advert .form-group:first-child {
    margin-top: 0
}

.form-advert .form-group:last-child {
    margin-bottom: 0
}

.checkbox-no-number {
    font-size: 13px
}

.checkbox-no-number label {
    margin-bottom: 20px
}

.form-advert-bottom-text {
    border-top: 1px solid #e1e1e1;
    display: inline-block;
    padding: 10px 0 0;
    margin: 0;
    font-size: 14px;
    line-height: 1.4
}

.form-advert textarea {
    line-height: 1.5;
    font-size: 13px;
    height: 120px
}

.line-dotted {
    border: 1px #e1e1e1 dotted
}

.add-more-number {
    display: inline-block;
    margin-bottom: 10px
}

.add-more-number a {
    text-decoration: none;
    font-size: 13px;
    border-bottom: 1px dotted #01579b;
    padding-bottom: 2px
}

.add-more-number:before {
    content: '+';
    display: inline-block;
    font-weight: bold;
    font-size: 22px;
    color: #01579b;
    line-height: 1;
    vertical-align: middle;
    margin-right: 5px
}

.review-item-frame {
    display: inline-block;
    height: auto;
    width: 100%;
    margin-bottom: 20px;
    z-index: 2;
    position: relative;
    -webkit-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.73);
    -moz-box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.73);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.73)
}

.review-item-frame:hover {
    border: 3px solid #ffd727;
    overflow: hidden;
    margin-bottom: 14px
}

.review-item-frame:hover img {
    margin: -3px;
    width: calc(100% + 6px);
    height: calc(100% + 6px)
}

.review-item-frame:hover .review-item-img {
    margin: -3px;
    display: inline-block;
    width: calc(100% + 6px);
    height: calc(100% + 6px)
}

.review-item-frame a {
    display: block;
    position: relative
}

.review-item-frame a:after {
    content: '';
    background: url(../img/review-hover.png);
    width: 46px;
    height: 46px;
    position: absolute;
    top: 43%;
    left: 46%;
    z-index: 2;
    opacity: 0;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both
}

.review-item-frame:hover a:after {
    opacity: 1;
    -webkit-animation-name: zoomIn;
    animation-name: zoomIn
}

@-webkit-keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

@keyframes zoomIn {
    from {
        opacity: 0;
        -webkit-transform: scale3d(.3, .3, .3);
        transform: scale3d(.3, .3, .3);
    }
    50% {
        opacity: 1;
    }
}

.review-item-frame img {
    display: inline-block;
    width: 100%;
    position: relative;
    top: 0;
    left: 0;
    z-index: 2
}

.gray-bg {
    background-color: #f5f5f5;
    display: block;
    padding-top: 30px;
    padding-bottom: 30px;
    width: 100%;
    height: 100%
}

.review-item-img {
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0
}

.content-header-menu {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 0 0
}

.content-header-menu ul {
    padding: 0;
    margin: 0
}

.content-header-menu li {
    display: inline-block;
    text-align: center;
    margin-right: 4%;
    padding-bottom: 10px
}

.content-header-menu li:hover a {
    color: #000;
    border-bottom: 1px solid transparent
}

.content-header-menu li:nth-child(3) {
    margin-right: 0
}

.content-header-menu li a {
    font-size: 13px;
    border-bottom: 1px solid #d4dde8;
    text-decoration: none;
    display: inline-block;
    font-family: 'GothamProMedium', sans-serif;
    padding: 0;
    margin: 0;
    border-top: 0;
    border-left: 0;
    border-right: 0;
    line-height: 1.1
}

.content-header-menu li.active a {
    color: #000 !important
}

.content-header-menu li, .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus, .nav-tabs {
    border: 0
}

.content-header-menu li:hover a {
    background-color: #fff
}

.content-header-menu li.active a {
    border-bottom: 1px solid transparent
}

.review-content-padding {
    padding-top: 20px
}

.link-more-review {
    font-size: 15px;
    display: inline-block;
    margin-top: 35px
}

.link-more-review:after {
    content: '';
    background: url(../img/arrow-more-review.png) no-repeat;
    width: 12px;
    height: 6px;
    display: inline-block;
    margin-left: 10px
}

.obyavlenie-box {
    padding: 15px 15px 10px 15px;
}

.obyavlenie-block {
    padding: 0
}

.obyavlenie-block h2 {
    text-transform: initial;
    margin-top: 0;
    line-height: 1.5
}

.obyavlenie-box p {
    margin-bottom: 0
}

.table-block {
    margin: 20px 0
}

.table-block td:before, .table-block td .td, .table-block thead th {
    padding: 25px !important
}

.table-block table tr .footer-kalk .td {
    font-family: 'GothamProRegular', sans-serif
}

.no-uppercase {
    text-transform: none !important
}

.mobile-container {
    padding-top: 15px
}

.mobile-container h2.no-uppercase {
    margin-bottom: 10px
}

.mobile-container .content-body {
    padding-top: 0
}

.content-body {
    padding-top: 20px;
    padding-bottom: 40px;
    display: inline-block;
    height: 100%;
    width: 100%
}

.content-item-box {
    width: 100%;
    background-color: #fff;
    padding: 15px 15px 35px
}

.content-box {
    margin-bottom: 15px
}

.content-box a {
    display: inline-block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color: #000
}

.content-box:hover .yellow-btn {
    background-color: #ffeb41
}

.content-box:hover .content-item-box {
    -webkit-box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.15);
    box-shadow: 0 2px 10px 5px rgba(0, 0, 0, 0.15)
}

.content-item-box p {
    font-size: 13px;
    text-align: left
}

.item-box-img {
    display: inline-block;
    width: 100%;
    min-height: 175px
}

.content-reed-more {
    margin: 20px auto 0
}

.content-reed-more .yellow-btn {
    -webkit-box-shadow: 0 2px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 2px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 2px 0 0 rgba(235, 192, 5, 1);
    font-size: 13px;
    padding: 11px;
    width: 175px
}

.filter-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    margin-top: 20px
}

.filter-box.polezn-inf {
    margin-bottom: 20px
}

.filter-box.polezn-inf:nth-child(2n+1) {
    padding-right: 10px
}

.filter-box:nth-child(2n+2) {
    padding-left: 10px
}

.filter-container .filter-btn {
    display: inline-block;
    background-color: #ebebeb;
    border: 1px solid #dcdcdc;
    width: 100%
}

.filter-container .filter-btn a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    display: block;
    padding: 11px
}

.filter-container .filter-btn:hover, .filter-container .filter-btn.active {
    background-color: #1478ba;
    border: 1px solid transparent;
    cursor: pointer
}

.filter-container .filter-btn:hover a, .filter-container .filter-btn.active a {
    color: #fff
}

.breadcrumb > li {
    vertical-align: top
}

.town-container {
    padding-top: 25px;
    padding-bottom: 25px
}

.town-container h2, .town-container h3 {
    text-transform: none;
    margin-top: 0
}

.town-container h2 {
    margin-bottom: 25px
}

.town-container .content-body {
    padding-bottom: 20px
}

.town-item {
    background-color: #fff;
    padding: 10px 7px 10px 10px;
    margin-bottom: 15px
}

.town-item-left-box {
    display: inline-block;
    float: left;
    width: 40px;
    height: 107px
}

.town-item-right-box {
    display: inline-block;
    width: 85%;
    float: left;
    padding-left: 10px
}

.town-item-img img {
    display: inline-block;
    width: 100%
}

.town-item p {
    font-size: 11px;
    margin-bottom: 0
}

.town-item b {
    font-family: 'GothamProMedium', sans-serif
}

.zakaz-town {
    margin-top: 10px
}

.zakaz-town .yellow-btn {
    font-size: 11px;
    padding: 17px 10px;
    -webkit-box-shadow: 0 2px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 2px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 2px 0 0 rgba(235, 192, 5, 1);
    max-width: 290px
}

.table-town {
    margin-top: 25px;
    margin-bottom: 0
}

.table-town table td:before {
    width: 40%;
    border-right: 0;
    padding-left: 10px
}

.table-town table tr .header-kalk:before, .table-town table tr .footer-kalk:before, .table-town table td .td {
    padding: 15px 5px 15px 10px
}

.table-town p {
    font-size: 13px;
    margin-bottom: 0
}

.table-town b {
    display: block
}

.table-town table tr .footer-kalk .td {
    font-family: 'GothamProMedium', sans-serif;
    padding-left: 3px
}

.table-town table tr .header-kalk .td, .table-town table td .td {
    padding-left: 0
}

.why-we-item, .why-we-title {
    border-bottom: 1px solid #e1e1e1
}

.direktor-comm-right {
    background-color: #fff;
    padding: 20px 15px 20px 40px;
    display: inline-block;
    height: 100%;
    width: 100%;
    position: relative
}

.direktor-comm-right p {
    margin-bottom: 0
}

.direktor-comm-right p.q-marks:before {
    content: '';
    display: inline-block;
    position: absolute;
    top: 5px;
    left: -30px;
    background: url(../img/q-marks.png) no-repeat;
    background-size: cover;
    width: 24px;
    height: 15px
}

.direktor-comm-right p.q-marks {
    position: relative;
    margin-bottom: 30px
}

.direktor-comm-right span {
    font-size: 13px;
    display: block
}

.text-wrap {
    padding: 20px 0 5px
}

.why-we-container {
    display: block
}

.why-we-container h2 {
    font-size: 18px
}

.why-we-container h3 {
    font-size: 16px;
    line-height: 1.5
}

.rekl-container {
    display: inline-block;
    height: 100%;
    width: 100%;
    margin-bottom: 50px
}

.rekl-container img {
    width: 100%;
    padding: 8px
}

.rekl-container .shadow .rekl-item:nth-child(1) {
    border-top: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1
}

.shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.1);
    display: inline-block;
    width: 100%;
    height: 100%
}

.rating input {
    position: absolute;
    left: -9999px
}

.rating input:checked ~ label {
    color: #ffc106
}

.rating input + label:hover, .rating input + label:hover ~ label {
    color: #ffc106;
    cursor: pointer
}

.rating label {
    color: #c7c7c7;
    transition: color .3s;
    -o-transition: color .3s;
    -moz-transition: color .3s;
    -webkit-transition: color .3s;
    font-size: 18px
}

.rating b {
    margin-right: 5px
}

.rekl-box {
    display: inline-block;
    width: 100%;
    height: 100%;
    border-top: 1px solid #e1e1e1;
    border-left: 1px solid #e1e1e1;
    border-right: 1px solid #e1e1e1;
    padding: 15px 0 0
}

.rekl-box.in-basket-btn {
    padding: 15px 15px 38px;
    border-top: none;
    border-bottom: 1px solid #e1e1e1
}

.rekl-box.rekl-descr {
    border-top: none;
    padding-top: 0;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: -5px
}

.rekl-box.rekl-descr p {
    font-size: 13px;
    line-height: 1.7
}

.rekl-box.rekl-descr .h3.no-uppercase {
    font-size: 16px;
    margin-top: 0
}

.rekl-box.in-basket-btn .yellow-btn {
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    font-size: 18px;
    padding: 15px;
    max-width: 260px;
    margin: 0 auto;
    display: block
}

.rekl-item {
    padding: 0
}

.rekl-box-price {
    font-family: 'GothamProMedium', sans-serif;
    font-size: 30px;
    padding: 0 0 20px
}

.rekl-box-price span {
    font-size: 18px
}

.rekl-box-gray {
    background-color: #f5f5f5;
    padding: 15px
}

.rekl-box-gray b {
    font-size: 16px
}

.rekl-box-gray p {
    margin-bottom: 5px;
    font-size: 16px
}

.rekl-box-gray .status-green {
    color: #1fab0c
}

.rekl-box-serv-item {
    padding-top: 18px
}

.rekl-box-calendar {
    display: inline-block;
    height: 100%;
    width: 100%;
    padding: 20px 15px;
    border-top: 1px solid #e1e1e1
}

.rekl-box-calendar .rekl-box-year {
    border-bottom: 3px solid #1fab0c;
    font-size: 15px;
    font-family: 'GothamProMedium', sans-serif
}

.rekl-box-month .month-checkbox {
    position: relative;
    display: inline-block;
    width: 100%
}

.serv-item-checkbox b {
    font-family: 'GothamProMedium', sans-serif;
    font-size: 16px
}

.serv-item-checkbox span {
    display: block
}

.rekl-box-month p {
    margin-bottom: 20px;
    font-size: 15px
}

.rekl-box-month label {
    background-color: #1fab0c;
    width: 100%;
    padding: 3px 5px 5px;
    margin-bottom: 0;
    color: #fff
}

.rekl-box-month label:hover {
    cursor: pointer
}

.rekl-box-month {
    padding: 0 1px;
    margin-top: 25px
}

.month-checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    display: inline-block;
    font-size: 20px;
    color: #959595;
    border: none;
    width: 17px;
    height: 17px
}

.month-checkbox input[type=checkbox]:disabled + label {
    background-color: #f5f5f5
}

.month-checkbox input[type=checkbox]:disabled + label:before {
    content: 'Занято';
    display: inline-block;
    font-size: 13px;
    color: #dc2d22;
    border: none;
    background-color: #f5f5f5;
    width: 100%
}

.month-checkbox label:before {
    margin-right: 0
}

.serv-item-checkbox input.check-u[type=checkbox]:checked + label:before {
    color: #9e9e9e;
    border: 1px solid #d2d2d2;
    font-weight: bold
}

.serv-item-checkbox input.check-u[type=checkbox]:checked + label {
    color: #9e9e9e
}

.serv-item-checkbox label {
    border: none;
    font-size: 16px;
    font-family: 'GothamProRegular', sans-serif;
    padding: 0 0 0 25px;
    font-weight: 500;
    height: auto;
    margin-bottom: 20px;
    position: relative
}

.serv-item-checkbox input[type=checkbox]:checked + label:before, .serv-item-checkbox input[type=checkbox] + label:before {
    position: absolute;
    left: 0;
    top: 5px;
    font-weight: bold
}

.rekl-box-left {
    padding-left: 0;
    padding-right: 0
}

#rekl-shit-slider {
    padding: 15px
}

#rekl-shit-slider .flexslider {
    margin-bottom: 10px;
    border: 0
}

.tab-content {
    padding: 15px
}

.transport-block {
    display: inline-block;
    width: 100%;
    height: 100%
}

.transport-block .shadow {
    margin-top: 10px;
    margin-bottom: 40px;
    border: 1px solid #e1e1e1;
    border-radius: 7px 7px 0 0;
    -webkit-box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.13);
    box-shadow: 0 0 25px 2px rgba(0, 0, 0, 0.13)
}

.transport-block .nav.nav-tabs li {
    width: 100%;
    -webkit-box-shadow: inset 0 0 25px 2px rgba(0, 0, 0, 0.2);
    box-shadow: inset 0 0 25px 2px rgba(0, 0, 0, 0.2)
}
@media screen and (min-width: 768px) {
    .transport-block .nav.nav-tabs li {
         width: 33.33333%;
    }
}

.transport-block .nav.nav-tabs li.tab-1, .transport-block .nav.nav-tabs li.tab-1 a {
    border-radius: 7px 0 0 0;
    margin: 0
}

.transport-block .nav.nav-tabs li.tab-1 a, .transport-block .nav.nav-tabs li.tab-2 a {
    padding-left: 37px;
    border: 0
}

.transport-block .nav.nav-tabs li.tab-1.active {
    border-radius: 7px 0 0 0
}

.transport-block .nav.nav-tabs li.tab-2, .transport-block .nav.nav-tabs li.tab-2 a {
    border-radius: 0 7px 0 0;
    margin: 0
}

.transport-block .nav.nav-tabs li.tab-2.active {
    border-radius: 0 7px 0 0
}

.transport-block .nav.nav-tabs li a {
    text-decoration: none;
    color: #000;
    font-size: 16px;
    font-family: 'GothamProMedium', sans-serif;
    padding: 15px 10px;
    text-align: center
}

.transport-item {
    display: inline-block;
    position: relative;
    border-top: 1px solid #e1e1e1;
    padding: 10px 0 10px 20px;
    width: 100%
}

.transport-item.avtobus {
    padding-top: 25px
}

.transport-item:last-child {
    padding-bottom: 0
}

.transport-item i {
    position: absolute;
    color: #0e5fa0;
    left: -5px
}

.transport-item i.fa-bus {
    font-size: 16px;
    top: 27px
}

.transport-item i.fa-map-marker {
    font-size: 22px;
    top: 8px
}

.transport-item i.fa-phone {
    font-size: 20px;
    top: 13px
}

.transport-item i.fa-credit-card-alt {
    font-size: 14px;
    top: 13px
}

.transport-item p {
    margin-bottom: 0
}

.nav.nav-tabs .tab-1 span:before, .nav.nav-tabs .tab-2 span:before {
    content: '';
    background: url(../img/contact-sprite.png) no-repeat;
    position: absolute;
    display: inline-block;
    top: 12px;
    left: -5px;
    background-size: cover
}

.avtobus {
    border-top: none
}

.tab-1 span, .tab-2 span,
.new-tab span {
    position: relative;
    display: inline-block
}

.tab-1 span:before {
    background-position: 0 center;
    width: 16px;
    height: 30px;
    left: -25px !important;
    top: -5px !important
}

.tab-2 span:before {
    background-position: -10px center !important;
    width: 20px;
    height: 21px;
    left: -27px !important;
    top: -1px !important
}
.new-tab span::before {
    content: url(../img/address.png);
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
}

.new-tab span::after {
    content: url(../img/new.png);
    position: absolute;
    top: 50%;
    right: -35px;
    transform: translateY(-50%);
}

.nav-tabs > li > a:hover {
    background-color: transparent;
}

.content-wrap {
    padding-top: 15px
}

.adress-block {
    height: 100%;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 30px
}

.adress-block h2 {
    text-transform: none;
    margin-bottom: 10px;
    margin-top: 20px
}

.adress-block p {
    margin-bottom: 0
}

.dowld-box {
    width: auto;
    display: inline-block
}

.dowld-box img {
    float: left;
    margin-right: 10px;
    margin-top: 3px
}

.dowld-box a {
    color: #000;
    text-decoration: none;
    border-bottom: 1px dotted #000;
    display: inline;
    padding-bottom: 2px;
    line-height: 1.7
}

.dowld-box:hover a {
    border-bottom: 1px dotted transparent
}

.dowld-box:hover img {
    cursor: pointer
}

.transport-block h2 {
    text-transform: none
}

.time-work-left {
    display: inline-block;
    width: 70%;
    float: left;
    margin-right: 7%
}

.time-work-right {
    display: inline-block;
    width: 23%;
    float: left
}

.time-work-left p, .time-work-right p {
    display: inline-block;
    text-align: center;
    padding-bottom: 5px
}

.time-work-green-border, .time-work-gray-border {
    text-align: justify;
    text-align-last: justify;
    -moz-text-align-last: justify;
}

.time-work-green-border {
    border-bottom: 3px solid #1fab0c;
    margin-bottom: 5px
}

.time-work-gray-border {
    border-bottom: 3px solid #c8c8c8
}

.adress-item:nth-child(2), .adress-item:nth-child(4) {
    order: 1
}

#contact-maps {
    height: 210px;
    padding: 0 15px
}

.transport-item b {
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 200
}

.faq-container {
    display: inline-block;
    width: 100%;
    height: 100%;
    border: 1px solid #e1e1e1;
    border-radius: 7px;
    margin-bottom: 50px
}

.faq-container h4 {
    font-size: 14px;
    line-height: 1.6;
    margin: 0
}

.faq-container h4 a {
    text-decoration: none
}

.faq-container h4 .collapsed .quest-title span {
    border-bottom: 1px solid #d4dde8
}

.faq-container h4:hover .quest-title span, .quest-title span {
    border-bottom: 1px solid transparent
}

.faq-container h4:hover .quest-title:after {
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.quest-title, .answ-text {
    border-bottom: 1px solid #e1e1e1;
    padding: 10px 15% 10px 15px;
    background: #f5f5f5;
    position: relative
}

.answ-text {
    font-size: 13px;
    line-height: 1.6;
    padding: 10px 15px 10px 15px
}

.answ-text p {
    font-size: 13px;
    line-height: 1.6
}

.answ-text p:last-child {
    margin-bottom: 0
}

.panel {
    margin-bottom: 0;
    background-color: transparent;
    border: none;
    border-radius: 0;
    -webkit-box-shadow: none;
    box-shadow: none
}

.quest-box:first-child .quest-title {
    border-radius: 7px 7px 0 0
}

.quest-box:last-child .collapse.in .answ-text, .quest-box:last-child .collapsed .quest-title {
    border-bottom: 1px solid transparent
}

.quest-box:last-child .collapsed .quest-title, .quest-box:last-child .collapse.in .answ-text {
    border-radius: 0 0 7px 7px
}

.collapsed .quest-title {
    background: #fff;
    border-radius: 7px 7px 0 0
}

.quest-title:after {
    content: '';
    background: url(../img/faq-arrow.png) no-repeat;
    width: 21px;
    height: 12px;
    display: inline-block;
    position: absolute;
    top: 40%;
    right: 10px;
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    -o-transition: all 300ms;
    transition: all 300ms;
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg)
}

.collapsed .quest-title:after {
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    top: 40%
}

.naryw-rekl-block {
    margin-top: 0
}

.price-ot {
    font-size: 13px;
    white-space: nowrap
}

.price-ot .red-title {
    font-size: 16px
}

.nav.nav-tabs .tab-3 span:before, .nav.nav-tabs .tab-4 span:before {
    content: '';
    background: url(../img/tabs-2.png) no-repeat;
    position: absolute;
    display: inline-block;
    background-size: cover
}

.nav.nav-tabs .tab-3 span:before {
    background-position: 0 0 !important;
    left: -35px !important;
    top: 0 !important;
    width: 23px !important;
    height: 21px !important
}

.nav.nav-tabs .tab-4 span:before {
    background-position: -23px 0 !important;
    left: -35px !important;
    top: 0 !important;
    width: 23px !important;
    height: 20px !important
}

.arenda-container {
    padding-top: 30px;
    padding-bottom: 0
}

.arenda-block {
    display: -webkit-flex;
    display: -moz-flex;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap
}

.arenda-box {
    padding: 0
}

.arenda-box .cust-select select {
    background-color: #fff
}

.arenda-box label {
    font-size: 13px;
    font-family: 'GothamProMedium', sans-serif;
    width: 100%
}

#arenda-maps {
    height: 465px
}

.maps-block {
    margin: 0 -15px;
    border-top: 1px solid #e1e1e1
}

.arenda-box-price {
    margin-bottom: 20px
}

.arenda-box-price .min-price, .arenda-box-price .max-price, .arenda-box-left, .arenda-box-right {
    width: 47%;
    display: inline-block
}

.tire-rasst {
    width: auto;
    display: inline-block;
    text-align: center
}

.arenda-box-price .min-price input, .arenda-box-price .max-price input {
    border: 1px solid #dcdcdc;
    color: #9e9e9e;
    width: 100%;
    padding: 15px;
    border-radius: 2px
}

.arenda-box-right {
    vertical-align: top;
    padding-left: 4%
}

.storona-a-box label, .storona-b-box label {
    font-family: 'GothamProRegular', sans-serif;
    font-size: 15px;
    cursor: pointer
}

.storona-a-box, .storona-b-box {
    display: inline-block;
    margin-top: 13px
}

.storona-a-box {
    margin-right: 15px
}

.storona-a-box span, .storona-b-box span {
    display: inline-block;
    vertical-align: middle
}

.margin-bottom-40 .shadow {
    margin-bottom: 20px
}

.naryw-table-block {
    margin: 0 -15px
}

.naryw-table-block table {
    width: 100%
}

.naryw-table-block thead {
    display: none
}

.mesto-item-list {
    display: inline-block;
    width: 100%;
    font-size: 13px;
    padding-bottom: 20px
}

.mesto-item-list td:first-child .td {
    width: 100%;
    text-align: center
}

.mesto-item-list td:first-child:before {
    display: none
}

.mesto-item-list td {
    display: table;
    width: 100%
}

.mesto-item-list td:first-child {
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    margin-bottom: 7px
}

.mesto-item-list td:before {
    content: attr(data-label);
    width: 43%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'GothamProMedium', sans-serif;
    padding-left: 15px
}

.mesto-item-list .mesto-title b {
    color: #fff;
    font-family: 'GothamProMedium', sans-serif;
    font-weight: 200;
    font-size: 13px;
    display: inline-block;
    border-bottom: 1px dotted #fff
}

.mesto-item-list a {
    background: #01498c;
    background: -moz-linear-gradient(left, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
    background: -webkit-linear-gradient(left, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
    background: linear-gradient(to right, #01498c 0%, #2989d8 100%, #207cca 100%, #015799 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#01498c', endColorstr='#015799', GradientType=1);
    padding: 15px;
    display: block
}

.mesto-item-list a.collapsed {
    background: #fff;
    text-decoration: none
}

.mesto-item-list a.collapsed .mesto-title b {
    color: #000;
    border-bottom: 1px dotted #000
}

.mesto-item-list a.collapsed .mesto-title:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #959595 transparent transparent transparent
}

.mesto-item-list .mesto-title:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
    margin-left: 5px
}

.mesto-maps {
    height: 230px;
    margin-bottom: 20px
}

.mesto-img {
    width: 100%;
    height: 125px;
    display: block;
    margin-bottom: 15px
}

.mesto-item-list .td {
    padding: 7px 10px 7px 5px
}

.mesto-item-list td:first-child .td {
    padding: 0
}

.green-title {
    color: #1fab0c
}

.mesto-descr {
    display: inline-block;
    width: 100%;
    height: 100%;
    padding-bottom: 20px
}

.mesto-descr b {
    font-size: 13px;
    font-family: 'GothamProMedium', sans-serif
}

.mesto-descr .rekl-box-serv-item {
    padding-top: 10px;
    padding-bottom: 20px
}

.mesto-descr .rekl-box-case:first-child {
    padding-left: 15px;
    padding-right: 15px
}

.mesto-descr .rekl-box-serv-item label {
    font-size: 13px;
    margin-bottom: 5px;
    display: inline-block;
    width: auto
}

.mesto-descr .serv-item-checkbox input[type=checkbox]:checked + label:before, .mesto-descr .serv-item-checkbox input[type=checkbox] + label:before {
    top: 0
}

.rekl-box-calendar.active-calendar, .rekl-box-calendar.no-active-calendar {
    border-top: 0;
    padding: 0;
    margin-bottom: 10px
}

.rekl-box-calendar.active-calendar .rekl-box-year, .rekl-box-calendar.no-active-calendar .rekl-box-year {
    font-size: 13px
}

.rekl-box-calendar.active-calendar .rekl-box-month p, .rekl-box-calendar.no-active-calendar .rekl-box-month p {
    font-size: 11px;
    margin-bottom: 10px
}

.rekl-box-calendar.no-active-calendar .rekl-box-year {
    color: #9e9e9e;
    border-bottom-color: #f5f5f5
}

.rekl-box-calendar.active-calendar .rekl-box-month, .rekl-box-calendar.no-active-calendar .rekl-box-month {
    margin-top: 10px
}

.rekl-box-calendar.no-active-calendar .rekl-box-month p {
    color: #9e9e9e
}

.rekl-box-calendar.no-active-calendar .rekl-box-month label {
    background-color: #f5f5f5;
    height: 23px
}

.rekl-box-calendar.no-active-calendar .rekl-box-month label:before {
    display: none
}

.more-inform-btn, .mesto-item-body .in-basket-btn {
    max-width: 200px;
    margin: 0 auto;
    text-align: center
}

.more-inform-btn {
    border-radius: 5px;
    border: 2px solid #ffd727;
    margin-bottom: 15px
}

.more-inform-btn:hover {
    background-color: #ffd727
}

.more-inform-btn a {
    text-decoration: none;
    color: #000;
    font-size: 13px;
    padding: 15px;
    display: block
}

.mesto-item-body .in-basket-btn .yellow-btn {
    padding: 15px;
    font-size: 13px;
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    font-family: 'GothamProRegular', sans-serif
}

.naryw-table-block .panel-group {
    margin-bottom: 0
}

.more-item-list {
    border-top: 1px solid #e1e1e1;
    padding: 15px;
    display: inline-block;
    width: 100%
}

.more-item-list td {
    text-align: center;
    display: block
}

.more-item-list .link-more-review {
    margin: 0
}

.mesto-title .hidden-lg.hidden-md {
    margin-right: -3px
}

.rekl-box-case {
    padding-left: 0;
    padding-right: 0
}

.hint-item .rating {
    margin-bottom: 0;
    display: inline-block
}

.hint-item .rating label {
    font-size: 11px;
    margin-bottom: 0;
    float: left;
    margin-right: 3px
}

.hint-item .rating label:hover {
    cursor: pointer
}

.no-padding-bottom {
    padding-bottom: 0
}

.basket-container {
    border-top: 1px solid #e1e1e1;
    padding-bottom: 35px
}

.basket-case .naryw-table-block {
    margin: 0
}

.pasport-shita-map {
    height: 230px
}

.nav > li > a:hover, .nav > li > a:focus {
    background-color: transparent
}

.contact-info-box {
    display: inline-block;
    width: 100%;
    line-height: normal
}

input:focus, select:focus, textarea:focus {
    border: 1px solid #01579b !important;
    box-shadow: none
}

.all-kanal-link {
    font-size: 15px
}

.direktor-block {
    position: relative;
    height: 100%;
    width: 100%;
    display: inline-block
}

.naryw-table-block table.shadow {
    -webkit-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.1);
    -moz-box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.1);
    box-shadow: 0 2px 5px 0 rgba(50, 50, 50, 0.1);
    border-top: 0;
    border-radius: 0
}

table.shadow tbody {
    display: inline-block;
    width: 100%
}

.other-serv td:first-child .td {
    padding: 15px
}

.basket-end-price {
    display: inline-block;
    margin-top: 10px;
    width: 100%
}

.basket-end-price b {
    font-size: 18px;
    display: inline-block
}

.basket-end-price b:first-child {
    margin-bottom: 10px
}

.basket-end-price p {
    font-size: 16px
}

.yellow-btn.shadd {
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    padding: 23px 10px 20px
}

.basket-case-item .basket-block-body-dell-item a {
    background: transparent;
    display: inline-block;
    padding: 0;
    height: 100%;
    width: 100%
}

.basket-case-item .basket-block-body-dell-item {
    position: relative;
    top: 0
}

.swiper-container {
    width: 100%;
    height: 300px;
    margin-left: auto;
    margin-right: auto
}

.swiper-slide {
    background-size: cover;
    background-position: center
}

.gallery-top {
    height: 80%;
    width: 100%
}

.gallery-thumbs {
    height: 20%;
    box-sizing: border-box;
    padding: 10px 0
}

.gallery-thumbs .swiper-slide {
    width: 25%;
    height: 100%;
    opacity: 0.4
}

.gallery-thumbs .swiper-slide-active {
    opacity: 1
}

.rekl-box-month label.disabled-month:hover {
    cursor: default
}

.kalk-block table td:before:after {
    content: '';
    display: inline-block;
    height: 16px;
    width: 16px
}

.begyw-block .kalk-item {
    margin-bottom: 25px;
    display: inline-block
}

.begyw-block .kalk-item:last-child {
    margin-bottom: 0
}

.begyw-block .kalk-item a {
    text-decoration: none;
    border-bottom: 1px dashed #000;
    color: #000
}

.begyw-block .kalk-item span {
    font-size: 13px;
    color: #9e9e9e;
    display: inline-block
}

.begyw-block .kalk-item .header-kalk {
    border-top: 1px solid #d2d2d2
}

.begyw-block table td:before {
    width: 49%;
    border-right: 0;
    padding: 10px 15px
}

.begyw-block table td .td {
    padding: 10px 15px
}

.custom-select.sources.opened span {
    border-bottom: 1px dashed transparent
}

.form-advert-input {
    display: inline-block
}

.form-advert-input input {
    width: 195px
}

#rekl-shit-slider .item div {
    display: inline-block;
    width: 100%;
    height: 190px
}

.owl-carousel-pagination div {
    display: inline-block;
    width: 30%;
    height: 70px
}

.fade-basket-block .basket-block {
    margin-top: 0;
    margin-bottom: 0;
    border: 1px solid #e1e1e1
}

.fade-basket-block .basket-block .basket-block-body {
    height: 250px;
    overflow-y: scroll;
    margin-bottom: 0;
    border-top: 0;
    line-height: normal;
    padding-top: 0 !important
}

.fade-basket-block .basket-block .basket-block-body li {
    padding: 18px 20px 15px
}

.fade-basket-block .basket-block .basket-block-body li.basket-no-padding {
    padding: 0
}

.fade-basket-block .basket-block-body-dell-item {
    top: 20px;
    right: 20px
}

.fade-basket-block .basket-block-footer {
    padding: 10px 20px 20px
}

.fade-basket-block .basket-block-body-title {
    margin-bottom: 10px
}

.fade-basket-block .basket-block-body-time {
    width: 100%;
    margin-bottom: 10px
}

.fade-basket-block .basket-block-body-price {
    width: 100%;
    float: none;
    text-align: left
}

@-webkit-keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    from {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible
}

@-webkit-keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }
    to {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    visibility: visible
}

.sticky {
    position: fixed;
    z-index: 101
}

.stop {
    position: relative;
    z-index: 101
}

.rekl-box-calendar.active-calendar:nth-child(1) .rekl-box-year {
    margin-right: 1px
}

.rekl-box-calendar.active-calendar:nth-child(2) .rekl-box-year {
    margin-left: 1px;
    margin-right: 1px
}

.rekl-box-calendar.no-active-calendar .rekl-box-month label {
    height: 28px
}

.all-kanal-link label {
    text-decoration: underline;
    color: #01579b;
    font-weight: normal;
    cursor: pointer
}

.all-kanal-link label:hover, .all-kanal-link label:focus {
    text-decoration: none
}

.all-kanal-link input {
    position: absolute;
    left: -9999px
}

.rating .active {
    color: #ffc106
}

.maps-hint-block-close {
    position: absolute;
    top: 15px;
    right: 15px;
    width: 15px;
    height: 15px;
    outline: 1px solid red
}

.maps-hint-block .h4 {
    margin-top: 0
}

.maps-hint-block .tab-content {
    display: block;
    padding: 0 !important
}

.maps-hint-tabs {
    list-style-type: none;
    padding-left: 0;
    display: inline-block
}

.maps-hint-tabs li {
    display: inline-block;
    width: 80px;
    background-color: #fff;
    border: 1px solid #0164b9;
    float: left
}

.maps-hint-tabs li:nth-child(1) {
    border-radius: 3px 0 0 3px
}

.maps-hint-tabs li:nth-child(2) {
    border-radius: 0 3px 3px 0
}

.maps-hint-tabs li a {
    display: block;
    text-decoration: none;
    font-size: 11px;
    padding: 5px;
    text-align: center
}

.maps-hint-tabs li.active, .maps-hint-tabs li:hover {
    background-color: #0164b9
}

.maps-hint-tabs li.active a, .maps-hint-tabs li:hover a {
    color: #fff
}

.maps-hint-left, .maps-hint-right {
    display: inline-block;
    width: 100%;
    height: 100%
}

.maps-hint-right {
    margin-bottom: 5px
}

.maps-hint-left {
    margin-bottom: 5px
}

.maps-hint-right p, .maps-hint-right b {
    font-size: 12px;
    line-height: normal
}

.maps-hint-right p {
    margin-bottom: 7px
}

.maps-hint-right p:nth-child(1) {
    margin-bottom: 2px
}

.maps-hint-right .status-green {
    color: #1fab0c
}

.maps-hint-box {
    display: inline-block;
    width: 100%
}

.maps-hint-box-img {
    display: inline-block;
    padding-right: 20px;
    margin-bottom: 5px
}

.maps-hint-box-img div {
    display: inline-block;
    width: 150px;
    height: 110px
}

.maps-hint-box-price b, .maps-hint-box-price span {
    font-size: 13px
}

.maps-hint-box-price div {
    font-weight: bold;
    font-size: 20px
}

.maps-hint-box-price span {
    font-weight: bold
}

.maps-hint-right .rating label {
    font-size: 12px;
    margin-bottom: 0
}

.maps-hint-right .rating {
    margin-bottom: 4px
}

.maps-hint-checkbox label {
    font-size: 12px;
    margin-bottom: 0
}

.maps-hint-checkbox label:hover {
    cursor: pointer
}

.maps-hint-checkbox input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 15px;
    border: 1px solid #e4e4e4;
    color: #ffd727;
    border-radius: 2px;
    line-height: 7px
}

.maps-hint-checkbox {
    display: inline-block;
    line-height: normal
}

.maps-hint-checkbox label:before {
    content: '';
    width: 12px;
    height: 12px;
    display: inline-block;
    line-height: 15px;
    vertical-align: middle;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 2px;
    margin-right: 5px
}

.maps-hint-footer-link {
    display: inline-block;
    width: 100%;
    margin-top: 10px
}

.maps-hint-footer-link .more-link {
    font-size: 13px;
    display: block;
    color: #000;
    text-decoration: none;
    border-radius: 3px;
    border: 2px solid #ffd727;
    text-align: center;
    padding: 7px 6px 6px;
    font-family: 'GothamProMedium', sans-serif;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s
}

.maps-hint-footer-link .more-link:hover {
    background-color: #ffd727
}

.maps-hint-footer-link .yellow-btn {
    font-size: 13px;
    border-radius: 3px;
    padding: 7px;
    display: block;
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1)
}

.maps-hint-footer-link .no-padding:nth-child(1) {
    padding-right: 5px
}

.maps-hint-footer-link .no-padding:nth-child(2) {
    padding-left: 5px
}

.ymaps-2-1-47-balloon__tail {
    transform: none !important
}

.maps-hint-block:after, .ymaps-2-1-47-balloon__tail:after {
    content: '';
    display: inline-block !important;
    width: 0 !important;
    height: 0 !important;
    border-style: solid !important;
    border-width: 25px 31px 25px 0 !important;
    border-color: #ffffff transparent transparent transparent !important;
    position: absolute !important;
    bottom: -48px !important;
    left: 0 !important;
    background-color: transparent !important
}

.ymaps-2-1-47-balloon__tail {
    box-shadow: none !important;
    background: transparent !important;
    display: inherit !important;
    position: inherit !important;
    left: 57px !important;
    bottom: 3px !important;
    width: 0 !important;
    height: 0 !important;
    margin-bottom: 0 !important;
    z-index: 10 !important
}

.ymaps-2-1-47-balloon__tail:before {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 27px 34px 27px 0;
    border-color: #d2d2d2 transparent transparent transparent;
    position: absolute;
    bottom: -54px;
    left: -2px
}

.maps-hint-block:before, .maps-hint-block:after {
    display: none !important
}

.ymaps-2-1-47-balloon__content {
    margin: 0 !important;
    padding: 25px 25px 20px 0px !important;
}

.ymaps-2-1-47-balloon, .ymaps-2-1-47-balloon__layout {
    box-shadow: none !important;
    border-radius: 10px 10px 10px 0 !important
}

.ymaps-2-1-47-balloon__content {
    box-shadow: none !important;
    border: 2px solid #d3d3d2 !important;
    border-radius: 10px 10px 10px 0 !important;
    font: 16px 'GothamProRegular' !important
}

.tel-radio-box {
    display: inline-block;
    width: 100%;
    margin-top: 7px
}

.tel-radio-box input[type=radio] {
    display: none
}

.tel-radio-box label span:before {
    content: '';
    background: url(../img/radio-btn.png) no-repeat;
    background-position: 0 -18px;
    width: 18px;
    height: 18px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 5px;
    margin-top: -3px;
    background-color: #fff;
    border-radius: 50px;
    background-size: cover
}

.tel-radio-box input[type=radio]:checked + label span:before {
    content: '';
    background: url(../img/radio-btn.png) no-repeat;
    background-position: 0 0;
    display: inline-block;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50px;
    background-size: cover
}

.tel-radio-box label span {
    font-size: 12px;
    position: relative;
    display: inline-block;
    cursor: pointer
}

.tel-radio-box label:nth-child(2) span {
    margin-right: 10px
}

.tel-radio-box label {
    width: auto !important;
    line-height: normal;
    float: left;
    margin-bottom: 0 !important
}

.kanal-block .checkbox-item label p {
    margin: 5px 0 0;
    padding: 0;
    font-size: 12px;
    font-weight: normal;
    font-family: 'GothamProRegular', sans-serif;
    position: relative
}

.kanal-block .checkbox-item label p a {
    display: block
}

.kanal-block .checkbox-item label {
    height: 160px
}

.hint-label {
    display: inline-block;
    width: 300px;
    position: absolute;
    padding: 15px;
    z-index: 10;
    border-radius: 10px;
    border: 3px solid #ffd727;
    background-color: #fff;
    text-align: left;
    bottom: 60px;
    left: -15px;
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25)
}

.hint-label img {
    width: 100%
}

.kanal-block .checkbox-item label .hint-label p {
    margin: 0 0 10px
}

.kanal-block .checkbox-item label .hint-label p:last-child {
    margin: 0
}

.link-basket {
    position: fixed;
    top: 65px;
    right: -255px;
    width: 255px;
    height: 100%;
    max-height: 485px;
    z-index: 1000;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    transition: all 0.5s
}

.link-basket.in {
    right: 0
}

.link-basket.in .basket-button-close, .link-basket .basket-button-icon {
    display: block
}

.link-basket.in .basket-button-close:hover {
    outline: 1px solid #dc2d22
}

.link-basket.in .basket-button-icon, .link-basket .basket-button-close {
    display: none
}

.basket-button-block {
    position: absolute;
    top: 0;
    left: -50px;
    display: inline-block;
    height: 50px;
    width: 50px
}

.basket-button-box {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #282828
}

.basket-button-box:hover {
    cursor: pointer
}

.basket-button-box span.summ-tovar {
    background-color: #dc2d22;
    color: #fff;
    border-radius: 50px;
    display: inline-block;
    height: 18px;
    width: 18px;
    line-height: 18px;
    border-bottom: none;
    text-align: center;
    font-size: 12px;
    position: absolute;
    top: -7px;
    left: -7px;
    z-index: 10
}

.link-basket .basket-button-icon {
    display: inline-block;
    padding: 12px
}

.link-basket .basket-button-icon img {
    width: 25px;
    height: 25px
}

.link-basket a.basket-button-close {
    background-color: transparent;
    height: 50px;
    padding: 10px;
    position: relative;
    -moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.3)
}

.link-basket:hover a.basket-button-close {
    height: 50px
}

.basket-button-close .close-one, .basket-button-close .close-two {
    background-color: #fff;
    height: 2px;
    width: 35px;
    display: inline-block;
    border-radius: 3px;
    position: absolute;
    top: 25px;
    left: 8px
}

.basket-button-close .close-one {
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg)
}

.basket-button-close .close-two {
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg)
}

.basket-button-close:before {
    content: none !important
}

#radio-ad-basket .basket-block-text, .vubor-kanala .basket-block-text {
    padding: 15px;
    border-top: 1px solid #e1e1e1;
    border-bottom: 1px solid #e1e1e1;
    background-color: #f5f5f5;
    margin-bottom: 10px
}

#radio-ad-basket .basket-block-text p:last-child, .vubor-kanala .basket-block-text p:last-child {
    margin-bottom: 0
}

#radio-ad-basket .basket-block-text b, .vubor-kanala .basket-block-text b {
    margin-bottom: 15px
}

.beg-block {
    display: inline-block;
    width: 100%
}

.beg-block b {
    margin-bottom: 10px
}

.beg-link-1, .beg-link-2 {
    display: inline-block;
    margin-right: 15px
}

.beg-link-1 span, .beg-link-2 span {
    border-bottom: 1px dashed #000;
    font-size: 13px
}

.beg-link-1 span:hover, .beg-link-2 span:hover {
    cursor: pointer
}

.beg-link-cont {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px
}

.beg-descr-1, .beg-descr-2 {
    display: none;
    padding-bottom: 20px
}

.show-hint-label {
    border-bottom: 1px solid #01579b;
    line-height: 10px;
    color: #01579b;
    display: none;
}

.show-hint-label:hover {
    border-bottom-color: transparent
}

.anchors > ul {
    padding: 0
}

.anchors > p {
    display: none
}

.anchors li {
    list-style-type: none;
    margin-top: 7px
}

.anchors li.list-alt:last-child {
    margin-bottom: 20px
}

.anchors li.tags > ul {
    padding: 0
}

.anchors a {
    font-size: 15px;
    margin: 0
}

.anchors .tags {
    margin-bottom: 30px
}

.anchors .tags > p {
    color: #dc2d22;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'GothamProBold', sans-serif
}

.anchors .tag > p {
    color: #000;
    font-family: 'GothamProBold', sans-serif;
    font-size: 15px
}

.anchors .tag > ul {
    padding-left: 15px
}

.anchors .list-alt > a {
    color: #01579b
}

@media (min-width: 515px) and (max-width: 570px) {
    #userticker-channels > div:nth-child(2n) .hint-label {
        left: -125px
    }
}

@media (min-width: 380px) and (max-width: 515px) {
    .checkbox-item label {
        height: 160px
    }
}

@media (min-width: 405px) {
    .content-header-menu li:nth-child(3) {
        margin-right: 4% !important
    }
}

@media (min-width: 320px) and (orientation: landscape) {
    .content-box, .about-box {
        width: 50%
    }

    .content-box:nth-child(2n+1), .town-box:nth-child(2n+1) {
        padding-left: 15px;
        padding-right: 8px
    }

    .content-box:nth-child(2n+2), .town-box:nth-child(2n+2) {
        padding-left: 8px;
        padding-right: 15px
    }

    .town-box, .content-box, .about-box, .adress-item, .arenda-box, .mesto-descr .col-lg-6.col-md-6.col-sm-6.col-xs-12 {
        width: 50%
    }

    .review-item {
        width: 33.33333333%
    }

    .arenda-box:nth-child(2n+1) {
        padding-right: 5%
    }

    .arenda-box:nth-child(2n+2) {
        padding-left: 5%
    }

    .adress-item:nth-child(2), .adress-item:nth-child(4) {
        order: 0 !important
    }

    .direktor-block .direktor-img.color-img {
        display: inline-block !important;
        bottom: -34px;
        left: -3px;
        z-index: 2;
        width: 210px;
        position: absolute
    }

    .form-bg.about-us-box {
        overflow: visible;
        min-height: 288px
    }

    .about-us-mob-left {
        width: 33.33333333%
    }

    .about-us-mob-right {
        width: 66.66666667%
    }

    .direktor-block {
        height: 320px !important
    }

    .kanal-block .checkbox-item label {
        height: 175px
    }

    .rekl-container img {
        padding: 15px
    }
}

.mesto-descr .owl-carousel {
    max-width: 258px;
    margin: auto
}

.checkbox input[type=checkbox]:checked + label span:before, .checkbox-no-number input[type=checkbox]:checked + label:before, .checkbox input[type=checkbox]:checked + label:before, .storona-a-box input[type=checkbox]:checked + label:before, .storona-b-box input[type=checkbox]:checked + label:before {
    content: "\2713";
    font-size: 20px;
    border: 1px solid #ffd727;
    color: #000;
}

.kanal-item input[type=checkbox] {

    z-index: inherit;

}

.serv-item-checkbox:first-child label:before {
    border: 1px solid #d2d2d2 !important;
    color: #8f8f8f;
}

span.filter-box.hidden-sm.hidden-xs a:before {
    content: "";
    border: 5px solid transparent;
    border-bottom: 5px solid #9e9e9e;
    position: absolute;
    top: 0;
    right: -15px;
}

span.filter-box.hidden-sm.hidden-xs a.desc:before {
    border-bottom: 5px solid #dc2d22;
}

span.filter-box.hidden-sm.hidden-xs a:after {
    content: "";
    border: 5px solid transparent;
    border-top: 5px solid #9e9e9e;
    position: absolute;
    top: 15px;
    right: -15px;
}

span.filter-box.hidden-sm.hidden-xs a.asc:after {
    border-top: 5px solid #dc2d22;
}

span.filter-box.hint-item:after {
    content: url(../img/info.png);
    position: absolute;
    top: -15px;
    right: -10px;
}

.hint-body p.notEvenP {
    padding-left: 25px;
    margin: 0 !important;
}

.notEvenPadding {
    padding-bottom: 0 !important;
}

.new-form-box {
    border: 1px solid #0164b9;
    overflow: hidden;
    margin: 10px 15px;
    height: 520px;
}

.main-h3 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 25px;
}

.form-block .new-form-text {
    font-size: 15px;
    margin-bottom: 25px;
    line-height: 20px;
    font-weight: bold;
}

.callus.callus-new {
    width: 100%;
    background: #0164b9;
    float: left;
    padding-top: 25px;
    padding-bottom: 25px;
    bottom: 100px;
}

.callus .new-form-img-mrg {
    margin-left: 30px;
}

.another-callus-box {
    display: inline-block;
    float: right;
    padding: 0 30px;
}

.new-form-font {
    font-size: 15px;
}

.new-form-box .new-form-input {
    width: 100%;
    height: 50px;
    padding: 15px 10px
}

.yellow-btn.new-btn {
    height: 50px;
    line-height: 5px;
}

.manager-img-new {
    margin-left: -140px;
    margin-top: -40px;
}

.no-bg {
    background: none;
}

@media (max-width: 480px) {
    .new-form-box {
        height: auto;
    }

    .callus.callus-new {
        bottom: 0;
    }

    .callus .new-form-img-mrg {
        margin-left: 0;
    }

    .another-callus-box {
        padding-top: 20px;
    }
}

@media (min-width: 1025px) {
    .new-form-box {
        height: 440px;
    }

    .callus.callus-new {
        bottom: 185px;
    }

    .form-block .yellow-btn.new-btn {
        width: 205px;
        padding: 23px 50px;
    }
}

.dropdown-menu input[type=checkbox] {
    width: 100%;
    height: 100%
}

.has-error .help-block {
    border: 1px solid #cdcdcd;
    padding: 5px;
    background: #fff;
    position: absolute;
}

.zindex {
    z-index: 999;
}

/*стили для новых чек-боксов в наружной рекламе*/

label.reserve::before {
    margin-right: 5px;
}

label.reserve::after {
    content: 'Резерв';
    display: inline-block;
    font-size: 13px;
    color: #fff;
    border: none;
}

label.request::before {
    margin-right: 5px;
}

label.request::after {
    content: 'По запросу';
    display: inline-block;
    font-size: 13px;
    color: #fff;
    border: none;
}


/*новая верстка "реклама в городах"*/

span.blueGuys {
    display: inline-block;
    margin-bottom: 15px;
    color: #01579b;
    font-family: 'GothamProBold';
}

.statisticBox {
    float: left;
}

.statisticBox ul {
    list-style-type: none;
    padding: 0;
}

.statisticBox ul li {
    display: inline-block;
    font-family: 'GothamProBold';
    text-align: center;
    vertical-align: top;
    margin-top: 10px;
    margin-left: 25px;
}

.statisticBox ul li:first-child {
    background: url(../img/citiesNew1.png) no-repeat scroll left top; /*путь до картинок при переносе поменять*/
}

.statisticBox ul li:nth-child(2) {
    background: url(../img/citiesNew2.png) no-repeat scroll left top; /*путь до картинок при переносе поменять*/
}

.statisticBox ul li:nth-child(3) {
    background: url(../img/citiesNew3.png) no-repeat scroll left top; /*путь до картинок при переносе поменять*/
}

.statisticBox ul li:last-child {
    background: url(../img/citiesNew4.png) no-repeat scroll left top; /*путь до картинок при переносе поменять*/
}

.statisticBox ul li p {
    font-family: 'GothamProRegular';
    font-size: 13px;
    color: #666666;
    margin-top: 10px;
    text-align: left;
}

.kalk-block table td.maxWidth {
    width: 100%;
    color: #fff;
    background: #464646;
    font-size: 18px;
    font-family: 'GothamProMedium';
}

.kalk-block table td.maxWidth:before {
    width: 0;
}

.kalk-block table td span {
    margin-bottom: 0;
}

.statisticBox ul.noMrgTable li {

    margin-left: 0;
}

.form-control {
    height: 50px;
}

select::-ms-expand {
    display: none;
}

.someLights div {
    margin-bottom: 60px;
}

.someLights img {
    width: 100%;
}

.someLights h3 {
    text-align: center;
    margin: 20px 30px;
    text-transform: none;
    min-height: 40px;
}

.someLights .yellow-btn {
    padding: 15px;
    -webkit-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    -moz-box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
    box-shadow: 0 3px 0 0 rgba(235, 192, 5, 1);
}

@media (max-width: 751px) {
    .someLights h3 {
        margin: 20px 0;
    }
}

.radio-audio {
    width: 100%;
}

.politics {
    text-align: left;
    margin-top: 10px;
    clear: both;
    font-size: 12px;
}

.modal-dialog .politics a {
    color: #fff;
}

.breadcrumb li.active a {
    color: #9e9e9e;
    text-decoration: none;
}

.field-outdoorsearch-rating .multiselect-container {
    width: 140%;
    outline: 1px solid #01579b;
    border: 0;
}

.old-price {
    text-decoration: line-through;
    font-size: 14px
}

.new-price {
    color: #dc2d22;
}

.discontMessage {
    color: #dc2d22;
}

.span-total-with-discount {
    color: #dc2d22;
}

.span-total-with-discount b:not('.new-price') {
    color: #000;
}

.mesto-item-list .mesto-title b {
    color: #000;
    border-bottom: 1px dotted #000;
}

.mesto-item-list .mesto-title:after {
    content: '';
    display: inline-block;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 6px 5px 0 5px;
    border-color: #959595 transparent transparent transparent;
}

.mesto-item-list.active .mesto-title:after {
    border-width: 0 5px 6px 5px;
    border-color: transparent transparent #fff transparent;
    margin-left: 5px;
}

.mesto-item-list.active .new-price {
    color: #ffa49e;
}

.badge {
  display: inline-block;
  min-width: 10px;
  padding: 5px 8px;
  font-size: 12px;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: #dc2d21;
  border-radius: 10px;
}

.text-danger {
  color: #dc2d21;
  font-weight:bold;
  font-size:18px;
}


