.table-wrapper {
    margin-bottom: 65px;
}

.tables__table {
    border-collapse: collapse;
    border-bottom: 2px solid #D2D2D2;
}

.tables__table th {
    padding: 17px;
    font-size: 12px;
    font-weight: normal;
    text-align: center;
    color: #fff;
    background-color: #1E547A;
}

.tables__table th:first-child,
.tables__table td:first-child {
    width: 250px
}

.tables__table--red th:first-child {
    background-color: #DB2D22;
}

.tables__table--green th:first-child {
    background-color: #00A908;
}

.tables__table--yellow th:first-child {
    background-color: #FFD727;
}

.tables__table--blue th:first-child {
    background-color: #27A4FF;
}

.tables__table--pink th:first-child {
    background-color: #EA1353;
}

.tables__bold {
    display: block;
    font-weight: bold;
    font-size: 20px;
}

.tables__table td {
    min-width: 110px;
    padding: 13px 15px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    border: 2px solid #D2D2D2;
    border-bottom: none;
    border-top: none;
}

.tables__table td:first-child {
    padding-left: 45px;
    text-align: left;

}

.tables__table tr:last-child td:first-child {
    border-bottom:2px solid #D2D2D2;
}
.red {
    color: #DB2D22;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: stretch;
    margin: 0 -15px;
}

.grid__item {
    width: 33.3333%;
    padding: 0 15px;
    margin-bottom: 30px;
}

.tables__table-small {
    max-width: 370px;
    width: 100%;
    height: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border-bottom: 2px solid #D2D2D2;
}

.tables__table-small td {
    width: 122px;
    padding: 15px 5px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    border-left: 2px solid #D2D2D2;
    border-right: 2px solid #D2D2D2;
}

.tables__table-small th {
    padding: 23px 35px;
    text-align: center;
    white-space: nowrap;
    color: #fff;
    background-color: #1E547A;
}

.tables__table-small td:first-child {
    width: 117px;
    padding: 10px 7px;
    font-weight: normal;
    font-size: 12px;
    text-align: left;
    color: #1E547A;
}
