.banner-50 {
    margin-top: -15px;
    padding-bottom: 25px;
}
.new-calc__delete svg path {fill:#a8a8a8!important}
.new-calc__delete svg circle {stroke:#a8a8a8!important}
.new-service {
    display: block;
}

.new-service__heading {
    margin-bottom: 30px;
    text-transform: initial;
    font-weight: bold;
}
.new-service__intro-picture {
    width: 100%;
    height: auto;
    object-fit: cover;
    margin-bottom: 30px;
}
.new-service__intro-num {
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: bold;
    line-height: 1;
    color: #dd4034;
}
.new-service__intro-text {
    font-weight: bold;
}
.new-service__subheading {
    margin-bottom: 15px;
    font-weight: bold;
    text-transform: uppercase;
    line-height: 1.3;
    color: #34547a;
}
.new-service__content {
    margin-bottom: 30px;
}
.new-service-info__label {
    margin-bottom: 10px;
    color: #a0a0a0;
    font-size: 14px;
    line-height: 1;
}
.new-service-info__block {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 30px;
}

.new-service-info__block:last-child {
    margin-bottom: 0;
}

.new-service-info__column {
    width: 50%;
}
.new-service__intro-text {
    margin-bottom: 0;
}
.new-service-info__text {
    margin-bottom: 0;
}
.new-services-problems__icon {
    width: 80px;
    height: 80px;
    margin-bottom: 20px;
    background-position: center;
    background-repeat: no-repeat;
}
.new-services-problems__subtitle {
    margin-bottom: 15px;
    font-weight: bold;
}
.new-services-problems__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 1px solid #f5d94e;
}
.new-services-problems__item:first-child .new-services-problems__icon {
    background-image: url(../img/new-service-icon1.png);
}
.new-services-problems__item:nth-child(2) .new-services-problems__icon{
    background-image: url(../img/new-service-icon2.png);
}
.new-services-problems__item:last-child .new-services-problems__icon{
    background-image: url(../img/new-service-icon3.png);
}
.new-service-steps__num {
    margin-bottom: 5px;
    font-weight: bold;
    font-size: 30px;
    line-height: 1;
    color: #34547a;
}

.new-service-steps__big-list {
    margin-bottom: 0;
    padding: 20px 0 0 0;
    list-style: none;
    counter-reset: steps;
}
.new-service-steps__subtitle {
    display: flex;
    align-items: center;
    margin: 0;
    font-weight: bold;
    text-transform: initial;
}
.new-service-steps__subtitle br {
    display: none;
}
.new-service-steps__subtitle::before {
    counter-increment: steps;
    content: counter(steps);
    margin-right: 10px;
    font-weight: bold;
    font-size: 40px;
    line-height: 1;
    color: #e5c994;
}
.new-service-steps__big-list ul {
    padding: 0;
    list-style: none;
}
.new-service-steps__big-list ul li {
    margin-bottom: 10px;
}
.new-service-steps__big-list ul p {
    margin-bottom: 0
}

.new-service-steps__big-list ul p:last-child {
    color: #a0a0a0;
}
.table-wrapper {
    width: 100%;
    overflow: auto;
}
.seo-table {
    width: 100%;
    min-width: 720px;
}

.seo-table thead tr:first-child {
    font-weight: bold;
    text-transform: uppercase;
}

.seo-table td {
    width: 19%;
    text-align: center;
    padding: 15px 0;
}

.seo-table tbody td {
    background-color: #f7f7f7;
    border: 8px solid #fff;
}

.seo-table tbody td:first-child {
    width: 24%;
    padding-right: 30px;
    text-align: left;
    background-color: #fff;
    font-weight: bold;
}

.new-service-diagram__columns {
    border-bottom: 1px solid #cecece;
}

.new-service-diagram {
    padding: 30px;
    margin-bottom: 30px;
    text-align: center;
    border: 2px solid #faedac
}
.new-service-diagram__num {
    font-size: 30px;
    font-weight: bold;
    color: #dd4034;
}

.new-service-diagram__columns {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    min-height: 300px;
    margin-bottom: 20px;
}

.new-service-diagram__column div {
    width: 80px;
    transition: height 0.25s ease-in;

}

.new-service-diagram__column--before {
    margin-right: 25px;
}

.new-service-diagram__column--before div {
    background-color: #c6c6c6;
}

.new-service-diagram__column--after div {
    background-color: #34547a;
}

.new-service-diagram__info p {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.4;
}
.marketing-table {
    width: 100%;
    min-width: 720px;
}

.marketing-table tr {
    font-weight: bold;
    background-color: #f7f7f7;
}
.marketing-table tr:first-child {
    font-weight: initial;
    background-color: #fff;
}

.marketing-table td {
    width: calc(100% / 6);
    padding: 15px 10px;
    min-height: 60px;
    text-align: center;
    border-bottom: 6px solid #fff;
}
.new-service__graph--desktop {
    display: none;
}
.new-service__graph {
    position: relative;
    overflow: hidden;
}

.new-service__graph-layout {
    position: relative;
    z-index: 6;
    background-position: left bottom;
    background-repeat: no-repeat;
    background-size: contain;

}
.new-service__graph--type1 .new-service__graph-layout {
    height: 390px;
    background-image: url(../img/graph-bg.png);
}

.new-service__graph--type2 .new-service__graph-layout {
    height: 500px;
    background-image: url(../img/graph-type-2_bg.png);
}
.scale-type2 {
    z-index: 3;
    position: absolute;
    bottom: 13px;
    left: 20px;
    width: 100%;
}
.new-service__graph-moving-layout {
    z-index: 5;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.graph-1,
.graph-3{
    width: 50%;
}
.graph-1 {
    z-index: 3;
    position: absolute;
    bottom: 17px;
    left: 20px;
    width: calc(51% + 5px);
}

.graph-3 {
    z-index: 1;
    position: absolute;
    bottom: 17px;
    left: 51%;
    width: 49%;
}

.scale-type2 {
    position: absolute;
    z-index: 3;
    left: 20px;
    bottom: 13px;
    width: 100%;
    height: 460px;
}

.graph-logo {
    z-index: 7;
    position: absolute;
    transform: translateX(-50%);
}
.new-service__graph--type1 .graph-logo {
    left: calc(53% + 3px);
    bottom: 77px;

}

.new-service__graph--type2 .graph-logo {
    left: calc(32% + 9px);
    bottom: 108px;
}

.divider {
    z-index: 7;
    position: absolute;
    width: 2px;
    height: 80px;
    margin-left: 1px;
    background-color: #f5d94e;
}

.new-service__graph--type1 .divider {
    bottom: 77px;
    left: 53%;
}

.new-service__graph--type2 .divider {
    bottom: 108px;
    left: calc(32% + 6px);
}


@media screen and (min-width: 400px) {
    .new-service__intro-info {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -15px;
    }

    .new-service__intro-block {
        width: 50%;
        padding: 0 15px;
    }

}


@media screen and (min-width: 768px) {


    .new-service__intro-num {
        font-size: 40px;
    }

    .new-service-info__block {
        justify-content: flex-start;
    }

    .new-service-info__column {
        width: initial;
        margin-right: 120px;
    }
    .new-service-info__column:last-child {
        margin-right: 0;
    }

    .new-service__subheading {
        margin-bottom: 25px;
    }
    .new-service__content {
        margin-bottom: 45px;
    }
    .new-services-problems__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
    .new-services-problems__item {
        width: calc(45%);
        margin-right: 5%;
        min-height: 375px;
    }
    .new-service-steps__subtitle::before {
        font-size: 60px;
    }
}

@media screen and (min-width: 1024px) {
    .new-service-steps__big-list > li{
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
    }
    .new-service-steps__big-list-left {
        width: 75%;
        padding-right: 60px;
    }

    .new-service-steps__big-list-right {
        width: 25%;
        padding-top: 70px;
    }
    .new-service-steps__text {
        margin-bottom: 60px;
    }
    .new-service-steps__text:last-child {
        margin-bottom: 0;
    }
    .new-service__heading {
        margin-bottom: 60px;
    }

    .new-service__intro-picture {
        margin-bottom: 0;
    }

    .new-service__intro {
        margin-bottom: 55px;
    }

    .new-service__subheading {
        margin-bottom: 35px;
    }
    .new-service__content {
        margin-bottom: 55px;
    }

    .new-service__intro {
        display: flex;
    }

    .new-service__intro-info {
        flex-direction: column;
        justify-content: space-between;
        margin: 0;
    }

    .new-service__intro-block {
        width: initial;
        padding: initial;
        margin-bottom: 15px;
    }

    .new-service__intro-block:last-child {
        margin-bottom: 0;
    }

    .new-service__intro-picture {
        width: calc(75% - 90px);
        height: auto;
        margin-right: 90px;
    }

    .new-service-steps__num {
        font-size: 40px;
    }
    .table-wrapper {
        width: initial;
        overflow: initial;
    }

    .new-service-diagrams {
        display: flex;
        justify-content: space-between;
    }

    .new-service-diagram {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 48.5%;
        padding: 65px 20px;
        text-align: left;
    }


    .new-service-diagram__columns {
        padding: 0 50px;
        margin-right: 5px;
        text-align: center;
    }


    .new-service-diagram__num {
        font-size: 40px;
    }
}

@media screen and (min-width: 1200px) {

    .new-service__graph--desktop {
        display: block;
    }

    .new-service__graph--mobile {
        display: none;
    }
    .new-service__intro-picture {
        width: 775px;
        height: 325px;
        margin-right: 135px;
    }

    .new-service__intro-num {
        font-size: 56px;
    }
    .new-service__intro-text {
        line-height: 1.4;

    }

    .new-service__intro-block {
        margin-bottom: 40px;
    }

    .new-services-problems__item {
        width: calc(30%);
        margin-right: 3.33333%;
        padding: 30px 20px;
    }
    .new-service-steps__left {
        width: 77%;
        padding-right: 120px;
    }
    .new-service-steps__right {
        width: 23%;
    }
    .new-service-steps__num {
        font-size: 56px;
    }

    .new-service-steps__subtitle {
        margin-bottom: -15px;
        line-height: 1.4;
    }
    .new-service-steps__subtitle br {
        display: block;
    }
    .new-service-steps__subtitle::before {
        margin-right: 25px;
        font-size: 120px;
    }

    .new-service-diagram__num {
        font-size: 56px;
    }

    .new-service-diagram__column div {
        width: 100px;
    }

}

.new-service-examples .row {
    display: flex;
    flex-wrap: wrap;
}

.new-service-examples .primeru-rabot {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 30px;
}

.new-service-examples .primeru-rabot:last-child {
    margin-bottom: 0;
}

.new-service-examples .primeru-rabot:last-child .primeru-video-item {
    min-height: auto;
}

.section {
    margin-bottom: 45px;
}
@media screen and (min-width: 768px) {
    .section {
        margin-bottom: 90px;
    }
    .new-service-examples .primeru-rabot {
        margin-bottom: 50px;
        padding-bottom: 25px;
    }
}

@media screen and (min-width: 1200px) {
    .section {
        margin-bottom: 120px;
    }
}



.tiles {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    padding-left: 3px;
}


.tiles__item {
    position: relative;
    width: 33.33333%;
    border: 3px solid #34547A;
    margin-left: -3px;
    margin-bottom: -3px;
    overflow: hidden;
    transition: background-color 0.25s ease-in;
}

.tiles__item::before {
    content: '';
    position: relative;
    display: block;
    width: 100%;
    padding-top: 85%;
}

.tiles__item::after {
    content: '';
    position: absolute;
    z-index: 1;
    top: 20%;
    left: 45%;
    display: block;
    width: 100%;
    height: 200%;
    border-radius: 100%;
    background-color: rgba(244, 213, 63, 0.5);
    transform: translateX(100%);
    transition: transform 0.5s ease-in;
    transform-origin: center;
}

.tiles__layout {
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    padding: 100px 25px 40px 40px;
    transition: transform 0.4s ease-in;
}
.tiles__item:hover {
    background-color: rgba(244, 213, 63, 0.2);
}
.tiles__item:hover::after {
    transform: translateX(0);
}

.tiles__item:hover .tiles__layout {
    transform: translateY(-130px);
}

.tiles__icon {
    display: flex;
    align-items: flex-end;
    min-height: 60px;
    margin-bottom: 30px;
}

.tiles__item:hover .tiles__description {
    visibility: visible;
    opacity: 1;
}

.tiles__item h4 {
    margin-bottom: 20px;
    margin-top: 0;
    font-weight: bold;
    font-size: 22px;
    color: #34547A;
}

.tiles__description {
    height: 140px;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.3;
    visibility: hidden;
    opacity: 0;
    overflow: hidden;
    transition: visibility 0.25s ease-in, opacity 0.25s ease-in;
}

.intro-text {margin-bottom: 20px}
.new-form h2,
.new-subtitle,
.new-service-examples h2 {
    margin-bottom: 20px;
    margin-top: 0;
    font-size: 22px;
    font-weight: bold;
    text-transform: none;
}
.new-form__intro {
    width: 100%;
    margin-bottom: 20px;
}

.new-form form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.new-form__input-group {
    position: relative;
    width: calc(50% - 15px);
    margin-bottom: 10px;
}

.new-form__input-group--big {
    width: 100%;
}

.new-form__input-group textarea {
    min-height: 150px;
    resize: none;
}

.new-form.section,
.tiles.section {
    margin-bottom: 0;
}

.new-calc::after {
    content: '';
    display: block;
    clear: both;
}

.table-wrapper {
    margin-bottom: 30px;
}

.new-form__input-group:last-child {
    display: flex;
    align-items: center;
    margin-bottom: none;
}
.new-section__text:last-child {
    margin-bottom: 0;
}
@media screen and (min-width: 320px) and (max-width: 427px) {
    .new-service-examples audio::-webkit-media-controls-mute-button {visibility: hidden;};
}
@media screen and (min-width: 768px) {
    .new-form__intro {
        width: 65%;
    }
    .intro-text, .new-form__intro {margin-bottom: 40px}

    .new-form h2,
    .new-subtitle,
    .new-service-examples h2 {
        margin-bottom: 40px;
        font-size: 34px;
    }
    .new-form__input-group {
        margin-bottom: 25px;
    }
    .new-section__text:last-child {
        margin-bottom: 0;
    }
}
@media screen and (min-width: 1200px) {
    .intro-text, .new-form__intro {margin-bottom: 80px}
}

.new-form__policy {
    width: 380px;
    max-width: 100%;
    margin: 0 0 0 45px;
    font-size: 14px;
    line-height: 1.3;
    color: #a8a8a8;
}

.new-form input,
.new-form textarea {
    display: block;
    width: 100%;
    padding: 15px 30px;
    border: 2px solid #C2C2C2;
}
.new-form input {height: 60px;}


.new-form input:focus,
.new-form textarea:focus{
    border: 2px solid #F4D53F!important
}

.new-form__error {
    display: block;
    margin-top: 5px;
    font-size: 16px;
    color: #CB3E2F;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s ease-in, opacity 0.25s ease-in;
}

.new-form input::-webkit-input-placeholder,
.new-form textarea::-webkit-input-placeholder {
    color: transparent;
}
.new-form input:-moz-placeholder,
.new-form textarea:-moz-placeholder {
    color: transparent;
}
.new-form input::-moz-placeholder,
.new-form textarea::-moz-placeholder {
    color: transparent;
}
.new-form input::-ms-input-placeholder,
.new-form textarea::-ms-input-placeholder {
    color: transparent;
}
.new-form label {
    position: absolute;
    top: 25px;
    left: 22px;
    padding: 5px 10px;
    white-space: nowrap;
    transform: translateY(-10px);
    transition: all 0.15s ease-out;
    pointer-events: none;
}
.new-form input:not(:placeholder-shown) + label,
.new-form textarea:not(:placeholder-shown) + label{
    left: 30px;
    transform: translateY(-40px);
    background-color: #fff;
    font-size: 14px;
}

.new-form__input-group--invalid .new-form__error {
    visibility: visible;
    opacity: 1;
}

.new-form__input-group--invalid input,
.new-form__input-group--invalid textarea {
    border-color: #CB3E2F;
}

.new-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 310px;
    max-width: 100%;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    background-color: #F4D53F;

}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    box-shadow: 0 0 0 50px white inset;
}

.kanal-block__select {
    margin-bottom: 60px;
}
.new-calc table .kanal-block__select {
    margin: 0;
}

.new-calc table .cust-select {
    display: inline-block;
    width: 105px;
    margin: 0;
}

.new-calc table .cust-select select {
    display: inline-block;
    height: auto;
    border: 1px solid transparent;
}

.kanal-block__text {
    width: 65%;
    margin: 0 0 20px 0;
    font-size: 20px;
    line-height: 1.4;
}

.kanal-block__text:last-of-type {
    margin-bottom: 80px;
}

.kanal-block__text span {
    font-weight: bold;
    color:#34547A;
}

.new-all-canals__table {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
}
.new-all-canals__cell {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    flex: 0 1 380px;
    padding: 30px;
    margin-left: -1px;
    margin-bottom: -1px;
    text-align: center;
    border: 1px solid #d2d2d2
}

.new-all-canals__cell--active {
    position: relative;
    z-index: 1;
    border-color: #F4D53F;
    color: #F4D53F;
}

.new-all-canals__cell img {
    display: inline-block;
    width: auto;
    max-width: 100%;
    height: auto;
    line-height: 1;
    margin-bottom: 40px;
}
.new-all-canals__cell {
    cursor: pointer;
}
.new-all-canals__cell p {
    width: 100%;
    margin-bottom: 0;
    text-align: left;
}

.new-all-canals__cell .new-custom-checkbox {
    padding-top: 20px;
    align-self: flex-start;

}

.new-all-canals__cell input[type=checkbox] {
    display: none;
}

.new-all-canals__cell input[type=checkbox]:checked + label {
    border-color: #F4D53F;
    color: #F4D53F;
}

.cust-select-wrapper  {
    display: flex;
    align-items: center;
}

.cust-select-wrapper .cust-select {
    margin: 0;
}

.cust-select-wrapper  .help-block-error {
    margin-bottom: 0;
}

.cust-select-label {
    margin: 0 0 10px 0;
    color: #a8a8a8;
    font-size: 20px;
    line-height: 1;
}

.cust-select-notice {
    display: flex;
    align-items: center;
    margin-left: 50px;
}

.cust-select-notice svg {
    margin-right: 20px;
}

.cust-select-notice p {
    margin: 0;
    line-height: 1.2;
}

.cust-select-notice span {
    font-weight: bold;
    color:#34547A;
}

.kanal-block__select .cust-select select {
    min-height: 60px;
    border: 1px solid #C2C2C2;
    background-color: #fff;
    border-radius: 0;
    line-height: normal;
    font-size: 18px;
    padding: 15px 30px;
    outline: none;
    width: 100%;
    -webkit-appearance: none;
    cursor: pointer;
}

.kanal-block__select .cust-select:after {
    pointer-events: none;
    content: '';
    background-image: url(../img/select-up.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 8px;
    z-index: 3;
    position: absolute;
    top: 22px;
    right: 10px;
}

.kanal-block__select .cust-select:before {
    pointer-events: none;
    content: '';
    background-image: url(../img/select-down.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 15px;
    height: 8px;
    z-index: 3;
    position: absolute;
    top: 34px;
    right: 10px;
}
.custom-input-num {
    position: relative;
    display: inline-block;
    width: 90px;
}
.custom-input-num input {
    display: block;
    width: 100%;
    height: 50px;
    padding: 15px 30px 15px 15px;
    border-color: transparent;
}
.custom-input-num input::-webkit-outer-spin-button,
.custom-input-num input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.custom-input-num input{
    -moz-appearance: textfield;
}
.custom-input-num__incr,
.custom-input-num__decr {
    position: absolute;
    right: 15px;
    width: 20px;
    height: 16px;
    background-size: 15px 8px;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    background-color: transparent;
}
.custom-input-num__incr:hover,
.custom-input-num__decr:hover {
    opacity: 0.7;
}
.custom-input-num__incr {
    top: 10px;
    background-image: url(../img/select-up.svg);
}
.custom-input-num__decr {
    top: 25px;
    background-image: url(../img/select-down.svg);
}
.new-calc__old-price {
    margin: 0 0 8px 0;
    line-height: 1;
}
.new-calc__old-price small {
    font-size: 14px;
    font-weight: bold;
    color: #121212;
    text-decoration: line-through;
    opacity: 0.5;
}

.new-calc__price {
    margin: 0 0 5px 0;
    line-height: 1;
}

.new-calc__price strong {
    font-size: 20px;
    font-weight: bold;
    color: #34547A;
}

.new-calc__text {
    margin: 0 0 10px 0;
    font-size: 12px;
    line-height: 1;
}

.new-calc__delete {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    color: #a8a8a8;
    background-color: transparent;
    border: 0;
}

.new-calc__delete svg {
    margin-left: 15px;
}

.new-calc table {
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid #E5E5E5;
}

.new-calc table thead {
    font-size: 16px;
    font-weight: bold;
    color: #34547A;
}
.new-calc td {
    padding: 15px 0;
}
.new-calc thead td {
    min-height: 80px;
    vertical-align: top;
    border: 1px solid #E5E5E5;
}

.new-calc table tbody {
    font-size: 18px;
    font-weight: bold;
}

.new-calc table tbody tr {
    border-bottom: 1px solid #E5E5E5;
}
.new-calc__conclusion {
    color: #fff;
    background-color: #34547A;
    border-bottom: none;
}

.new-calc .disabled {
    opacity: 0.5;
    pointer-events: none;
}

.disabled .new-calc__conclusion td {
    height: 80px;
}

.new-calc table tbody tr:last-child .new-calc__old-price small,
.new-calc table tbody tr:last-child .new-calc__price strong {
    color: #fff;
}



.marketing-choose {
    display: flex;
}
.marketing-choose__item input {
    display: none;
}
.new-custom-checkbox {
    display: flex;
    align-items: center;
    cursor: pointer;
}
.new-custom-checkbox::before {
    content: '';
    display: block;
    width: 17px;
    height: 17px;
    margin-right: 10px;
    background-image: url(../img/uncheck.svg);
    background-size: contain;
    background-position: center;
}
.new-custom-checkbox:hover {opacity: 0.75}
.new-custom-checkbox p {
    margin-bottom: 0;
    font-size: 14px;
    line-height: 1;
    font-weight: normal;
    color: #a8a8a8;
}
.new-custom-checkbox p:last-child {display: none}
input:checked + .new-custom-checkbox p {color: #347A3F}
input:checked + .new-custom-checkbox p:first-child {display: none}
input:checked + .new-custom-checkbox p:last-child {display: block}
input:checked + .new-custom-checkbox::before {
    background-image: url(../img/checkmark.svg);
}

.marketing-choose__item {
    position: relative;
    flex: 0 1 390px;
    min-height: 145px;
    padding: 40px 55px 30px 30px;
    margin-left: -1px;
    border: 1px solid #C2C2C2;
    cursor: pointer;
    overflow: hidden;
}

.marketing-choose__item::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: 1;
    width: 100%;
    height: 30px;
    background-color: #fff;
}


.marketing-choose__item h3 {
    margin: 0 0 25px 35px;
    font-weight: bold;
    text-transform: none;
    font-size: 22px;
    color: #34547A;
    line-height: 1.2;
    transition: margin 0.25s ease-in;
}

.marketing-choose__hidden-text {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.25s ease-in, opacity 0.25s ease-in;
}

.marketing-choose__icon {
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer;
}
.marketing-choose__icon:hover {
    opacity: 0.7;
}

.marketing-choose__item--active {
    z-index: 1;
    border-color: #F4D53F;
}

.marketing-choose__item--active p {
    position: relative;
    visibility: visible;
    opacity: 1;
}



.marketing-choose__item--active h3 {
    margin: 0 0 25px 50px;
}


.marketing-choose__item  svg:first-child {
    display: block;
}

.marketing-choose__item  svg:last-child {
    display: none;
}

.marketing-choose__item--active  svg:first-child {
    display: none;
}

.marketing-choose__item--active  svg:last-child {
    display: block;
}

.marketing-choose span {
    position: absolute;
    top: 45px;
    left: 30px;
    width: 15px;
    height: 15px;
    background-color: #34547A;
    border-radius: 2px;
    transition: background-color 0.25s ease-in, transform 0.25s ease-in;
}
.marketing-choose__item--active span {
    background-color: #F4D53F;
}

.marketing-choose__item--active span:first-of-type {
    transform: translate(0, -15px);
}
.marketing-choose__item--active span:nth-of-type(2) {
    transform: translateX(15px);
}
.marketing-choose__item--active span:last-of-type {
    transform: translate(0, 15px);
}
.bay-now {margin-bottom: 20px;}
a[data-target="#feedback-form"] {margin-bottom: 30px;}

@media screen and (max-width: 1199px) {
    .tiles__item h4 {
        font-size: 19px;
        line-height: 1.4;
    }
    .tiles__item::after {
        display: none;
    }
    .tiles__item:hover .tiles__layout {
        transform: none;
    }
    .tiles__item:hover::after {
        transform:none;
    }

    .tiles__item {
        height: auto;
        background-color: rgba(244, 213, 63, 0.2);
    }
    .tiles__item::before {
        display: none;
    }
    .tiles__layout {
        position: relative;
        top: auto;
        bottom: auto;
        left: auto;
        z-index: 2;
        padding: 20px 15px;
    }
    .tiles__description {
        height: auto;
        visibility: visible;
        opacity: 1;
        overflow: visible;
    }
    .tiles__description {
        font-size: 16px;
    }
}

@media screen and (max-width: 991px) {
    .tiles__item {width: 50%;}

    .table-wrapper {
        width: 100%;
        overflow: auto;
    }
    .new-calc table {
        min-width: 768px;
    }
    .marketing-choose {
        flex-wrap: wrap;
    }
    .marketing-choose__item {
        width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .container {min-width: auto}
    .tiles {padding: 0}
    .tiles__item {width: 100%;margin-left: 0}
    .new-form__input-group {
        width: 100%;
    }
    .new-form__input-group:last-child {
        display: block;
        text-align: center;
    }
    .new-form__submit {
        display: inline-flex;
    }
    .new-form__policy {
        margin-top: 15px;
        margin-left: 0;
    }
    .new-form__intro {
        margin-bottom: 40px;
    }

    .marketing-choose__item {
        width: 100%;
        padding: 30px 15px
    }
    .marketing-choose__item h3 {
        font-size: 18px;
        margin-bottom: 40px;
        transform: translateY(13px);
    }


    .marketing-choose__icon {
        top: 10px;
        right: 10px;
        width: 25px;
        height: 25px;
    }
    .marketing-choose__icon svg {
        display: block;
        width: 25px;
        height: 25px;
    }
    .cust-select-wrapper {
        flex-wrap: wrap;
    }
    .cust-select-notice {
        width: 100%;
        margin: 20px 0 0 0;
    }
    .kanal-block__text {
        width: 100%;
        font-size: 16px;
    }
    .kanal-block__select {
        margin-bottom: 30px;
    }
    .new-all-canals__cell {
        width: 100%;
        max-width: 390px;
        margin-left: auto;
        margin-right: auto;
    }
}
.cust-preloader {
    width:42px;
    height:42px;
    position:absolute;
    left:50%;
    top:50%;
    margin-left:-21px;
    margin-top:-21px;
    z-index:10;
    transform-origin:50%;
    animation:cust-preloader-spin 1s infinite linear;
    box-sizing:border-box;
    border:4px solid #34547A;
    border-radius:50%;border-top-color:transparent}
@keyframes cust-preloader-spin{100%{transform:rotate(360deg)}}
