@media (min-width: 751px) and (max-width: 815px) {
    .manager-block {
        padding-right: 50px;
    }
}

@media (min-width: 816px) and (max-width: 879px) {
    .manager-block {
        padding-right: 75px;
    }

    .form-block input,
    .form-block textarea {
        width: 380px;
    }
}

@media (min-width: 880px) and (max-width: 991px) {
    .form-block input,
    .form-block textarea {
        width: 410px;
    }
}

@media (min-width: 751px) and (max-width: 991px) {
    .hidden-xs {
        display: inline-block !important;
    }

    .hidden-sm {
        display: none !important;
    }

    .content-header-menu li:nth-child(3) {
        margin-right: 9% !important;
    }

    #userticker-channels > div:nth-child(4n) .hint-label {
        left: -180px;
    }
}

@media (min-width: 751px) {
    body {
        font-size: 16px;
    }

    .col-sm-1-1 {
        width: 11.11111112%;
        float: left;
        display: inline-block;
        min-width: 74.65px;
    }

    .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8,
    .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
        float: left;
    }

    .col-sm-12 {
        width: 100%;
    }

    .col-sm-11 {
        width: 91.66666667%;
    }

    .col-sm-10 {
        width: 83.33333333%;
    }

    .col-sm-9 {
        width: 75%;
    }

    .col-sm-8 {
        width: 66.66666667%;
    }

    .col-sm-7 {
        width: 58.33333333%;
    }

    .col-sm-6 {
        width: 50%;
    }

    .col-sm-5 {
        width: 41.66666667%;
    }

    .col-sm-4 {
        width: 33.33333333%;
    }

    .col-sm-3 {
        width: 25%;
    }

    .col-sm-2 {
        width: 16.66666667%;
    }

    .col-sm-2-5 {
        width: 20%;
    }

    .col-sm-1 {
        width: 8.33333333%;
    }

    body {

    }

    a {

    }

    b {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    td {
        font-size: 16px;
    }

    h1, .h1 {
        font-size: 30px;
    }

    h2, .h2 {
        font-size: 18px;
    }

    h3, .h3 {
        font-size: 16px;
    }

    ol {

    }

    ol li {

    }

    ol li ul {

    }

    ul {

    }

    ul li {

    }

    ul li ul {

    }

    .container {
        max-width: 768px;
    }

    .navbar-header,
    .navbar-toggle {
        display: inline-block;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

    .navbar-collapse.collapse.in {
        display: block !important;
    }

    .black-main-menu .navbar-default .collapse.in#top-menu,
    .black-main-menu .navbar-default .collapsing#top-menu {
        background-position: -500px -282px;
    }

    .mob-logo img {
        min-width: 145px;
        width: 145px;
        margin-top: 20px;
    }

    .mob-tel-portf-block .mob-portf img,
    .mob-tel-portf-block .mob-tel img {
        height: 25px;
    }

    .mob-tel-portf-block,
    .mob-menu-button-block {
        height: 55px;
    }

    .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(1),
    .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(2),
    .navbar-default .navbar-toggle.collapsed .icon-bar:nth-child(3),
    .navbar-default .navbar-toggle .icon-bar:nth-child(1),
    .navbar-default .navbar-toggle .icon-bar:nth-child(2),
    .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
        width: 30px;
        height: 3px;
    }

    .navbar-default .navbar-toggle .icon-bar:nth-child(1),
    .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
        width: 34px;
    }

    .navbar-default .navbar-toggle .icon-bar:nth-child(3) {
        margin-top: -11px;
    }

    .black-main-menu .navbar-default #top-menu ul:first-child {
        padding: 18px 0 0;
    }

    .black-main-menu .navbar-default #top-menu ul:nth-child(2) {
        padding: 35px 0 15px;
    }

    .black-main-menu .navbar-default #top-menu ul li a {
        font-size: 18px;
        padding-top: 22px;
        padding-bottom: 22px;
    }

    #top-menu .callus {
        padding: 10px 15px;
        bottom: 0;
        right: 0;
    }

    #top-menu .callus .callus-box:nth-child(2) {
        text-align: center;
    }

    #top-menu .callus .callus-box:nth-child(2) p:before {
        content: '';
        width: 35px;
        height: 35px;
        vertical-align: top;
        position: initial;
        margin-right: 10px;
    }

    #top-menu .callus img {
        height: 35px;
    }

    #top-menu .callus .callus-box p {
        margin-left: 0;
        font-size: 24px;
    }

    #top-menu .callus .callus-box span {
        font-size: 36px;
    }

    #top-menu .callus .callus-box a {
        font-size: 18px;
        margin-left: 0;
        line-height: 1.1;
        display: inline-block;
        margin-top: 10px;
        float: right;
    }

    .main-h1 {
        font-size: 48px;
        line-height: 1.1;
        margin-bottom: 20px;
    }

    .content-container,
    .about-container {
        padding: 48px 0 15px;
    }

    .content-header .info-text {
        font-size: 18px;
        line-height: 1.8;
    }

    .content-block {
        margin-top: 35px;
    }

    .content-item .item-title {
        font-size: 16px;
        margin-top: 10px;
    }

    .content-item {
        margin-bottom: 38px;
    }

    .content-item img {
        width: 122px;
    }

    .main-h2 {
        font-size: 30px;
        margin-bottom: 18px;
    }

    .about-container p {
        font-size: 16px;
        margin-bottom: 35px;
    }

    .about-block {
        padding: 35px 15px 25px;
        margin-bottom: 15px;
        min-height: 220px;
    }

    .about-block .about-block-top .left-box {
        font-size: 60px;
        width: 48%;
    }

    .about-block .about-block-top .right-box {
        font-size: 18px;
        line-height: 1.7;
        width: 52%;
        margin-bottom: 20px;
    }

    .about-block .about-block-top .left-box span {
        font-size: 37px;
    }

    .about-block .about-block-bottom a {
        font-size: 16px;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(even) {
        padding-right: 8px;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(odd) {
        padding-left: 8px;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(odd) .left-box {
        width: 33%;
    }

    .about-container .col-lg-6.col-md-6.col-sm-6.col-xs-12:nth-child(odd) .right-box {
        width: 50%;
    }

    .about-container .yellow-btn {
        font-size: 18px;
        padding: 30px 90px;
        width: 350px;
    }

    .klientu-container {
        padding: 45px 0 40px;
    }

    .link-all-item {
        font-size: 18px;
        -webkit-transition: all 0.2s linear;
        -moz-transition: all 0.2s linear;
        -o-transition: all 0.2s linear;
        -ms-transition: all 0.2s linear;
        transition: all 0.2s linear;
    }

    .link-all-item:hover {
        color: #dc2d22;
        border-bottom-color: transparent;
    }

    .klientu-container .main-h1 {
        font-size: 30px;
        font-weight: bold;
        margin-bottom: 25px;
    }

    .klientu-container .item-img {
        min-height: 50px;
        margin-bottom: 25px;
        display: flex;
        display: -webkit-flex;
    }

    .klientu-container .item-img img {
        max-height: 50px;
        max-width: 145px;
        margin: auto;
    }

    .klientu-block {
        margin-bottom: 18px;
    }

    .form-block .main-h2 {
        white-space: normal;
        line-height: 1;
        margin-bottom: 15px;
    }

    .form-block {
        padding: 25px 0 20px 30px;
    }

    .form-block input,
    .form-block textarea {
        font-size: 16px;
        width: 320px;
        display: block;
    }

    .form-block input.yellow-btn {
        width: 190px;
    }

    .form-bg {
        height: 500px;
    }

    .manager-block {
        padding: 30px 50px 0 0;
        height: 510px;
    }

    .manager-block b {
        font-family: 'GothamProMedium';
        font-size: 13px;
        display: block;
    }

    .manager-block em {
        font-family: 'GothamProItalic';
        font-size: 13px;
        margin-bottom: 15px;
        display: block;
    }

    .manager-block p {
        font-size: 13px;
    }

    .manager-img {
        position: absolute;
        right: -85px;
        /*bottom: 25px;*/
        bottom: 10px;
        min-width: 510px;
        width: auto;
        max-width: 100%;
        display: block;
        height: auto;
    }

    .callus {
        padding: 19px 15px 19px 35px;
        width: 310px;
        float: right;
        bottom: 102px;
    }

    .form-main-container {
        border-bottom: 0;
        padding-bottom: 40px;
    }

    .footer-menu-container ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 100%;
        width: 100%;
    }

    .footer-menu-container ul li {
        display: inline-block;
    }

    .footer-menu-container ul li a {
        text-decoration: none;
        color: #fff;
        font-size: 15px;
        font-family: 'GothamProMedium';
        padding: 5px 0;
        text-align: center;
    }

    .footer .mob-logo {
        margin-bottom: 0;
    }

    .footer-contact {
        margin-top: 13px;
    }

    .footer-contact p {
        margin-bottom: 0;
    }

    .developer {
        text-align: right;
        margin-top: 3px;
    }

    .developer span {
        margin-top: 10px;
        width: 80px;
    }

    .developer img {
        width: 125px;
        margin: 0;
        display: inline-block;
    }

    .navbar-nav {
        margin: 0;
    }

    .footer {
        padding: 17px 0;
    }

    .footer .mob-logo {
        text-align: left;
    }

    .footer-menu-container {
        border-top: 0;
    }

    .left-kalk-box .row,
    .right-kalk-box .row {
        display: -webkit-flex; /* Safari */
        display: flex; /*отображает контейнер как блочный элемент*/
        flex-direction: row;
        min-height: auto;
    }

    .breadcrumb li a {
        font-size: 13px;
    }

    .breadcrumb li.active {
        font-size: 13px;
    }

    .tablet-container {
        padding-top: 10px;
        padding-bottom: 0;
    }

    .content-full {
        padding-bottom: 10px;
    }

    .vubor-kanala h2 {
        margin-top: 25px;
    }

    .cust-select {
        margin-top: 25px;
        width: 260px;
    }

    .kanal-all-item {
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(4n+2) {
        padding-right: 0;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(4n+3) {
        padding-left: 0;
        border-left: 0;
    }

    .checkbox-item label {
        font-size: 15px;
        height: 170px;
        padding-top: 25px;
    }

    .checkbox-item label span {
        line-height: 1.6;
    }

    .checkbox-item label span:before {
        width: 20px;
        height: 20px;
        margin-right: 12px;
    }

    .checkbox-item input[type=checkbox]:checked + label span:before {
        font-size: 25px;
    }

    .checkbox-item-img {
        margin-bottom: 15px;
    }

    .checkbox-item label:hover {
        padding: 23px 8px 7px;
    }

    .checkbox-item input[type=checkbox]:checked + label {
        padding: 23px 8px 7px;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+3) .checkbox-item label {
        border-top: 1px solid #d2d2d2;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(4n+3) .checkbox-item label {
        border-left: 1px transparent;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+5) .checkbox-item label {
        border-top: 1px transparent;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) .checkbox-item input[type=checkbox]:checked + label,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(even) .checkbox-item label:hover,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(3) .checkbox-item label:hover,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(3) .checkbox-item input[type=checkbox]:checked + label {
        padding: 23px 8px 7px 7px;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+5) .checkbox-item input[type=checkbox]:checked + label,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(n+5) .checkbox-item label:hover {
        padding: 22px 8px 7px 7px;
    }

    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(5) .checkbox-item input[type=checkbox]:checked + label,
    .kanal-all-item .col-lg-3.col-md-3.col-sm-3:nth-child(5) .checkbox-item label:hover {
        padding: 22px 8px 7px;
    }

    .vubor-kanala {
        border-top: 1px solid #e1e1e1;
    }

    .radio-item label {
        padding: 23px 16px 14px 23px;
        display: table;
        height: 100%;
        border: 1px solid #d2d2d2;
    }

    .vubor-formata:nth-child(n+2) .radio-item label {
        border-top: 1px solid #d2d2d2;
        border-left: 1px solid transparent;
        margin-left: -2px;
    }

    .radio-item label:hover,
    .radio-item input[type=radio]:checked + label,
    .radio-item input[type=radio]:checked + label:hover {
        padding: 21px 14px 12px 21px;
    }

    .vubor-formata-box {
        display: -webkit-flex;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-content: stretch;
        width: 100%;
    }

    .vubor-formata-box .vubor-formata:nth-child(1) {
        padding-right: 0;
    }

    .vubor-kanala .vubor-formata-box .vubor-formata:nth-child(2) {
        padding-left: 0;
        padding-right: 0;
    }

    .vubor-kanala .vubor-formata-box .vubor-formata:nth-child(2) {
        padding-left: 0;
    }

    .vubor-formata-box .vubor-formata:nth-child(3) {
        padding-left: 0;
        margin-left: -2px;
    }

    .radio-item {
        width: 100%;
        height: 100%;
        display: table;
    }

    .kalk-block {
        margin-bottom: 20px;
    }

    .kalk-table-list {
        margin-top: 10px;
        display: inline-block;
    }

    .basket-link-box {
        text-align: left;
        min-width: 205px;
        max-width: 215px;
    }

    .basket-link-box em {
        padding: 0;
    }

    .plan-prokata {
        padding-right: 0;
    }

    .add-basket {
        padding-left: 0;
    }

    .bay-now {
        padding-left: 0;
    }

    .kanal-block .yellow-btn,
    .basket-link {
        width: 100%;
    }

    .basket-link-box b {
        font-size: 13px;
    }

    .kanal-block .yellow-btn {
        padding: 15px 13px;
    }

    .basket-block-body {
        max-height: 395px;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .basket-block-body li {
        display: table !important;
        width: 100% !important;
        background-color: inherit !important;
        text-align: left !important;
    }

    .basket-block-header {
        font-size: 15px;
        display: inline-block;
        width: 30%;
    }

    .basket-block-body-title {
        width: 35%;
        display: table-cell;
        vertical-align: middle;
        padding-right: 15px;
    }

    .basket-block-body-count {
        width: 62%;
        display: table-cell;
        vertical-align: middle;
    }

    .basket-block-body-dell-item {
        position: relative;
        display: inline-block;
        vertical-align: middle;
        top: -2px;
    }

    #ticker-basket .basket-block-body-dell-item {
        right: 0;
    }

    .basket-block-body-dell-item a {
        background-color: inherit !important;
        display: block !important;
        padding: 0 !important;
        height: 100% !important;
        width: 100% !important;
    }

    .basket-block-body-dell-item a:before {
        content: none !important;
    }

    .basket-block-body-time {
        width: 70%;
        font-family: "GothamProItalic";
    }

    .basket-block-body-price {
        width: 30%;
        padding-right: 10px;
        display: table-cell;
        vertical-align: middle;
        text-align: left;
    }

    .basket-block-footer .basket-block-footer-price {
        float: left;
        margin-bottom: 0;
        padding-top: 12px;
        max-width: 210px;
    }

    .kak-razmestit-reklamy h2 {
        font-size: 30px;
        margin-bottom: 40px;
    }

    .kak-razmestit-reklamy {
        background: url(../img/form-bg.jpg) no-repeat;
        background-position: top center;
        background-size: cover;
    }

    .etapu-item {
        margin-bottom: 25px;
        position: relative;
    }

    .etapu-item:before {
        content: '';
        background: url(../img/yellow-arrow.png) no-repeat;
        display: inline-block;
        width: 43px;
        height: 16px;
        position: absolute;
        top: 0;
        right: 3%;
        background-size: cover;
    }

    .etapu-item-text {
        width: 70%;
    }

    .etapu-item-text .h3 {
        max-width: 140px;
    }

    .kak-razmestit-reklamy .row {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }

    .no-before .etapu-item:before {
        display: none;
    }

    .primeru-rabot {
        padding: 45px 13px 20px;
        border-bottom: 1px solid #e1e1e1;
    }

    .primeru-rabot .col-lg-4.col-md-4.col-sm-4.col-xs-6 {
        padding: 0 2px;
    }

    .primeru-rabot h2 {
        font-size: 30px;
        margin-bottom: 20px;
    }

    .primeru-video-title {
        text-align: left;
        font-size: 16px;
    }

    .content-padding {
        padding: 42px 15px 30px;
    }

    .content-padding b {
        margin: 0 0 10px;
    }

    .prichinu {
        padding-bottom: 20px;
        width: 100%;
    }

    .prichinu h2 {
        font-size: 30px;
        width: 440px;
        padding: 0;
        margin: 0 auto 20px;
        display: block;
    }

    .prichinu-item .red-title {
        font-size: 48px;
    }

    .primeru-video {
        padding-top: 0;
        padding-bottom: 79%;
    }

    .callus-right {
        padding: 17px;
    }

    .callus-right .callus-box {
        width: 465px;
    }

    .callus-right .callus-box img {
        height: 50px;
        position: static;
        float: left;
    }

    .callus-box-info {
        display: inline-block;
        width: 40%;
        vertical-align: middle;
        padding-left: 10px;
    }

    .callus-box-info p {
        display: inline-block;
        width: 100% !important;
    }

    .callus-right .callus-box b {
        margin-bottom: 0;
    }

    .callus-right .callus-box p {
        width: 45%;
        display: inline-block;
        vertical-align: bottom;
    }

    .kalk-block table td:before {
        display: none;
    }

    .kalk-block table thead {
        display: block;
        width: 100%;
    }

    .kalk-block table td,
    .kalk-block table thead th {
        width: 20%;
    }

    .kalk-block table td input {
        padding: 14px 8px;
    }

    .kalk-block table thead tr {
        border: 1px solid #d2d2d2;
        border-radius: 7px 7px 0 0;
    }

    .kalk-block table thead th {
        font-size: 13px;
        padding: 15px 10px 15px 15px;
        font-family: 'GothamProMedium';
    }

    .kalk-block table thead .footer-kalk {
        text-align: center;
    }

    .kalk-block table tr {
        display: flex;
        flex-direction: row;
        align-items: center;
        border-right: 1px solid #d2d2d2;
        border-left: 1px solid #d2d2d2;
    }

    .kalk-block table tr:last-child {
        border-bottom: 1px solid #d2d2d2;
    }

    .kalk-block table td .td {
        padding: 15px;
        border: 0;
    }

    .kalk-block table td.footer-kalk {
        text-align: center;
    }

    .kalk-block table tbody tr:first-child td:first-child .td {
        border: 0;
    }

    .kalk-block table tbody tr .header-kalk,
    .kalk-block table thead tr .header-kalk {
        width: 21%;
    }

    .seo-content p {
        font-size: 13px;
        margin-bottom: 10px;
        line-height: 1.5;
    }

    .form-advert {
        padding: 25px 15px 25px 30px;
    }

    .form-advert textarea {
        width: 100%;
        height: 200px;
    }

    .form-advert input {
        width: 195px;
        padding: 15px 10px 15px 20px;
        margin-bottom: 0;
    }

    .form-advert label {
        margin-bottom: 15px;
        width: 100%;
    }

    .form-advert label:hover {
        cursor: pointer;
    }

    .form-advert-input {
        display: inline-block;
        margin-right: 20px;
    }

    .form-advert .checkbox-no-number {
        text-align: right;
    }

    .checkbox-no-number {
        margin-top: 18px;
    }

    .no-nmber-right {
        text-align: right;
    }

    .form-advert-bottom-text {
        font-size: 16px;
        padding-top: 30px;
    }

    .form-advert .form-group:first-child {
        margin-bottom: 25px;
    }

    .content-header-menu {
        padding-top: 13px;
    }

    .content-header-menu li {
        padding-bottom: 18px;
        margin-right: 9%;
    }

    .review-content-padding {
        padding-top: 35px;
    }

    .gray-bg {
        padding-top: 40px;
    }

    .review-item-frame {
        margin-bottom: 30px;
    }

    .review-item-frame:hover {
        margin-bottom: 23px;
    }

    .review-item:nth-child(3n+1) .review-item:hover {
        margin-bottom: 24px;
    }

    .link-more-review {
        margin-top: 10px;
        font-size: 18px;
    }

    .review-content-title {
        margin-bottom: 30px;
    }

    .obyavlenie-box {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .obyavlenie-block h2 {
        margin-bottom: 15px;
    }

    .mobile-container .h3.no-uppercase {
        margin-top: 30px;
    }

    .table-block {
        margin: 20px 0 30px;
    }

    .content-box:nth-child(2n+1) {
        padding-right: 10px;
    }

    .content-box:nth-child(2n+2) {
        padding-left: 10px;
    }

    .content-box {
        margin-bottom: 20px;
    }

    .item-box-img {
        min-height: 210px;
    }

    .content-body {
        padding-top: 15px;
        padding-bottom: 30px;
    }

    .tablet-container h2.no-uppercase {
        margin-bottom: 15px;
        display: block;
        height: 50px;
        overflow: hidden;
    }

    .content-item-box p {
        font-size: 15px;
        height: 81px;
        overflow: hidden;
        line-height: 1.7;
    }

    .content-reed-more {
        margin-top: 25px;
    }

    .content-reed-more .yellow-btn {
        padding: 15px;
        width: 215px;
    }

    .filter-container {
        margin-top: 20px;
        margin-bottom: 15px;
        display: inline-block;
    }

    .filter-container .filter-btn a {
        padding: 15px;
    }

    .filter-box.polezn-inf:nth-child(2n+1) {
        padding-right: 15px;
    }

    .filter-box:nth-child(2n+2) {
        padding-left: 15px;
    }

    .town-item {
        padding: 15px 10px 15px 15px;
        margin-bottom: 30px;
    }

    .town-item p,
    .town-item b {
        font-size: 11px;
        line-height: 1.6;
    }

    .town-item-left-box {
        width: 60px;
    }

    .town-item-right-box {
        width: 75%;
        padding-left: 15px;
    }

    .padding-bottom-20 {
        padding-bottom: 10px !important;
    }

    .zakaz-town {
        margin-top: 0;
    }

    .town-container {
        padding-top: 35px;
        padding-bottom: 40px;
    }

    .table-town {
        margin-top: 25px;
        margin-bottom: 5px;
    }

    .table-town table thead tr .header-kalk {
        text-align: center;
        width: 20%;
    }

    .table-town table thead th {
        text-align: center;
    }

    .table-town table td,
    .table-town table thead th,
    .table-town table td.footer-kalk {
        width: 40%;
    }

    .table-town table tr .header-kalk .td {
        padding-left: 15px;
        border-right: 0;
    }

    .table-town b {
        font-size: 13px;
        display: inline-block;
    }

    .table-town table td .td,
    .table-town table thead th {
        border-left: 1px solid #d2d2d2;
        border-right: 1px solid #d2d2d2;
    }

    .table-town table .header-kalk .td,
    .table-town table .footer-kalk .td,
    .table-town table thead .header-kalk,
    .table-town table thead .footer-kalk {
        border-left: 0;
        border-right: 0;
    }

    .table-town table tbody tr .header-kalk,
    .table-town table thead tr .header-kalk {
        width: 20%;
    }

    .table-town table tr .footer-kalk .td {
        padding-left: 15px;
        text-align: left;
    }

    .table-town table thead tr .header-kalk {
        margin-right: -1px;
    }

    .town-box:nth-child(2n+1) {
        padding-right: 15px;
    }

    .town-box:nth-child(2n+2) {
        padding-left: 15px;
    }

    .text-wrap {
        padding: 35px 0 20px;
    }

    .about-us-box {
        height: 415px;
        overflow: inherit;
    }

    .direktor-img {
        position: absolute;
        z-index: 5;
        top: 21px;
        left: -5px;
    }

    .direktor-comm-right {
        margin-left: -20px;
        padding-top: 100px;
    }

    .direktor-comm-right b {
        font-size: 16px;
    }

    .direktor-comm-right p.q-marks {
        line-height: 1.5;
    }

    .direktor-comm-right p.q-marks:before {
        height: 25px;
        width: 35px;
        left: -45px;
        top: -8px;
    }

    .direktor-comm-right p.q-marks {
        margin-bottom: 10px;
    }

    .why-we-container h2 {
        font-size: 30px;
        margin-bottom: 25px;
    }

    .why-we-item {
        padding: 13px 0 17px;
    }

    .why-we-container h3 {
        font-size: 18px;
    }

    .content-title {
        text-transform: none;
        font-family: 'GothamProMedium';
        margin-top: 0;
    }

    .rekl-box {
        padding-top: 10px;
    }

    .rekl-box-price {
        padding-bottom: 10px;
        padding-left: 15px;
    }

    .rekl-box-left {
        padding-left: 15px;
    }

    .rekl-box-calendar {
        border-top: none;
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .rekl-box.rekl-descr {
        border-top: 1px solid #e1e1e1;
        padding-top: 25px;
        padding-bottom: 10px;
        border-bottom: 1px solid #e1e1e1;
    }

    .rekl-box.rekl-descr p {
        font-size: 15px;
    }

    .serv-item-checkbox label {
        margin-bottom: 13px;
    }

    .rekl-box-serv-item {
        padding-left: 15px;
        padding-top: 5px;
    }

    .rekl-box-calendar .rekl-box-year {
        line-height: 1.4;
    }

    .rekl-box.rekl-descr .h3.no-uppercase {
        font-size: 18px;
    }

    .rekl-box.in-basket-btn {
        padding-top: 30px;
        padding-bottom: 35px;
    }

    .rekl-box.in-basket-btn .yellow-btn {
        max-width: 380px;
        padding: 27px 0;
    }

    .rekl-container {
        margin-bottom: 20px;
    }

    #rekl-shit-slider .gallery-top {
        height: 470px;
    }

    #rekl-shit-slider .gallery-thumbs {
        height: 95px;
    }

    #contact-maps {
        padding: 0;
        height: 315px;
    }

    .adress-item:nth-child(2),
    .adress-item:nth-child(4) {
        order: 0;
    }

    .adress-item:nth-child(2n+1) {
        padding-right: 10%;
    }

    .adress-item:nth-child(2n+2) {
        padding-left: 5%;
    }

    .adress-block {
        padding-top: 5px;
    }

    .dowld-box img {
        margin-top: 7px;
    }

    .time-work-left b,
    .transport-item b {
        font-size: 16px;
    }

    .transport-item b {
        margin-bottom: 5px;
    }

    .adress-block h2 {
        margin-top: 35px;
    }

    .adress-item:nth-child(1) h2,
    .adress-item:nth-child(2) h2 {
        margin-top: 20px;
    }

    .transport-block .nav.nav-tabs li a {
        padding: 20px 10px;
    }

    .transport-item {
        padding: 35px 0 35px 27px;
    }

    .transport-item.avtobus {
        padding-top: 0px;
    }

    .transport-block .tab-content {
        padding-top: 40px;
    }

    .transport-item i {
        left: 0;
    }

    .transport-item i.fa-bus {
        top: 3px;
    }

    .transport-item i.fa-map-marker {
        top: 33px;
    }

    .transport-item i.fa-phone,
    .transport-item i.fa-credit-card-alt {
        top: 39px;
    }

    .transport-item:last-child {
        padding-bottom: 15px;
    }

    .time-work-left {
        width: 70%;
        margin-right: 10%;
    }

    .time-work-right {
        width: 20%;
    }

    .faq-container h4 {
        font-size: 16px;
    }

    .answ-text {
        padding: 17px 15px 12px 15px;
    }

    .quest-title {
        padding: 17px 10% 17px 15px;
    }

    .quest-title:after {
        right: 15px;
    }

    .price-ot .red-title {
        font-size: 18px;
    }

    #arenda-maps {
        height: 515px;
        padding: 15px;
    }

    .arenda-container {
        padding-bottom: 15px;
    }

    .arenda-block {
        padding-bottom: 15px;
    }

    .arenda-box:nth-child(1) {
        order: 1;
    }

    .arenda-box:nth-child(2) {
        order: 3;
    }

    .arenda-box:nth-child(3) {
        order: 5;
    }

    .arenda-box:nth-child(4) {
        order: 2;
    }

    .arenda-box:nth-child(5) {
        order: 4;
    }

    .arenda-box:nth-child(6) {
        order: 6;
    }

    .arenda-box .cust-select {
        margin-top: 0;
        min-width: 285px;
        width: 90%;
    }

    .arenda-box-case {
        min-width: 285px;
        width: 100%;
    }

    .arenda-box-price {
        min-width: 285px;
        width: 90%;
    }

    .arenda-box-left .cust-select,
    .arenda-box-price input {
        width: 100% !important;
    }

    .float-box-right,
    .arenda-box-case {
        padding-left: 15%;
    }

    .float-box-left {
        width: 100%;
    }

    .arenda-box-left .cust-select {
        min-width: 135px;
    }

    .margin-bottom-40 .shadow {
        margin-bottom: 40px;
    }

    .nav.nav-tabs .tab-3 span:before {
        width: 25px !important;
        height: 24px !important;
        left: -45px !important;
    }

    .nav.nav-tabs .tab-4 span:before {
        background-position: -26px 0 !important;
        left: -50px !important;
        width: 27px !important;
        height: 23px !important;
    }

    .arenda-box-right {
        padding-left: 6%;
    }

    .arenda-box:nth-child(2n+2) {
        padding-left: 0;
    }

    .arenda-box:nth-child(2n+1) {
        padding-right: 0;
    }

    .mesto-descr .rekl-box-serv-item {
        padding-left: 0;
        padding-bottom: 10px;
        text-align: left;
    }

    .mesto-img,
    .mesto-maps {
        height: 170px;
    }

    .padding-right-10 {
        padding-right: 10px;
    }

    .padding-left-10 {
        padding-left: 10px;
    }

    .more-inform-btn {
        margin: 0 0 0 auto;
    }

    .mesto-item-body .in-basket-btn {
        margin: 0 auto 0 0;
    }

    .rekl-box-calendar.active-calendar {
        width: 55.55555555%;
        float: left;
        margin-bottom: 20px;
    }

    .rekl-box-calendar.no-active-calendar {
        width: 44.44444445%;
        float: left;
        margin-bottom: 20px;
    }

    .rekl-box-calendar.no-active-calendar .rekl-box-month label {
        height: 30px;
    }

    .rekl-box-calendar.active-calendar .rekl-box-month p,
    .rekl-box-calendar.no-active-calendar .rekl-box-month p,
    .active-calendar .month-checkbox input[type=checkbox]:disabled + label:before {
        font-size: 13px;
    }

    .more-item-list {
        padding: 10px;
    }

    .no-padding-bottom {
        padding-bottom: 0;
    }

    .mesto-item-list td:before {
        width: 30%;
    }

    .mesto-img,
    .mesto-maps {
        margin-bottom: 30px;
    }

    .rekl-box-calendar.active-calendar .rekl-box-month,
    .rekl-box-calendar.no-active-calendar .rekl-box-month {
        margin-top: 15px;
    }

    .rekl-box-calendar.active-calendar .rekl-box-month p,
    .rekl-box-calendar.no-active-calendar .rekl-box-month p {
        margin-bottom: 20px;
    }

    .rekl-box-case {
        padding-left: 15px;
        padding-right: 15px;
    }

    .pasport-shita-map {
        height: 395px;
    }

    .all-kanal-link {
        font-size: 18px;
    }

    .naryw-table-block table.shadow {
        margin-bottom: 10px;
    }

    .horiz-case table.shadow thead {
        display: table;
        width: 100%;
    }

    .horiz-case table.shadow .other-serv td:before {
        display: none;
    }

    .other-serv td {
        display: table-cell;
    }

    .five-column-rekl th:first-child,
    .five-column-rekl td:first-child,
    .five-column-stroka th:first-child,
    .five-column-stroka td:first-child {
        width: 20%;
    }

    .five-column-rekl th,
    .five-column-stroka th,
    .four-column th {
        font-size: 13px;
        text-align: center;
        font-family: 'GothamProMedium';
    }

    .five-column-rekl td:first-child .td,
    .five-column-stroka td:first-child .td,
    .four-column td:first-child .td {
        text-align: left;
    }

    .five-column-rekl td:first-child b,
    .five-column-stroka td:first-child b,
    .four-column td:first-child b {
        font-size: 13px;
        font-family: 'GothamProRegular';
    }

    .five-column-rekl th:nth-child(2),
    .five-column-rekl td:nth-child(2) {
        width: 20%;
    }

    .basket-rekl-table .mesto-item {
        border-top: 1px solid #e1e1e1;
        border-bottom: 1px solid #e1e1e1;
    }

    .basket-rekl-table .mesto-item th {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .basket-rekl-table .mesto-item-list {
        padding-bottom: 0;
        position: relative;
    }

    .naryw-table-block .basket-case-item td:last-child .td {
        position: absolute;
        top: 65px;
        right: 15px;
    }

    .tv-box .basket-case-item td:last-child .td,
    .begyw-box .basket-case-item td:last-child .td,
    .dops-box .basket-case-item td:last-child .td {
        position: static;
    }

    .basket-rekl-table .mesto-item-list:nth-child(even) {
        background-color: #f5f5f5;
    }

    .basket-rekl-table tbody {
        padding-bottom: 15px;
    }

    .basket-rekl-table.tv-box th:first-child,
    .basket-rekl-table.tv-box th:nth-child(5),
    .basket-rekl-table.tv-box td:first-child,
    .basket-rekl-table.tv-box td:nth-child(5) {
        width: 16%;
        text-align: center;
    }

    .basket-rekl-table.tv-box th:nth-child(2),
    .basket-rekl-table.tv-box td:nth-child(2) {
        width: 13%;
        text-align: center;
    }

    .basket-rekl-table.tv-box th:nth-child(3),
    .basket-rekl-table.tv-box td:nth-child(3) {
        width: 21%;
        text-align: center;
    }

    .basket-rekl-table.tv-box th:nth-child(4),
    .basket-rekl-table.tv-box td:nth-child(4) {
        width: 30%;
        text-align: center;
    }

    .basket-rekl-table th:last-child,
    .basket-rekl-table td:last-child,
    .basket-rekl-table.begyw-box th:last-child,
    .basket-rekl-table.begyw-box td:last-child {
        width: 3%;
    }

    .basket-rekl-table th:last-child,
    .basket-rekl-table td:last-child .td,
    .basket-rekl-table.begyw-box th:last-child,
    .basket-rekl-table.begyw-box td:last-child .td {
        padding: 0;
    }

    .basket-rekl-table.tv-box .basket-case-item th:last-child,
    .basket-rekl-table.tv-box .basket-case-item td:last-child .td,
    .basket-rekl-table.begyw-box .basket-case-item th:last-child,
    .basket-rekl-table.begyw-box .basket-case-item td:last-child .td,
    .basket-rekl-table.dops-box .basket-case-item th:last-child,
    .basket-rekl-table.dops-box .basket-case-item td:last-child .td {
        padding-right: 15px;
    }

    .basket-rekl-table.tv-box .basket-case-item td:first-child,
    .basket-rekl-table.begyw-box .basket-case-item td:first-child,
    .basket-rekl-table.dops-box .basket-case-item td:first-child {
        border-top: 0;
        border-bottom: 0;
    }

    .basket-rekl-table.tv-box .basket-case-item .td,
    .basket-rekl-table.begyw-box .basket-case-item .td,
    .basket-rekl-table.dops-box .basket-case-item .td {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .basket-rekl-table.tv-box .row-price-info {
        position: relative;
    }

    .basket-rekl-table.tv-box .row-price-info .td {
        position: absolute;
        top: 0;
        left: 0;
        text-align: left;
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        width: 150%;
        padding-left: 6%;
    }

    .basket-rekl-table.begyw-box th:first-child,
    .basket-rekl-table.begyw-box td:first-child {
        width: 16%;
        text-align: center;
    }

    .basket-rekl-table.begyw-box th:nth-child(2),
    .basket-rekl-table.begyw-box td:nth-child(2) {
        width: 30%;
        text-align: center;
    }

    .basket-rekl-table.begyw-box th:nth-child(3),
    .basket-rekl-table.begyw-box td:nth-child(3) {
        width: 16%;
        text-align: center;
    }

    .basket-rekl-table.begyw-box th:nth-child(4),
    .basket-rekl-table.begyw-box td:nth-child(4) {
        width: 19%;
        text-align: center;
    }

    .basket-rekl-table.begyw-box th:nth-child(5),
    .basket-rekl-table.begyw-box td:nth-child(5) {
        width: 15%;
        text-align: center;
    }

    .basket-rekl-table.dops-box th:first-child,
    .basket-rekl-table.dops-box td:first-child {
        width: 41%;
        text-align: center;
    }

    .basket-rekl-table.dops-box th:nth-child(2),
    .basket-rekl-table.dops-box td:nth-child(2) {
        width: 20%;
        text-align: center;
    }

    .basket-rekl-table.dops-box th:nth-child(3),
    .basket-rekl-table.dops-box td:nth-child(3) {
        width: 18%;
        text-align: center;
    }

    .basket-rekl-table.dops-box th:nth-child(4),
    .basket-rekl-table.dops-box td:nth-child(4) {
        width: 17%;
        text-align: center;
    }

    .basket-case-footer {
        display: inline-block;
        width: 100%;
        margin-top: 15px;
        margin-bottom: 10px;
    }

    .basket-container {
        padding-bottom: 0;
    }

    .basket-end-price b:first-child {
        font-size: 24px;
    }

    .basket-end-price p > b {
        font-size: 18px !important;
    }

    .basket-end-price p {
        margin-bottom: 0;
    }

    .basket-end-price {
        margin-top: 0;
    }

    .basket-case {
        display: inline-block;
        width: 100%;
    }

    .basket-case h2 {
        margin-top: 25px;
        margin-bottom: 10px;
    }

    .basket-case .shadow {
        margin: 0;
    }

    .basket-case:first-child h2 {
        margin-bottom: 20px;
    }

    .yellow-btn.shadd {
        max-width: 295px;
    }

    .basket-rekl-table.dops-box th:first-child {
        text-align: left;
        padding-left: 15px;
    }

    .checkbox-no-number label {
        padding-left: 10px;
    }

    .begyw-block .kalk-item span {
        display: inline-block !important;
    }

    .begyw-block .kalk-item .header-kalk span {
        color: #000;
        display: inline;
    }

    .begyw-block .kalk-item {
        width: 100%;
        margin-bottom: 0;
        display: table;
    }

    .begyw-block .kalk-item .header-kalk {
        border-top: 0;
    }

    .begyw-block .kalk-item th:nth-child(1),
    .begyw-block .kalk-item td:nth-child(1) {
        width: 20%;
        display: table-cell;
        vertical-align: middle;
    }

    .begyw-block .kalk-item th:nth-child(2),
    .begyw-block .kalk-item td:nth-child(2) {
        width: 22%;
        display: table-cell;
        vertical-align: middle;
    }

    .begyw-block .kalk-item th:nth-child(3),
    .begyw-block .kalk-item td:nth-child(3) {
        width: 23%;
        display: table-cell;
        vertical-align: middle;
    }

    .begyw-block .kalk-item th:nth-child(4),
    .begyw-block .kalk-item td:nth-child(4) {
        width: 20%;
        display: table-cell;
        vertical-align: middle;
    }

    .begyw-block .kalk-item th:nth-child(5),
    .begyw-block .kalk-item td:nth-child(5) {
        width: 15%;
        display: table-cell;
        vertical-align: middle;
    }

    .begyw-block table thead .footer-kalk {
        text-align: left;
    }

    .custom-options {
        min-width: 140px;
    }

    .begyw-block table thead th,
    .begyw-block table td .td {
        padding: 23px 10px 23px 15px;
    }

    .stroka-basket-block .basket-block-body-title {
        width: 40%;
    }

    .stroka-basket-block .basket-block-body-time {
        font-family: 'GothamProRegular';
    }

    .stroka-basket-block .basket-block-body-price {
        font-size: 15px;
    }

    .hint-box:after {
        content: '';
        display: inline-block;
        width: 16px;
        height: 16px;
        background: url(../img/quest.png) top center  no-repeat;
        vertical-align: middle;
        margin-left: 7px;
    }

    .hint-box:after:hover {
        cursor: pointer;
    }

    .add-more-number {
        margin-top: 10px;
    }

    .add-more-number-box {
        text-align: center;
    }

    .form-advert-box {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        margin-bottom: 30px;
    }

    .rekl-box-calendar.active-calendar,
    .rekl-box-calendar.no-active-calendar {
        width: auto;
        display: table-cell;
        vertical-align: top;
    }

    .kanal-block .checkbox-item label {
        height: 190px;
    }

    .link-basket {
        top: 75px;
        width: 275px;
        right: -275px;
    }

    .fade-basket-block .basket-block .basket-block-body {
        height: 450px;
    }

    .fade-basket-block .basket-block-body-title {
        width: 100%;
        display: inline-block;
        padding-right: 20px;
    }

    .fade-basket-block .basket-block-body-count {
        width: 100%;
        display: inline-block;
    }

    .fade-basket-block .basket-block-body-dell-item {
        position: absolute;
    }

    .fade-basket-block .basket-block-footer .basket-block-footer-price {
        float: none;
        margin-bottom: 15px;
        padding-top: 0;
    }

    .rekl-container img {
        padding: 15px;
    }

    .form-advert .field-userticker-phone input {
        margin-bottom: 15px;
    }

    #radio-ad-basket .basket-block-text p {
        font-size: 15px;
    }

    .affix,
    .affix-top,
    .affix-bottom {
        position: relative;
    }

    .anchors .tags > p {
        font-size: 24px;
    }

    .anchors .tag > p,
    .anchors a {
        font-size: 18px;
    }

    .mesto-descr .owl-carousel {
        max-width: 555px;
        margin-bottom: 30px;
    }
}

@media (min-width: 768px) {
    .col-sm-1-1 {
        min-width: 76.45px;
    }

}
